{% extends base_template %}
{% load i18n graphs static compress %}
{% get_static_prefix as STATIC_PREFIX %}

{% block navigation_buttons %}
{{ block.super }}
{% endblock %}

{% block title %}
{{ graph.name }}
{% endblock %}

{% block menu_buttons %}
{% toolbar on="queries" %}
{% endblock %}

{% block content_title %}
{% trans "Delete" as label %}
{% breadcrumb graph queries_link query_name label %}
{% endblock %}

{% block content %}

<form method="post" action="." id="queryDelete" name="query_delete">
    {% csrf_token %}
    {{ form.as_p }}
    <br/>
    <input type="submit" value="{% trans "Delete" %}" />
    <span class="buttonLinkOption">
    {% if as_modal %}
        {% trans "or" %} <a id="modal-cancel" href="javascript:void()">{% trans "Cancel" %}</a>
    {% else %}
        {% trans "or" %} <a href="{% url "queries_list" graph.slug %}">{% trans "Cancel" %}</a>
    {% endif %}
    </span>
</form>

{% endblock %}
