{% extends "base.html" %}
{% load i18n graphs static %}
{% get_static_prefix as STATIC_PREFIX %}

{% block navigation_buttons %}
{{ block.super }}
{% endblock %}

{% block title %}
{{ graph.name }}
{% endblock %}

{% block menu_buttons %}
{% toolbar on="queries" %}
{% endblock %}

{% block content_title %}
{% trans "Queries" as label %}
{% breadcrumb graph label %}
{% endblock %}

{% block content %}

<!-- Features Tour -->
<ol id="tour" class="hidden" data-tour-id="">
  <li data-id="query-list" data-button="{% trans "Next" %}" class="">
    <h2>{% trans "List of queries" %}</h2>
    <p>{% trans "The list of queries that we have saved. We have two options with every saved query:" %}
      <dl>
        <dt>{% trans "Play button" %}</dt>
        <dd>{% trans "Useful to run the saved query." %}</dd>
        <dt>{% trans "Edit button" %}</dt>
        <dd>{% trans "Useful to edit the saved query." %}</dd>
      </dl>
    </p>
  </li>
  <li data-id="create-query" data-button="{% trans "Next" %}" class="">
    <h2>{% trans "New query" %}</h2>
    <p>{% trans "This button allows us to navegate to the query builder view and create a new query." %}</p>
  </li>
</ol>

{% if queries %}
<div id="content2">
    <div id="query-list" style="margin-top: 20px;">
        <table class="content-table">
            <th>{% trans "#" %}</th>
            <th>
                <a href="?page={{ queries.number }}&order_by=name&dir={{ dir }}" style="text-decoration: none;">
                    <div class="shorten-text">
                    {% trans "Name" %}
                    </div>
                    <a class='remove-sorting'
                       href="?page={{ queries.number }}&order_by=id" title="{% trans "Remove from sorting" %}"></a>
                {% if dir == '-' %}
                    <a class='sorting-asc' href="?page={{ queries.number }}&order_by=name&dir={{ dir }}" title="{% trans "Sorting ascending by " %} {{ order_by }}"></a>
                {% else %}
                    <a class='sorting-desc' href="?page={{ queries.number }}&order_by=name&dir={{ dir }}" title="{% trans "Sorting descending by " %} {{ order_by }} "></a>
                {% endif %}
                </a>
            </th>
            <th>
                <a href="?page={{ queries.number }}&order_by=description&dir={{ dir }}" style="text-decoration: none;">
                    <div class="shorten-text">
                    {% trans "Description" %}
                    </div>
                    <a class='remove-sorting' href="?page={{ queries.number }}&order_by=id" title="{% trans "Remove from sorting" %}"></a>
                {% if dir == '-' %}
                    <a class='sorting-asc' href="?page={{ queries.number }}&order_by=description&dir={{ dir }}" title="{% trans "Sorting ascending by " %} {{ order_by }}"></a>
                {% else %}
                    <a class='sorting-desc' href="?page={{ queries.number }}&order_by=description&dir={{ dir }}" title="{% trans "Sorting descending by " %} {{ order_by }}"></a>
                {% endif %}
                </a>
            </th>
            <th>
                <a href="?page={{ queries.number }}&order_by=results_count&dir={{ dir }}" style="text-decoration: none;">
                    <div class="shorten-text">
                    {% trans "Results count" %}
                    </div>
                    <a class='remove-sorting' href="?page={{ queries.number }}&order_by=id" title="{% trans "Remove from sorting" %}"></a>
                {% if dir == '-' %}
                    <a class='sorting-asc' href="?page={{ queries.number }}&order_by=results_count&dir={{ dir }}" title="{% trans "Sorting ascending by " %} {{ order_by }}"></a>
                {% else %}
                    <a class='sorting-desc' href="?page={{ queries.number }}&order_by=results_count&dir={{ dir }}" title="{% trans "Sorting descending by " %} {{ order_by }}"></a>
                {% endif %}
                </a>
            </th>
            <th>
                <a href="?page={{ queries.number }}&order_by=last_run&dir={{ dir }}" style="text-decoration: none;">
                    <div class="shorten-text">
                    {% trans "Last run" %}
                    </div>
                    <a class='remove-sorting' href="?page={{ queries.number }}&order_by=id" title="{% trans "Remove from sorting" %}"></a>
                {% if dir == '-' %}
                    <a class='sorting-asc' href="?page={{ queries.number }}&order_by=last_run&dir={{ dir }}" title="{% trans "Sorting ascending by " %} {{ order_by }}"></a>
                {% else %}
                    <a class='sorting-desc' href="?page={{ queries.number }}&order_by=last_run&dir={{ dir }}" title="{% trans "Sorting descending by " %} {{ order_by }}"></a>
                {% endif %}
                </a>
            </th>
        {% for query in queries %}
            <tr class="{% cycle 'row-even' 'row-odd' %}">
                <td id="button-edit" class="dataList">
                    <a href="{% url "queries_query_results" graph.slug query.id %}" alt='{% trans "Run query" %}' title='{% trans "Run query" %}'><i class="fa fa-play-circle"></i></a>
                    <a class="edit" href="{% url "queries_query_edit" graph.slug query.id %}" alt='{% trans "Edit query" %}' title='{% trans "Edit query" %}'>&nbsp;</a>
                    <a href="{% url "queries_query_delete" graph.slug query.id %}" alt='{% trans "Delete query" %}' title='{% trans "Delete query" %}'><i class="fa fa-times-circle"></i></a>
                </td>
                <td id="query-name" class=""><div class="shorten-text">{{ query.name }}</div></td>
                <td id="query-description"><div class="shorten-text">{{ query.description }}</div></td>
                <td id="query-results-count"><div class="shorten-text">{{ query.results_count }}</div></td>
                <td id="query-last-run"><div class="shorten-text">{{ query.last_run }}</div></td>
            </tr>
        {% endfor %}
        </table>
        <div class="pagination">
            {% if queries.paginator.per_page < queries.paginator.count %}
              <span class='pagination-info'>
                {% blocktrans with per_page=queries.paginator.per_page count=queries.paginator.count %}
                  Showing {{ per_page }} of {{ count }} queries.
                {% endblocktrans %}
              </span>
              <span class="step-links">
                {% if queries.has_previous %}
                  <!-- We need to keep the order when we order pages -->
                  <a href="?page={{ queries.previous_page_number }}&order_by={{ order_by }}&dir={{ page_dir }}&page_dir={{ page_dir }}"><span class="symbol-medium">←</span></a>
                {% endif %}

                <span class="current">
                  {% blocktrans with number=queries.number num_pages=queries.paginator.num_pages %}
                    Page {{ number }} of {{ num_pages }}.
                  {% endblocktrans %}
                </span>

                {% if queries.has_next %}
                  <!-- We need to keep the order when we order pages -->
                  <a href="?page={{ queries.next_page_number }}&order_by={{ order_by }}&dir={{ page_dir }}&page_dir={{ page_dir }}"><span class="symbol-medium">→</span></a>
                {% endif %}
              </span>
            {% elif queries %}
              <span class="pagination-info">
                {% blocktrans with count=queries.paginator.count %}
                  Showing {{ count }} queries.
                {% endblocktrans %}
              </span>
            {% endif %}
          </div>
    </div>
</div>
{% endif %}
<div id="query-builder" style="margin-top: 20px;">
    <a class="button" id="create-query" href="{% url "queries_new" graph.slug %}">{% trans "New Query" %}</a>
</div>
{% endblock %}
