{% extends "base.html" %}
{% load i18n graphs static %}
{% get_static_prefix as STATIC_PREFIX %}

{% block navigation_buttons %}
{{ block.super }}
{% endblock %}

{% block title %}
{{ graph.name }}
{% endblock %}

{% block menu_buttons %}
{% toolbar on="queries" %}
{% endblock %}

{% block content_title %}
{% trans "Queries" as label %}
{% breadcrumb graph label %}
{% endblock %}

{% block content %}

<!-- Features Tour -->
<ol id="tour" class="hidden" data-tour-id="">
  <li data-id="query-list" data-button="{% trans "Next" %}" class="">
    <h2>{% trans "List of queries" %}</h2>
    <p>{% trans "The list of queries that we have saved. We have two options with every saved query:" %}
      <dl>
        <dt>{% trans "Play button" %}</dt>
        <dd>{% trans "Useful to run the saved query." %}</dd>
        <dt>{% trans "Edit button" %}</dt>
        <dd>{% trans "Useful to edit the saved query." %}</dd>
      </dl>
    </p>
  </li>
  <li data-id="create-query" data-button="{% trans "Next" %}" class="">
    <h2>{% trans "New query" %}</h2>
    <p>{% trans "This button allows us to navegate to the query builder view and create a new query." %}</p>
  </li>
</ol>

{% if queries %}
<div id="query-list" style="margin-top: 20px;">
    <table class="content-table">
        <th>{% trans "Name" %}</th>
        <th>{% trans "Description" %}</th>
        <th>{% trans "Results count" %}</th>
        <th>{% trans "Last run" %}</th>
        <th></th>
    {% for query in queries %}
        <tr>
            <td id="query-name">{{ query.name }}</td>
            <td id="query-description">{{ query.description }}</td>
            <td id="query-results-count">{{ query.results_count }}</td>
            <td id="query-last-run">{{ query.last_run }}</td>
            <td id="button-edit" class="dataList">
                <a class="edit" href="{% url "queries_query_edit" graph.slug query.id %}" alt='{% trans "Edit query" %}' title='{% trans "Edit query" %}'>&nbsp;</a>
                <a href="{% url "queries_query_results" graph.slug query.id %}" alt='{% trans "Run query" %}' title='{% trans "Run query" %}'><i class="fa fa-play-circle"></i></a></td>
        </tr>
    {% endfor %}
    </table>
</div>
{% endif %}
<div id="query-builder" style="margin-top: 20px;">
    <a class="button" id="create-query" href="{% url "queries_new" graph.slug %}">{% trans "New Query" %}</a>
</div>
{% endblock %}
