{% extends "base.html" %}
{% load i18n graphs static compress %}
{% get_static_prefix as STATIC_PREFIX %}

{% block navigation_buttons %}
{{ block.super }}
{% endblock %}

{% block title %}
{{ graph.name }}
{% endblock %}

{% block menu_buttons %}
{% toolbar on="queries" %}
{% endblock %}

{% block content_title %}
{% trans "New" as label %}
{% breadcrumb graph queries_link label %}
{% endblock %}

{% block content %}

<!-- Features Tour -->
<!--<ol id="tour" class="hidden" data-tour-id="">
  <li data-id="select-node" data-button="{% trans "Next" %}" class="">
    <h2>{% trans "Types" %}</h2>
    <p>{% trans "The node types that we can select to build a query." %}</p>
  </li>
  <li data-id="run-button" data-button="{% trans "Next" %}" class="">
    <h2>{% trans "Run" %}</h2>
    <p>{% trans "Click this button to run the built query." %}</p>
  </li>
  <li data-id="clear-button" data-button="{% trans "Next" %}" class="">
    <h2>{% trans "Clear query" %}</h2>
    <p>{% trans "Click this button to remove the entire built query." %}</p>
  </li>
  <li data-id="id_name" data-button="{% trans "Next" %}">
    <h2>{% trans "Name" %}</h2>
    <p>{% trans "Name for the query. It is required by default." %}</p>
  </li>
  <li data-id="id_description" data-button="{% trans "Next" %}">
    <h2>{% trans "Description" %}</h2>
    <p>{% trans "Description for the query. It is required by default." %}</p>
  </li>
  <li data-id="save-query" data-button="{% trans "Finish" %}">
    <h2>{% trans "Save query" %}</h2>
    <p>{% trans "Click this button to save the query. To save the number of results and the last run date, you have to run the query before." %}</p>
  </li>
</ol>-->

{% if node_types %}
<div id="query-new-wrapper" style="display: inline-block;">
    <div id="div-save-query" style="float: left; display: none;">
        <a href="javascript:void(0);"><h2>{% trans "Query" %}</h2></a>
        <div class="content-save-query">
            <form method="post" action="." id="form-save-query" name="form query save">
                {% csrf_token %}
                {% for field in form %}
                    {% if field.is_hidden %}
                        {{ field|escape }}
                    {% else %}
                        <p>
                            <label>{{ field.label|escape}}:</label>
                            {{ field|escape }}
                        </p>
                    {% endif %}
                    {% if field.errors %}
                        <div class="errorlist">
                        {% for error in field.errors %}
                            <li>{{ error|escape }}</li>
                        {% endfor %}
                        </div>
                    {% endif %}
                {% endfor %}
                <input type="submit" id="save-query" name="saveQuery" value="{% trans "Save query" %}" />
                <span class="buttonLinkOption buttonLinkRight" style="float: none; margin-top: 15px;">
                    {% trans "or" %} <a id="cancel-button" href="{% url "queries_list" graph.slug %}">{% trans "Cancel" %}</a>
                </span>
            </form>
        </div>
    </div>
    <div class="content-divider" style="display: none;"></div>
    <div class="content2-second diagram" style="padding-left: 0px; float: none; width: 1140px;">
        <h2 id="diagramTitle">{% trans "Diagram" %}</h2>
        <div id="diagramContainer">
           <nav id="select-node" class="menu">
                <ul id="node-options">
                    <li>
                        <a id="select-node-type" href="javascript:void(0)" class="inline link">
                            <span>{% trans "Types" %}</span>
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <div id="node-types" style="display: block;">
                            <table class="toolsBrowse" style="display: table;">
                                {% for node_type in node_types %}
                                    <tr>
                                        <td class="dataActions"><a class="add-box dataOption list" data-type="{{node_type.slug}}" href="javascript:void(0);" style="width: 80px;">{{ node_type.name|capfirst }}</a></td>
                                    </tr>
                                {% endfor %}
                                    <tr>
                                        <td class="dataActions"><a class="add-box dataOption list" data-type="wildcard" href="javascript:void(0);" style="width: 80px;">{% trans "Wildcard Type" %}</a></td>
                                    </tr>
                            </table>
                        </div>
                    </li>
                </ul>
            </nav>
             <div id="diagram"></div>
        </div>
    </div>
    <div id="run-query-div">
        <form method="post" action="{% url "queries_new_results" graph.slug %}" id="form-run-query">
            {% csrf_token %}
            <input type="hidden" id="query" name="query" />
            <input type="hidden" id="query_aliases" name="query_aliases" />
            <input type="hidden" id="query_fields" name="query_fields" />
            <span class="buttonLinkOption buttonLinkLeft">
                <input type="submit" id="run-query" name="run-query" value="{% trans "Run" %}" />
                 {% trans "or" %}
                <input type="button" id="save-button" name="save-button" value="{% trans "Save" %}" />
                <!--<a id="save-button" href="javascript:void(0)">{% trans "Save" %}</a>-->
            </span>
            <span class="buttonLinkOption buttonLinkRight">
                {% trans "or" %} <a id="clear-button" href="javascript:void(0)">{% trans "Clear" %}</a>
            </span>
        </form>
    </div>
</div>
{% endif %}
{% endblock %}

{% block extra_links %}
    {% compress css %}
        <link rel="stylesheet" type="text/css" href="{{ STATIC_PREFIX }}css/schemas.diagram.css" />
        <link rel="stylesheet" type="text/css" href="{{STATIC_PREFIX}}queries/css/queries.css" />
        <link rel="stylesheet" type="text/css" href="{{ STATIC_PREFIX }}css/chosen.css" />
        <link href="{{ STATIC_PREFIX }}css/token.input.css" type="text/css" rel="stylesheet" />
        <link href="{{ STATIC_PREFIX }}css/jqueryui.1.8.18.css" type="text/css" rel="stylesheet" />
    {% endcompress %}
{% endblock %}
{% block extra_scripts %}
<script type="text/javascript">
    if (!diagram) {
        var diagram = {};
    }

    diagram.Models = {% autoescape off %}{{ graph.schema.get_schema_diagram }}{% endautoescape %};

    diagram.url_collaborators = "{% url "graph_query_collaborators" graph.slug %}";
    diagram.url_query = "{% url "queries_new_results" graph.slug %}";
    diagram.relationshipImageSrc = "{{ STATIC_PREFIX }}img/rarr2.gif";
</script>

{% compress js %}
    <script type="text/javascript" src="{{ STATIC_PREFIX }}js/jquery-ui-1.9.1.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}js/jquery.jsPlumb-1.6.4-min.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}js/jquery.scrollto.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}js/chosen.jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}js/chosen.ajax.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}js/jqueryui.timepicker.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}js/jquery.blockUI.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}queries/js/queries.query.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}queries/js/queries_builder.js"></script>
{% endcompress %}


{# Not using compressor from here becuase it needs a huge refactoring: Django template's if statements are being used! #}

<!-- The next 'ifs' are for the case that we are going to edit a query.
     In that case, we send from the backend the json files to build the
     the query, and here we get them in JavaScript variables -->

{% if query_dict %}
<script type="text/javascript">
    var query = {};
    var query_dict = '{{ query_dict|safe }}';
    query_dict = JSON.parse(query_dict);
    query["query"] = query_dict;
</script>
{% endif %}

{% if query_aliases %}
<script type="text/javascript">
    var query_aliases = '{{ query_aliases|safe }}';
    query_aliases = JSON.parse(query_aliases);
    query["aliases"] = query_aliases;
</script>
{% endif %}

{% if query_fields %}
<script type="text/javascript">
    var query_fields = '{{ query_fields|safe }}';
    query_fields = JSON.parse(query_fields);
    query["fields"] = query_fields["fields"];
    query["fieldRelsCounter"] = query_fields["fieldRelsCounter"];
    query["checkboxes"] = query_fields["checkboxes"];
    query["aggregates"] = query_fields["aggregates"];
    query["fieldsConditions"] = query_fields["fieldsConditions"];

    (function($) {
        $(document).on('ready', function() {
            diagram.loadQuery(JSON.stringify(query));
        });
    })(jQuery);
</script>
{% endif %}
{% endblock %}
