{% extends "base.html" %}
{% load i18n graphs compress %}

{% block title %}
{% trans "Query" %}
{% endblock %}

{% block menu_buttons %}
{% toolbar on="queries_query" %}
{% endblock %}

{% block content_title %}
{% trans "Query" as label %}
{% breadcrumb graph label %}
{% endblock %}

{% block extra_scripts %}
<script type="text/javascript">
    sylva.urls = {
        queriesQueryResults: "{% url "queries_query_results" graph.slug %}"
    };
</script>

{% compress js %}
    <script type="text/javascript" src="{{ STATIC_PREFIX }}queries/js/queries_query.js"></script>
{% endcompress %}
{% endblock %}

{% block content %}
<div id="content2">
    <div class="content2-first">
        <h2>{% trans "Saved Queries" %}</h2>
        <div id="savedQueries">
            {% for saved_query in queries %}
            {% empty %}
            <span>{% trans "No saved queries yet" %}</span>
            {% endfor %}
        </div>
    </div>
    <div class="content-divider"></div>
    <div class="content2-second">
        <input type="text" name="query" id="id_query" style="width: 500px;" placeholder="{% trans "Type your query..." %}">
        <h2>{% trans "List" %}</h2>
        <div id="results"></div>
    </div>
</div>
{% endblock %}
