Django==1.6.2
GraphLab-Create==0.3.0
Parsley==1.1
Pillow==2.4.0
South==0.8.4
amqp==1.4.5
anyjson==0.3.3
argparse==1.2.1
billiard==3.3.0.17
boto==2.29.1
celery==3.1.11
decorator==3.4.0
django-appconf==0.6
django-compressor==1.4
django-guardian==1.2.0
django-maintenancemode==0.10
django-picklefield==0.2.1
django-s3-folder-storage==0.1
django-ses==0.4.1
django-storages==1.1.5
django-su==0.4.2
django-tinymce==1.5.2
django-userena==1.3.0
django-zebra==0.4.4
easy-thumbnails==1.5
html2text==2014.4.5
httplib2==0.7.7
jsonfield==0.9.20
kombu==3.0.16
lucene-querybuilder==0.2
neo4jrestclient==2.0.3
networkx==1.8.1
numpy==1.8.1
pandas==0.14.0
psycopg2==2.4.5
pyblueprints==0.5.1
pycrypto==2.6
git+git://github.com/ghewgill/pydkim.git
python-dateutil==2.2
python-rexster==0.1.1
pytz==2014.3
pyzmq==14.3.0
requests==2.3.0
simplejson==2.6.2
six==1.6.1
splinter==0.6.0
stripe==1.7.8
ujson==1.33
wsgiref==0.1.2
