Django==1.4
Pillow==1.7.6
South==0.7.3
# distribute==0.6.19
django-guardian==1.0.4
django-picklefield==0.1.9
django-userena==1.0.2
easy-thumbnails==1.0-alpha-21
httplib2==0.7.4
ipdb==0.6.1
ipython==0.11
# lucene-querybuilder==0.1.5
# In the mean time, we use our version
git+https://github.com/versae/lucene-querybuilder
neo4jrestclient==1.6.2
pyblueprints==0.5.1
pycrypto==2.4.1
python-dateutil==1.5
python-rexster==0.1.1
requests==0.8.2
simplejson==2.2.1
wsgiref==0.1.2

