Django==1.4.2
Pillow==1.7.8
South==0.7.6
argparse==1.2.1
boto==2.6.0
# distribute==0.6.24
django-guardian==1.0.4
django-maintenancemode==0.10
django-picklefield==0.2.1
django-s3-folder-storage==0.1
django-ses==0.4.1
django-storages==1.1.5
django-tinymce==1.5.1b4
django-userena==1.1.2
easy-thumbnails==1.1
httplib2==0.7.7
ipdb==0.7
ipython==0.13.1
lucene-querybuilder==0.1.5
neo4jrestclient==1.7.0
psycopg2==2.4.5
pyblueprints==0.5.1
pycrypto==2.6
pydkim==0.3
python-dateutil==2.1
python-rexster==0.1.1
requests==0.14.2
simplejson==2.6.2
six==1.2.0
ujson==1.23
wsgiref==0.1.2
