{% extends "base.html" %}
{% load i18n graphs %}

{% block title %}
  {{ graph.name }}
{% endblock %}

{% block extra_links %}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_PREFIX }}tools/css/tools.css">
{% endblock %}

{% block menu_buttons %}
  {% toolbar on="graph" %}
{% endblock %}

{% block content_title %}
  {% trans "Import" as label %}
  {% breadcrumb graph label %}
{% endblock %}

{% block content %}
  <div class="data-import">
    <div id="content2">
      <div class="content2-first">
        <div class="info">
          <p>
            {% blocktrans %}This tool allows to import data into your graph. You can use <a href="http://gexf.net/format/"><abbr title="Graph Exchange XML Format">GEXF (Gephi)</abbr></a> or <a href="http://en.wikipedia.org/wiki/Comma-separated_values"><abbr title="Comma-separated values">CSV</abbr></a> as file formats:{% endblocktrans %}
          </p>
        </div>
        <div class="options">
          <label class="option">
            <input type="radio" name="format" id="gexf-radio" value="gexf">
            {% trans "Load GEXF" %}
          </label>
          <label class="option">
            <input type="radio" name="format" id="csv-radio" value="csv">
            {% trans "Load CSV" %}
          </label>
        </div>
      </div>
      <div class="content-divider"></div>
      <div class="content2-second">
        <div class="uploader-wrapper">
          <div id="files-container" class="files-container" style="display: none;"></div>
          <div id="files-container2" class="files-container" style="display: none;"></div>
          <span id="loading-message" class="loading-message" style="display: none;"></span>
          <progress id="progress-bar" class="progress-bar" style="display: none;"></progress>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block extra_scripts %}
  <script>
    sylv.sylvaSchema = JSON.parse("{{ sylva_schema|escapejs }}");
    sylv.nodesCreateURL = "{% url ajax_node_create graph.slug %}";
    sylv.edgesCreateURL = "{% url ajax_relationship_create graph.slug %}";
  </script>
  <script src="{{ STATIC_PREFIX }}tools/js/data-importer.js"></script>
  <script src="{{ STATIC_PREFIX }}tools/js/tools.js"></script>
{% endblock %}