/* ids and classes in the templates files */

#query-information {
    padding: 1em;
    margin-left: 25px;
}

#label-description {
    margin-top: 15px;
}

#select-node {
    width: 111px;
    float: right;
    position: relative;
    z-index:1;
}

#select-node-type {
    margin-left: 33px;
}

#node-options {
    width: 120px;
    font-size: 11px;
    display: block;
}

#run-query-div {
    margin-top: 20px;
    float: right;
}

#save-button {
    margin-top: 40px;
    margin-left: 20px;
}

#query-builder-results {
    display: inline;
}

/* ids and class in the js files */

.div-list-rel {
    display: table-row;
}

.list-rel {
    list-style: none;
    color: #99999D;
    height: 20px;
    font-size: 12px;
    padding: 2px 5px 2px 13px;
    display: table-cell;
    width: 90px;
}

.select-rel {
    width: 130px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 12px;
    padding: 0;
    display: inline;
}

#add-relation-icon {
    margin-left: 199px;
}

#add-relation-icon-wildcard {
    margin-left: 162px;
}

#add-field-icon {
    float: right;
    margin-right: 4px;
}

#add-field-icon-prop {
    float: right;
    margin-right: 4px;
    color: #AEAA78;
}

#remove-relation-icon, #remove-relation-icon-wild {
    margin-left: 234px;
}

#remove-field-icon {
    margin-left: 8px;
    margin-right: 5px;
}

#remove-field-icon-rel {
    margin-left: 8px;
    margin-right: 5px;
    color: #AEAA78;
}

#add-wildcardInput-icon {
    margin-left: 336px;
}

#remove-wildcardInput-icon {
    margin-left: 222px;
}

#remove-field-icon-prop {
    float: right;
    color: #AEAA78;
}

.add-field-row, .add-field-row-rel {
    margin-left: 2%;
}

.title {
    /*padding-bottom: 2%;*/
}

.checkbox-select-type {
    float: left;
    margin-top: 1% !important;
}

.box-name {
    float: left;
    margin-left: 3%;
    margin-top: -1px;
}

.corner-buttons {
    margin-top: 2px;
}

.icon-style {
    color: white;
    float: right;
    margin-right: 8px;
}

.select-property {
    width: 70px;
    padding: 0;
    margin-left: 2%;
    display: inline;
    margin-top: -4px;
}

.select-lookup, .select-aggregate {
    width: 62px;
    padding: 0;
    display: none;
    margin-left: 10px;
    margin-top: -4px;
}

.field {
    height: 40px;
    margin-bottom: 5px;
    overflow: visible !important;
}

.checkbox-property {
    margin-left: 2%;
}

.select-and-or, .select-and-or-rel {
    width: 50px;
    padding: 0;
    display: none;
    margin-left: 8px;
    margin-top: -4px;
}

.wildCardInput {
    width: 70px;
}

.help-text {
    color: #99999D;
    height: 20px;
    font-size: 12px;
    padding: 2px 5px 2px 5px;
}

.endpoint-image {
    width: 12px !important;
    height: 12px !important;
}

.query-box-endpoint-target {
    margin-top: 12px;
}

#query-information {
    display: none;
}

.show-as {
    display: none;
}

/* Results table */

#results {
    width: 1092px;
    padding: 1em;
    margin-top: 50px;
    margin-left: 25px;
    display: inline;
}

/* Form styles */

#form-save-query {
    display: block;
    margin-top: 20px;
    padding-left: 2px;
    /*margin-left: 30px;*/
}

.content-save-query {
    min-width: 349px;
}

#labelName {

}

#labelDescription {
    margin-top: 15px;
}

#save-query {
    margin-top: 15px;
}

/* Invisible option for draggable endpoints */
.endpointInvisible {
    visibility: hidden !important;
}

/* drag and drop options for relationship */

.dragActive {
    box-shadow: 0 0 1em 0.75em #AEAA78;
}
