{% extends "base.html" %}
{% load i18n graphs %}

{% block navigation_buttons %}
    {{ block.super }}
{% endblock %}

{% block title %}
    {{ graph.name }}
{% endblock %}

{% block menu_buttons %}
    {% toolbar on="nodes" %}
{% endblock %}

{% block content_title %}
    {% breadcrumb graph graph.data nodetype action %}
    <!--<h2>{% trans "Graphs" %} » {{ graph.name|truncatewords_html:5 }} » {% trans "Nodes" %} » {{ action }} {{ nodetype.name }}</h2>-->
{% endblock %}

{% block content %}
    <div id="content3">
        <div class="content3-block">
            <a href="{% url nodes_edit graph.slug node.id %}" title="{% trans "Edit" %}"><i class="sylva-icon-edit-node16"></i></a>
            <h2 class="inline">{% trans "Properties" %}</h2>
            {% if node_properties %}
                <dl class="node-properties">
                    {% for prop in node_properties %}
                        {% if prop.value %}
                            <dt>{{ prop.key }}</dt>
                            <dd>
                                {% if prop.type == "Boolean" %}
                                    {% blocktrans with value=prop.value %}
                                        {{ value }}
                                    {% endblocktrans %}
                                {% else %}
                                    {{ prop.value }}
                                {% endif %}
                            </dd>
                        {% endif %}
                    {% endfor %}
                </dl>
            {% else %}
                {% trans "Empty" %}. <a href="{% url nodes_edit graph.slug node.id %}">{% trans "Add property" %}</a>
            {% endif %}
        </div>
        <div class="content-divider"></div>
        <div class="content3-block relationships">
            <a href="{% url nodes_edit graph.slug node.id %}" title="{% trans "Edit" %}"><i class="sylva-icon-edit-node16"></i></a>
            <select id="h2-relationships" class="inline">
                <option value="all">{% trans "All Relationships" %}</option>
                {% if incoming_relationships %}
                    <option value="incoming">{% trans "Incoming" %}</option>
                {% endif %}
                {% if outgoing_relationships %}
                    <option value="outgoing">{% trans "Outgoing" %}</option>
                {% endif %}
                {% for p in prefixes %}
                    <option value="{{ p.key }}">{{ p.value }}</option>
                {% endfor %}
            </select>
            {% if incoming_relationships or outgoing_relationships %}
                {% if outgoing_relationships %}
                    {% for dict in outgoing_relationships %}
                        <div id="{{ dict.prefix }}" class="all outgoing">
                            {% for relationship in dict.relations %}
                                <div class="relationship" title="{{ relationship.get_type }}">
                                    <span class="symbol-large">→</span> {{ relationship.source.display }} <span class="bold">{{ relationship.label_display }}</span> {{ relationship.target.display }}
                                    <div class="rel-properties hidden">
                                        <dl>
                                            {% for key, value in relationship.properties.items %}
                                                {% if value %}
                                                    <dt>{{ key }}</dt>
                                                    <dd>{{ value }}</dd>
                                                {% endif %}
                                            {% endfor %}
                                        </dl>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                {% endif %}
                {% if incoming_relationships %}
                    {% for dict in incoming_relationships %}
                        <div id="{{ dict.prefix }}" class="all incoming">
                            {% for relationship in dict.relations %}
                                <div class="relationship" title="{{ relationship.get_type }}">
                                    <span class="symbol-large">←</span> {{ relationship.target.display }} <span class="bold">{{ relationship.label_display }}</span> {{ relationship.source.display }}
                                    <div class="rel-properties hidden">
                                        <dl>
                                            {% for key, value in relationship.properties.items %}
                                                {% if value %}
                                                    <dt>{{ key }}</dt>
                                                    <dd>{{ value }}</dd>
                                                {% endif %}
                                            {% endfor %}
                                        </dl>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                {% endif %}
            {% else %}
                {% trans "Empty" %}. <a href="{% url nodes_edit graph.slug node.id %}">{% trans "Add relationship" %}</a>
            {% endif %}
        </div>
        <div class="content-divider"></div>
        <div class="content3-block">
            <div>
                <a href="{% url nodes_edit graph.slug node.id %}" title="{% trans "Edit" %}"><i class="sylva-icon-edit-node16"></i></a>
                <h2 id="filesTitle" class="inline">{% trans "Files" %}</h2>
                {% if media_files %}
                    <dl>
                        {% for file in media_files %}
                            <dt>{{ file.media_label }}</dt>
                            <dd><a href="{{ file.media_file.url }}" download="{{ file.media_file.name }}">{% trans "Download" %}</a></dd>
                        {% endfor %}
                    </dl>
                {% endif %}
            </div>
            <div>
                <a href="{% url nodes_edit graph.slug node.id %}" title="{% trans "Edit" %}"><i class="sylva-icon-edit-node16"></i></a>
                <h2 id="linksTitle" class="inline">{% trans "Links" %}</h2>
                {% if media_links %}
                    <dl>
                        {% for link in media_links %}
                            <dt>{{ link.media_label }}</dt>
                            <dd><a href="{{ link.media_link }}" target="_blank">{{ link.media_link }}</a></dd>
                        {% endfor %}
                    </dl>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- Features Tour -->
    <ol id="tour" class="hidden">
        <li data-class="node-properties" data-button="{% trans "Next" %}">
            <h2>{% trans "Node properties" %}</h2>
            <p>{% trans "Here is the list of properties of this node." %}</p>
        </li>
        <li data-id="h2-relationships" data-button="{% trans "Next" %}">
            <h2>{% trans "Relationships" %}</h2>
            <p>{% trans "Here is the list of relationships related to this node." %}</p>
        </li>
        <li data-class="relationship" data-button="{% trans "Next" %}">
            <h2>{% trans "Relationship details" %}</h2>
            <p>{% trans "Clicking on the relationship, you will see its properties (in case they exist)." %}</p>
        </li>
        <li data-id="filesTitle" data-button="{% trans "Finish" %}">
            <h2>{% trans "Multimedia" %}</h2>
            <p>{% trans "You can also show the meta-contents stored in this node: files and links." %}</p>
        </li>
    </ol>
{% endblock content %}
{% block extra_scripts %}
    <script type="text/javascript">
        (function($) {
            $(function() {
                $('#h2-relationships').on('change', function() {
                    var option = $(this).val();
                    if (option === 'all') {
                        $('.all').show();
                    } else if (option === 'incoming') {
                        $('.outgoing').hide();
                        $('.incoming').show();
                    } else if (option === 'outgoing') {
                        $('.incoming').hide();
                        $('.outgoing').show();
                    } else {
                        $('.all').hide();
                        $('#' + option).show();
                    }
                });

                $('.relationship').on('click', function() {
                    if ($(this).find('dl').html().trim() !== '') {
                        $(this).find('.rel-properties').toggle();
                    }
                });
            });
        })(jQuery);
    </script>
{% endblock extra_scripts %}