{% extends "results_list.html" %}

{% load i18n %}

{% block content_title %}
<h2>{% trans "Graphs" %} » {{ graph.name|truncatewords_html:5 }} » {% trans "Nodes" %}</h2>
{% endblock %}

{% block extra_scripts %}
{{ block.super }}
<script type="text/javascript">
    var retrieveRelationships = function(url, elementId){
        $.ajax({
            url: url,
            success: function(data){
                var relationships = JSON.parse(data);
                html = $('<span>');
                $.each(relationships, function(index, item){
                    html.append($('<a>')
                        .attr('href', '#')
                          .append(item.node))
                            .append(' | ');
                });
                $('#'+elementId).replaceWith(html);
            },
            error: function(error){
                console.log("ERROR: ", error);
            }
        });
    };
</script>
{% endblock %}

{% block last_row_element %}
<a id="rel_{{ cell }}"
  onClick="retrieveRelationships('{% url node_relationships graph.id cell %}', 'rel_{{ cell }}')">
    Retrieve relationships
</a>
{% endblock %}

{% block last_row_element_title %}
{% trans "Relationships" %}
{% endblock %}


{% block content_bottom_bar %}
    {% if option.3 %}
        <a href="javascript:;" onmousedown="divId='lc_'+{{forloop.counter}};if(document.getElementById(divId).style.display == 'none'){ document.getElementById(divId).style.display = 'block'; }else{ document.getElementById(divId).style.display = 'none'; }">
            {% trans "Toggle preview" %}</a>
        <a href="{% url nodes_list_full graph.id option.3 %}">
            {% blocktrans with node_type=option.0 %}
            Show full {{ node_type }} nodes list
            {% endblocktrans %}</a>
    {% endif %}
        <a href="{% url nodes_create graph.id option.3 %}">
            {% blocktrans with node_type=option.0 %}
                Add new {{ node_type }} node
            {% endblocktrans %}</a>
{% endblock %}
