{% extends base_template %}
{% load i18n graphs string_filters compress %}

{% block extra_links %}
  {% compress css %}
    <link href="{{ STATIC_PREFIX }}css/token.input.css" type="text/css" rel="stylesheet" />
    <link href="{{ STATIC_PREFIX }}data/css/django_leaflet_custom.css" type="text/css" rel="stylesheet" />
  {% endcompress %}
{% endblock %}

{% if not as_modal %}
  {% block navigation_buttons %}
  {{ block.super }}
  {% endblock %}

  {% block title %}
  {{ graph.name }}
  {% endblock %}

  {% block menu_buttons %}
  {% toolbar on="nodes" %}
  {% endblock %}

  {% block content_title %}
  {% breadcrumb graph graph.data nodetype action %}
  <!--<h2>{% trans "Graphs" %} » {{ graph.name|truncatewords_html:5 }} » {% trans "Nodes" %} » {{ action }} {{ nodetype.name }}</h2>-->
  {% endblock %}
{% endif %}

{% block content %}
  <div id="content3">
    {% if as_modal %}
      {% breadcrumb graph.data nodetype action %}
      <div id="save-url" data-url="{{ save_url }}" style="display: none;"></div>
      <div id="delete-url" data-url="{{ delete_url }}" style="display: none;"></div>
    {% endif %}
    <form id="edit-node-form" action="." method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div id="modal-content-scrollable-wrapper">
        <div id="modal-content-scrollable">
          <div id="properties-content" class="content3-block">
            <h2 id="propertiesTitle">{% trans "Properties" %}</h2>
            {% for field in node_form %}
              <p {% if field.name in fields_to_hide and not field.value %}class="hidden"{% endif %}>
              {{ field.errors }}
              {{ field.label_tag }}
              {{ field }}
              {% if field.help_text %}
                <span class="helptext">
                {{ field.help_text }}
                </span>
              {% endif %}
              </p>
            {% endfor %}
            {% if not as_modal %}
              <span class="buttonLinkOption buttonLinkLeft">
                <input type="submit" value="{% trans "Save" %} {{ nodetype.name|capfirst }}"/>
                {% if as_new %}
                {% trans "or" %}
                <input type="submit" name="as-new" value="{% trans "Save as new" %} {{ nodetype.name|capfirst }}"/>
                {% else %}
                {% trans "or" %}
                <input type="submit" class="input-like-link" name="add-another" id="add-another" value="{% trans "Save and Add Another" %} {{ nodetype.name|capfirst }}" />
                {% endif %}
              </span>
              <span class="buttonLinkOption buttonLinkRight" style="padding-top: 5px;">
                {% if delete %}
                {% trans "or" %}
                <a href="{% url "nodes_delete" graph.slug node.id %}">{% trans "Remove" %}</a>
                {% endif %}
                {% trans "or" %}
                <a href="{% url "nodes_list" graph.slug %}">{% trans "Cancel" %}</a>.
              </span>
            {% endif %}
          </div>
          {% if outgoing_formsets or incoming_formsets %}
            <div class="content-divider"></div>
            <div class="content3-block relationships">
              <select id="h2-relationships">
                <option value="all">{% trans "All Relationships" %}</option>
                {% if incoming_formsets %}
                <option value="incoming">{% trans "Incoming" %}</option>
                {% endif %}
                {% if outgoing_formsets %}
                <option value="outgoing">{% trans "Outgoing" %}</option>
                {% endif %}
                {% for p in prefixes %}
                  <option value="{{ p.key }}">{{ p.value }}</option>
                {% endfor %}
              </select>
              {% if outgoing_formsets %}
                {% for prefix, outgoing_formset in outgoing_formsets.items %}
                  <span class="all-relationships outgoing-relationships {{ prefix }}-relationships">
                    {{ outgoing_formset.management_form }}
                    <label>
                    <span class="symbol-medium">→</span> {{ outgoing_formset.itemtype.name }} ({{ outgoing_formset.itemtype.target.name }})
                    </label>
                    <span class="helptext">
                      {% trans "Target of the relationship" %}
                      <a class="add-node" href="{% url "nodes_create" outgoing_formset.itemtype.schema.graph.slug outgoing_formset.itemtype.target.id %}">
                        {% trans "Add" %} {{ outgoing_formset.itemtype.target.name }}
                      </a>
                    </span>
                    {% for outgoing_form in outgoing_formset %}
                      <span>
                      {% if forloop.last %}
                        <div id="{{ prefix }}">
                        {{ outgoing_form.as_p }}
                        </div>
                      {% else %}
                        <a class="delete-row initial-form floating" href="javascript:void(0)">
                          <!-- {% trans "Remove" %} {{ outgoing_formset.itemtype.name }} -->
                        </a>
                        <div class="initial" id="{{ prefix }}-form-{{ forloop.counter0 }}">
                        {{ outgoing_form.as_p }}
                        </div>
                      {% endif %}
                      </span>
                    {% endfor %}
                  </span>
                {% endfor %}
              {% endif %}
              {% if incoming_formsets %}
                {% for prefix, incoming_formset in incoming_formsets.items %}
                  <span class="all-relationships incoming-relationships {{ prefix }}-relationships">
                    {{ incoming_formset.management_form }}
                    <label>
                    <span class="symbol-medium">←</span> {{ incoming_formset.itemtype.name }} ({{ incoming_formset.itemtype.source.name }})
                    </label>
                    <span class="helptext">
                      {% trans "Source of the relationship" %}
                      <a class="add-node" href="{% url "nodes_create" incoming_formset.itemtype.schema.graph.slug incoming_formset.itemtype.source.id %}">
                        {% trans "Add" %} {{ incoming_formset.itemtype.source.name }}
                      </a>
                    </span>
                    {% for incoming_form in incoming_formset %}
                      <span>
                      {% if forloop.last %}
                        <div id="{{ prefix }}">
                        {{ incoming_form.as_p }}
                        </div>
                      {% else %}
                        <a class="delete-row initial-form floating" href="javascript:void(0)">
                          <!--
                          {% trans "Remove" %}
                          {% if incoming_formset.itemtype.inverse %}
                            {{ incoming_formset.itemtype.inverse }}
                          {% else %}
                            {{ incoming_formset.itemtype.name }}
                          {% endif %}
                          -->
                        </a>
                        <div class="initial" id="{{ prefix }}-form-{{ forloop.counter0 }}">
                        {{ incoming_form.as_p }}
                        </div>
                      {% endif %}
                      </span>
                    {% endfor %}
                  </span>
                {% endfor %}
              {% endif %}
            </div>
          {% endif %}
          <div class="content-divider"></div>
          <div class="content3-block">
            <h2 id="filesTitle">{% trans "Files" %}</h2>
            {{ mediafile_formset.management_form }}
            {% for mediafile_form in mediafile_formset.forms %}
              {% if forloop.last %}
                <div id="{{ mediafile_formset.prefix }}">
                {{ mediafile_form.as_p }}
                </div>
              {% else %}
                <div class="initial" id="{{ mediafile_formset.prefix }}-form-{{ forloop.counter0 }}">
                  {{ mediafile_form.as_p }}
                  <a class="fileDelete delete-rowupFiles initial-form" href="javascript:void(0)"></a>
                </div>
              {% endif %}
            {% endfor %}
            <h2 id="linksTitle">{% trans "Links" %}</h2>
            {{ medialink_formset.management_form }}
            {% for medialink_form in medialink_formset.forms %}
              {% if forloop.last %}
                <div id="{{ medialink_formset.prefix }}">
                {{ medialink_form.as_p }}
                </div>
              {% else %}
                <div class="initial" id="{{ medialink_formset.prefix }}-form-{{ forloop.counter0 }}">
                  {{ medialink_form.as_p }}
                  <a class="linkDelete delete-rowupLinks initial-form" href="javascript:void(0)"></a>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
      {% if as_modal %}
        <div id="modal-content-controls">
          <hr/>
          <span class="buttonLinkOption buttonLinkLeft">
            <input id="submit-save" type="submit" value="{% trans "Save" %} {{ nodetype.name|capfirst }}"/>
            {% if as_new %}
            {% trans "or" %}
            <input id="submit-save-as-new" type="submit" name="as-new" value="{% trans "Save as new" %} {{ nodetype.name|capfirst }}"/>
            {% endif %}
          </span>
          <span class="buttonLinkOption buttonLinkRight">
            {% if delete %}
            {% trans "or" %}
            <a id="submit-delete">{% trans "Remove" %}</a>
            {% endif %}
            {% trans "or" %}
            <a id="submit-cancel">{% trans "Cancel" %}</a>.
          </span>
        </div>
      {% endif %}
    </form>
  </div>

  {% if not as_modal %}
    <!-- Features Tour -->
    <ol id="tour" class="hidden" data-tour-id="nodes-editcreate">
      <li data-id="propertiesTitle" data-button="{% trans "Next" %}" class="joyride-position-data-properties">
        <h2>{% trans "Properties" %}</h2>
        <p>{% trans "The properties fields of this Type." %}</p>
      </li>
      <li data-id="h2-relationships" data-button="{% trans "Next" %}" class="joyride-position-data-relationships">
        <h2>{% trans "Relationships" %}</h2>
        <p>{% trans "By default, all the allowed relationships are showed. Clicking on this box, you can filter by other criteria." %}</p>
      </li>
      <li data-class="token-input-input-token" data-button="{% trans "Next" %}" class="joyride-position-data-relationship-input">
        <h2>{% trans "Create relationship" %}</h2>
        <p>{% trans "Start typing the label of a node to show it." %}</p>
      </li>
      <li data-class="addButton" data-button="{% trans "Next" %}" class="joyride-position-data-more-relationships">
        <h2>{% trans "More relationships" %}</h2>
        <p>{% trans "You can create more relationships of this type." %}</p>
      </li>
      <li data-id="filesTitle" data-button="{% trans "Next" %}" class="joyride-position-data-files">
        <h2>{% trans "Files" %}</h2>
        <p>{% trans "You can add files to this Type." %}</p>
      </li>
      <li data-id="linksTitle" data-button="{% trans "Finish" %}" class="joyride-position-data-links">
        <h2>{% trans "Links" %}</h2>
        <p>{% trans "Also you can add links." %}</p>
      </li>
    </ol>
  {% endif %}
{% endblock %}

{% block extra_scripts %}

  {# Not using compressor here because it's a dinamic set of CSS files #}
  {% for css in forms_media.css %}
    {{ css }}
  {% endfor %}

  <script type="text/javascript" src="{{ STATIC_PREFIX }}graphs/js/sigma-visualization.js"></script>
  <script type="text/javascript" src="{{ STATIC_PREFIX }}graphs/js/modals.js"></script>
  <script type="text/javascript" src="{{ STATIC_PREFIX }}js/jquery.simplemodal-1.4.4.js"></script>

  {% if as_modal %}
    <script type="text/javascript" src="{{ STATIC_PREFIX }}js/jquery.formsets.1.2.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}js/jquery.tokeninput.js"></script>
  {% endif %}

  <!-- We are adding here jQueryUI manually because maybe it is already in the template. -->
  {% if not as_modal %}
    <script src="{{ STATIC_PREFIX }}js/jquery-ui-1.10.4.js"></script>
  {% endif %}

  {# Not using compressor here because it's a dinamic set of JS files #}
  {% for js in forms_media.js %}
    {{ js }}
  {% endfor %}

  {# Not using compressor here becuase it needs a huge refactoring: Django template's for statements are being used! #}
  <script>
    (function($) {

      "use strict";

      $(function() {
        // Outgoing
        {% for prefix, outgoing_formset in outgoing_formsets.items %}
          var init_{{ prefix }} = function() {
            $("div#{{ prefix }}").formset({
              prefix: "{{ prefix }}",
              addCssClass: "addButton inFormsets",
              addText: "{% trans "Add" %} {{ outgoing_formset.itemtype.name }} ({{ outgoing_formset.itemtype.target.name }})",
              extraClasses: ["row1", "row2"],
              added: function(row) {
                $("#{{prefix}} p:last label").hide();
                nodeAutocomplete(row.find("input.node_autocomplete"));
                {% if OPTIONS.ENABLE_AUTOCOMPLETE_NODES_COMBO %}
                $(".combobox").chosen();
                {% endif %}
              },
              deleteCssClass: "delete-rowup{% if outgoing_formset.itemtype.properties.count %}Props{% endif %}",
              deleteText: ""
            });
          };
          $("#{{ prefix }} p:last label").hide();
          init_{{ prefix }}();
          $("#{{ prefix }} p:last label").hide();
        {% endfor %}

        // Incoming
        {% for prefix, incoming_formset in incoming_formsets.items %}
          var init_{{ prefix }} = function() {
            var label = "{% if incoming_formset.itemtype.inverse %}{{ incoming_formset.itemtype.inverse }}{% else %}{{ incoming_formset.itemtype.name }}{% endif %}";
            $("div#{{ prefix }}").formset({
              prefix: "{{ prefix }}",
              addCssClass: "addButton inFormsets",
              addText: "{% trans "Add" %} "+ label,  // +" ({{ incoming_formset.itemtype.source.name }})",
              extraClasses: ["row1", "row2"],
              added: function(row) {
                $("#{{prefix}} p:last label").hide();
                nodeAutocomplete(row.find("input.node_autocomplete"));
                {% if OPTIONS.ENABLE_AUTOCOMPLETE_NODES_COMBO %}
                $(".combobox").chosen();
                {% endif %}
              },
              deleteCssClass: "delete-rowup{% if incoming_formset.itemtype.properties.count %}Props{% endif %}",
              deleteText: ""
            });
          };
          $("#{{ prefix }} p:last label").hide();
          init_{{ prefix }}();
          $("#{{ prefix }} p:last label").hide();
        {% endfor %}

        // Files
        var init{{ mediafile_formset.prefix }} = function() {
          $("div#{{ mediafile_formset.prefix }}").formset({
            prefix: "{{ mediafile_formset.prefix }}",
            addCssClass: "addButton inFormsets",
            addText: "{% trans "Add File" %}",
            extraClasses: ["row1", "row2"],
            added: function(row) {$("#{{ mediafile_formset.prefix }} p:last label").hide();},
            deleteCssClass: "delete-rowupFiles",
            deleteText: ""
          });
        };
        $("#{{ mediafile_formset.prefix }} p:last label").hide();
        init{{ mediafile_formset.prefix }}();

        // Links
        var init{{ medialink_formset.prefix }} = function() {
          $("div#{{ medialink_formset.prefix }}").formset({
            prefix: "{{ medialink_formset.prefix }}",
            addCssClass: "addButton inFormsets",
            addText: "{% trans "Add Link" %}",
            extraClasses: ["row1", "row2"],
            added: function(row) {$("#{{ medialink_formset.prefix }} p:last label").hide();},
            deleteCssClass: "delete-rowupLinks",
            deleteText: ""
          });
        };
        $("#{{ medialink_formset.prefix }} p:last label").hide();
        init{{ medialink_formset.prefix }}();

        // Enable the deletion of initial forms
        $(".initial-form").on("click", function(e) {
          var $this = $(this);
          var $parent = $this.parent();
          $parent.find("input:checkbox[id $= -DELETE]").val("on").attr("checked", "checked");
          $this.hide();
          $parent.hide();
        });

        // // For old browsers
        // $(".initial-form").parents("div.initial").each(function(i, form) {
        //     $(form).children("p:last").hide();
        // });

        // For the properties of the relationships
        $(".relationships").on("click", ".toggleProperties", function (e) {
          $(this).parents("p").siblings("p").toggle();
          var last = $(this).parents("p").siblings("p:last");
          if (last.parent().hasClass("initial") || last.parent().hasClass("dynamic-form")) {
            last.hide();
          }
        });

        // Expand properties box in case of form errors
        if ($('.errorlist').length > 0) {
          $('.toggleProperties').click();
        }

        // Enabling autocomplete for nodes
        var nodeAutocomplete = function(input) {
          var params = {}, $input = $(input), exclude=$input.attr("data-exclude-id");
          if ($input.attr("class")) {
            if ($input.attr("class").indexOf(" ") > 0) {
              params = {
                queryParam: $input.attr("data-type"),
                minChars: 2,
                propertyToSearch: "display",
                tokenLimit: 1,
                preventDuplicates: true,
                tokenValue: "id",
                prePopulate: [{
                  id: $input.val(),
                  display: $input.attr("class").split(" ").slice(1).join(" ")
                }]
              };
            } else {
              params = {
                queryParam: $input.attr("data-type"),
                minChars: 2,
                propertyToSearch: "display",
                tokenLimit: 1,
                preventDuplicates: true,
                tokenValue: "id"
              };
            }
            $input.tokenInput("{% url "nodes_lookup" graph.slug %}?exclude="+ exclude, params);
          }
        };

        $(".node_autocomplete").each(function(i, input) {
          nodeAutocomplete(input);
        });

        // Enabling autocomplete for collaborators
        var userAutocomplete = function(input) {
          var params = {}, $input = $(input);
          if ($input.attr("class")) {
            if ($input.attr("class").indexOf(" ") > 0) {
              params = {
                minChars: 2,
                propertyToSearch: "display",
                tokenLimit: 1,
                preventDuplicates: true,
                tokenValue: "id",
                prePopulate: [{
                  id: $input.val(),
                  display: $input.attr("class").split(" ").slice(1).join(" ")
                }]
              };
            } else {
              params = {
                minChars: 2,
                propertyToSearch: "display",
                tokenLimit: 1,
                preventDuplicates: true,
                tokenValue: "id"
              };
            }
            $input.tokenInput("{% url "collaborators_lookup" graph.slug %}", params);
          }
        };

        $(".user_autocomplete").each(function(i, input) {
          userAutocomplete(input);
        });

        // Selecting the type of relationships to show
        $("#h2-relationships").change(function(e) {
          var val = $(this).val();
          $(".all-relationships").hide();
          $("."+ val +"-relationships").show();
        });

        // Make file attachment links downloadable.
        $('label[for$="-media_file"]').siblings('a').each(function() {
          var $link = $(this);
          $link.attr('download', $link.text().split('/').pop());
        });

        {% if OPTIONS.ENABLE_AUTOCOMPLETE_NODES_COMBO %}
        $('.combobox').chosen();
        {% endif %}

        // We start the modals
        $(document).ready(function() {
          sylva.modals.init();
        });

        // We show the modal for create the new element
        $('.add-node').on('click', function() {
          {% if OPTIONS.ENABLE_AUTOCOMPLETE_NODES_COMBO %}
          // This is the field where we need to set the value
          var relatedField = $(this).parent().next().children().find('select');
          {% else %}
          // This is the field where we need to set the value
          var relatedField = $(this).parent().next().children().find('input[type="text"]')[1];
          {% endif %}
          // We set the field global
          window.relatedField = relatedField;

          // We clone the form
          var nodeForm = $('#edit-node-form').clone();

          var url = $(event.target).attr('href');
          sylva.modals.createNodeOwnView.start(url, true);

          return false;
        });

      });
    }(jQuery));
  </script>

  {% compress js %}
    <script>
      // TODO: Move this JS to individual file
      // Adding customs maps: https://github.com/makinacorpus/django-leaflet#in-forms
      function spatialFieldCreator(type) {
        return L.GeometryField.extend({

          sylvaLeafletControls: function() {
            var point, path, area = false;

            var edit = {
              featureGroup: this.drawnItems
            };

            switch(type) {
              case 'path':
                path = true;
                break;
              case 'area':
                area = true;
                break;
              case 'point':
              default:
                point = true;
                edit.edit = false;
            }

            return {
              edit: edit,
              draw: {
                marker: point,
                polyline: path,
                polygon: area,
                circle: false,
                rectangle: false
              }
            };
          },

          addTo: function (map) {
            setTimeout(function () {
              map.invalidateSize();
            }, 0);

            this._map = map;

            var store_opts = L.Util.extend(this.options, {defaults: map.defaults});
            this.store = new this.options.field_store_class(this.options.fieldid, store_opts);

            this.drawnItems = this._editionLayer();
            map.addLayer(this.drawnItems);

            // Initialize the draw control and pass it the FeatureGroup of editable layers
            var drawControl = this._drawControl = new L.Control.Draw(this.sylvaLeafletControls());

            if (this.options.modifiable) {
              map.addControl(drawControl);
              L.DomUtil.addClass(drawControl._container, this.options.fieldid);

              // In case there is several draw controls on the same map (target map option)
              map['drawControl' + this.options.fieldid] = drawControl;
              // We use a flag to ignore events of other draw controls
              for (var toolbar in drawControl._toolbars) {
                drawControl._toolbars[toolbar].on('enable disable', function (e) {
                  this._acceptDrawEvents = e.type === 'enable';
                }, this);
              }

              map.on('draw:created draw:edited draw:deleted', function (e) {
                // Ignore if coming from other Draw controls
                if (!this._acceptDrawEvents)
                  return;
                // Call onCreated(), onEdited(), onDeleted()
                var eventName = e.type.replace('draw:', ''),
                  method = 'on' + eventName.charAt(0).toUpperCase() + eventName.slice(1);
                this[method](e);
              }, this);

              // Flag for unsaved changes
              map.on('draw:drawstart draw:editstart', function () {
                if (this._acceptDrawEvents) this._unsavedChanges = true;
              }, this);
              map.on('draw:drawstop draw:editstop', function () {
                if (this._acceptDrawEvents) this._unsavedChanges = false;
              }, this);
            }

            this.load();

            map.fire('map:loadfield', {field: this, fieldid: this.options.fieldid});

            // Centering the map
            var center = null;
            $.each(map._layers, function(index, layer) {
              if (layer._latlng) {
                var dev = 0.03;
                var point1 = [layer._latlng.lat + dev, layer._latlng.lng + dev];
                var point2 = [layer._latlng.lat - dev, layer._latlng.lng - dev];
                center =  [point1, point2];
                return false;

              } else if (layer._latlngs) {
                center = layer._latlngs;
                return false;
              }
            });

            if (center) {
              setTimeout(function() {
                map.fitBounds(center);
              }, 0);
            }

            return this;
          }
        });
      }

      // Declaring map tools
      var PointField = spatialFieldCreator('point');
      var PathField = spatialFieldCreator('path');
      var AreaField = spatialFieldCreator('area');
      window.dispatchEvent(new Event('load'));
    </script>
  {% endcompress %}
{% endblock %}
