{% extends "base.html" %}
{% load i18n graphs %}
{% load data_filters %}

{% block navigation_buttons %}
    {{ block.super }}
{% endblock %}

{% block title %}
    {{ graph.name }}
{% endblock %}

{% block menu_buttons %}
    {% toolbar on="nodes" %}
{% endblock %}

{% block content_title %}
    {% breadcrumb graph graph.data nodetype action %}
    <!--<h2>{% trans "Graphs" %} » {{ graph.name|truncatewords_html:5 }} » {% trans "Nodes" %} » {{ action }} {{ nodetype.name }}</h2>-->
{% endblock %}

{% block content %}
    <div id="canvas-container">
        <div id="canvas-info">
            <div id="element-info">
                {% trans "Click any node to interact" %}
            </div>
            <div id="node-type-legend">
            </div>
        </div>
        <div class="graph-controls">
            <div class="sigma-checkbox" style="display:none;">
                <input type="checkbox" id="sigma-node-info">
                <label for="sigma-node-info" title="{% trans "Show node info" %}">{% trans "Node info" %}</label>
            </div>
            <div class="sigma-checkbox" style="display:none;">
                <input type="checkbox" id="sigma-fisheye">
                <label for="sigma-fisheye" title="{% trans "Activate fisheye effect" %}">{% trans "FishEye" %}</label>
            </div>
            <div class="sigma-checkbox" style="display:none; float:right;">
                <a id="sigma-export-image" class="button" style="font-size:100%;" title="{% trans "Save as a PNG image" %}" download="{{ graph.slug }}.png">{% trans "Save as image" %}</a>
            </div>
        </div>
        <div id="sigma-wrapper">
            <div id="sigma-container"></div>
        </div>
        <span id="sigma-pause" class="pause" style="display:none;" data-state="running">{% trans "Pause" %}</span>
        <div id="canvas-box">
                <div id="spinner"></div>
                <canvas id="graph-support">{% trans "Your browser does not support graph visualization" %}</canvas>
        </div>
    </div>
    <!-- Start of DOM elements working as memory system and debugging -->
    <div id="sec-debug" style="display:none;">
        <div id="sec-node-list">
            <ul id="node-list"></ul>
        </div>
        <div id="sec-edge-list">
            <ol id="edge-list"></ol>
        </div>
        <h3>Graph Nodes Debug</h3>
        <textarea id="id_graph_nodes" rows="10" cols="80" name="graph_nodes">{}</textarea>
        <h3>Graph Edges Debug</h3>
        <textarea id="id_graph_edges" rows="10" cols="80" name="graph_edges">[]</textarea>
        <h3>Graph Schema Debug</h3>
        <textarea id="id_graph_schema" rows="10" cols="80" name="graph_schema">{}</textarea>
    </div>
<!-- End of DOM elements working as memory system and debugging -->
    <br/>
    <div>
        <div class="not-available">
        </div>
    </div>
    <div id="content3">
        <div class="content3-block">
            <a href="{% url nodes_edit graph.slug node.id %}" title="{% trans "Edit" %}"><i class="sylva-icon-edit-node16"></i></a>
            <h2 class="inline">{% trans "Properties" %}</h2>
            {% if node_properties %}
                <dl class="node-properties">
                    {% for prop in node_properties %}
                        {% if prop.value|is_not_none %}
                            <dt>{{ prop.key }}</dt>
                            <dd>
                                {% if prop.type == "Boolean" %}
                                    {% blocktrans with value=prop.value %}
                                        {{ value }}
                                    {% endblocktrans %}
                                {% else %}
                                    {{ prop.value }}
                                {% endif %}
                            </dd>
                        {% endif %}
                    {% endfor %}
                </dl>
            {% else %}
                {% trans "Empty" %}. <a href="{% url nodes_edit graph.slug node.id %}">{% trans "Add property" %}</a>
            {% endif %}
        </div>
        <div class="content-divider"></div>
        <div class="content3-block relationships">
            <a href="{% url nodes_edit graph.slug node.id %}" title="{% trans "Edit" %}"><i class="sylva-icon-edit-node16"></i></a>
            <select id="h2-relationships" class="inline">
                <option value="all">{% trans "All Relationships" %}</option>
                {% if incoming_relationships %}
                    <option value="incoming">{% trans "Incoming" %}</option>
                {% endif %}
                {% if outgoing_relationships %}
                    <option value="outgoing">{% trans "Outgoing" %}</option>
                {% endif %}
                {% for p in prefixes %}
                    <option value="{{ p.key }}">{{ p.value }}</option>
                {% endfor %}
            </select>
            {% if incoming_relationships or outgoing_relationships %}
                {% if outgoing_relationships %}
                    {% for dict in outgoing_relationships %}
                        <div id="{{ dict.prefix }}" class="all outgoing">
                            {% for relationship in dict.relations %}
                                <div class="relationship" title="{{ relationship.get_type }}">
                                    <span class="symbol-large">→</span> {{ relationship.source.display }} <span class="bold">{{ relationship.label_display }}</span> {{ relationship.target.display }}
                                    <div class="rel-properties hidden">
                                        <dl>
                                            {% for key, value in relationship.properties.items %}
                                                {% if value %}
                                                    <dt>{{ key }}</dt>
                                                    <dd>{{ value }}</dd>
                                                {% endif %}
                                            {% endfor %}
                                        </dl>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                {% endif %}
                {% if incoming_relationships %}
                    {% for dict in incoming_relationships %}
                        <div id="{{ dict.prefix }}" class="all incoming">
                            {% for relationship in dict.relations %}
                                <div class="relationship" title="{{ relationship.get_type }}">
                                    <span class="symbol-large">←</span> {{ relationship.target.display }} <span class="bold">{{ relationship.label_display }}</span> {{ relationship.source.display }}
                                    <div class="rel-properties hidden">
                                        <dl>
                                            {% for key, value in relationship.properties.items %}
                                                {% if value %}
                                                    <dt>{{ key }}</dt>
                                                    <dd>{{ value }}</dd>
                                                {% endif %}
                                            {% endfor %}
                                        </dl>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                {% endif %}
            {% else %}
                {% trans "Empty" %}. <a href="{% url nodes_edit graph.slug node.id %}">{% trans "Add relationship" %}</a>
            {% endif %}
        </div>
        <div class="content-divider"></div>
        <div class="content3-block">
            <div>
                <a href="{% url nodes_edit graph.slug node.id %}" title="{% trans "Edit" %}"><i class="sylva-icon-edit-node16"></i></a>
                <h2 id="filesTitle" class="inline">{% trans "Files" %}</h2>
                {% if media_files %}
                    <dl>
                        {% for file in media_files %}
                            <dt>{{ file.media_label }}</dt>
                            <dd><a href="{{ file.media_file.url }}" download="{{ file.media_file.name }}">{% trans "Download" %}</a></dd>
                        {% endfor %}
                    </dl>
                {% endif %}
            </div>
            <div>
                <a href="{% url nodes_edit graph.slug node.id %}" title="{% trans "Edit" %}"><i class="sylva-icon-edit-node16"></i></a>
                <h2 id="linksTitle" class="inline">{% trans "Links" %}</h2>
                {% if media_links %}
                    <dl>
                        {% for link in media_links %}
                            <dt>{{ link.media_label }}</dt>
                            <dd><a href="{{ link.media_link }}" target="_blank">{{ link.media_link }}</a></dd>
                        {% endfor %}
                    </dl>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- Features Tour -->
    <ol id="tour" class="hidden" data-tour-id="nodes-view">
        <li data-class="node-properties" data-button="{% trans "Next" %}">
            <h2>{% trans "Node properties" %}</h2>
            <p>{% trans "Here is the list of properties of this node." %}</p>
        </li>
        <li data-id="h2-relationships" data-button="{% trans "Next" %}">
            <h2>{% trans "Relationships" %}</h2>
            <p>{% trans "Here is the list of relationships related to this node." %}</p>
        </li>
        <li data-class="relationship" data-button="{% trans "Next" %}">
            <h2>{% trans "Relationship details" %}</h2>
            <p>{% trans "Clicking on the relationship, you will see its properties (in case they exist)." %}</p>
        </li>
        <li data-id="filesTitle" data-button="{% trans "Finish" %}">
            <h2>{% trans "Multimedia" %}</h2>
            <p>{% trans "You can also show the meta-contents stored in this node: files and links." %}</p>
        </li>
    </ol>
{% endblock content %}
{% block extra_scripts %}
    <script type="text/javascript">
        sylva.nodeViewURL = "{% url nodes_view graph.slug 0 %}";
        sylva.nodeEditURL = "{% url nodes_edit graph.slug 0 %}";
        sylva.graphViewURL = "{% url graph_view graph.slug %}";
        sylva.is_graph_empty = false;
        sylva.is_schema_empty = false;
        sylva.view_graph_ajax_url = "{{ view_graph_ajax_url }}";
        sylva.edit_nodetype_color_ajax_url = "{{ edit_nodetype_color_ajax_url }}";

        (function($) {
            $(function() {
                $('#h2-relationships').on('change', function() {
                    var option = $(this).val();
                    if (option === 'all') {
                        $('.all').show();
                    } else if (option === 'incoming') {
                        $('.outgoing').hide();
                        $('.incoming').show();
                    } else if (option === 'outgoing') {
                        $('.incoming').hide();
                        $('.outgoing').show();
                    } else {
                        $('.all').hide();
                        $('#' + option).show();
                    }
                });

                $('.relationship').on('click', function() {
                    if ($(this).find('dl').html().trim() !== '') {
                        $(this).find('.rel-properties').toggle();
                    }
                });
            });
        })(jQuery);
    </script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}graphs/js/sigma/sigma.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}graphs/js/sigma/plugins/sigma.layout.forceAtlas2.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}graphs/js/sigma/plugins/sigma.parsers.gexf.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}graphs/js/sigma/plugins/sigma.parsers.json.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}graphs/js/sigma/plugins/sigma.plugins.animate.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}graphs/js/sigma/plugins/sigma.plugins.neighborhoods.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}graphs/js/sigma/plugins/sigma.renderers.customShapes.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}graphs/js/sigma/plugins/sigma.renderers.extra.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}graphs/js/colpick/colpick.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}graphs/js/colpick/rgbcolor.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}graphs/js/visualization-utils.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}graphs/js/sigma-visualization.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}graphs/js/visualizations.js"></script>

    <link type="text/css" rel="stylesheet" href="{{ STATIC_PREFIX }}graphs/css/colpick/colpick.css" />
    <link type="text/css" rel="stylesheet" href="{{ STATIC_PREFIX }}graphs/css/colpick/colpick.mod.css" />
{% endblock extra_scripts %}
