{% extends "base.html" %}
{% load i18n %}

{% block extra_scripts %}
    <script type="text/javascript" src="{{ STATIC_PREFIX }}js/jquery.formsets.1.2.min.js"></script>
{% endblock %}

{% block navigation_buttons %}
{{ block.super }}
{% endblock %}

{% block title %}
{{ graph.name }}
{% endblock %}

{% block menu_buttons %}
<li><a href="{% url graph_view graph.id %}" class="link"><span>{% trans "Graph" %}</span></a></li>
<li><a href="{% url nodes_list graph.id %}" class="text"><span>{% trans "Nodes" %}</span></a></li>
<li><a href="{% url relationships_list graph.id %}" class="link"><span>{% trans "Relationships" %}</span></a></li>
<li><a href="{% url schema_edit graph.id %}" class="link"><span>{% trans "Schema" %}</span></a></li>
<li><a href="{% url graph_collaborators graph.id %}" class="link"><span>{% trans "Collaborators" %}</span></a></li>
{% endblock %}

{% block content_title %}
<h2>{% trans "Graphs" %} » {{ graph.name|truncatewords_html:5 }} » {% trans "Nodes" %} » {% trans "New" %} {{ nodetype.name }}</h2>
{% endblock %}

{% block content %}
<div id="content3">
<form action="." method="POST" enctype="multipart/form-data">
{% csrf_token %}
    <div class="content{% if relationship_formsets %}3-block{% else %}2-first{% endif %}">
        <h2>{% trans "New" %} {{ nodetype.name|capfirst }}</h2>
        {% for field in node_form %}
            <p {% if field.name in fields_to_hide and not field.value %}class="hidden"{% endif %}>
            {{ field.errors }}
            {{ field.label_tag }}
            {{ field }}
            {% if field.help_text %}
                <span class="helptext">
                {{ field.help_text }}
                </span>
            {% endif %}
            </p>
        {% endfor %}
        <input type="submit" value="{% trans "Save" %} {{ nodetype.name|capfirst }}"/>
        <span class="buttonLinkOption">{% trans "or" %} <a href="{% url nodes_list graph.id %}">{% trans "Cancel" %}</a>.</span>
    </div>
    {% if relationship_formsets %}
    <div class="content-divider"></div>
    <div class="content3-block">
        <h2>{% trans "Relationships" %}</h2>
        {% for prefix, relationship_formset in relationship_formsets.items %}
            <div id="{{ prefix }}">
            {{ relationship_formset.as_p }}
            </div>
        {% endfor %}
    </div>
    {% endif %}
    <div class="content-divider"></div>
    <div class="content{% if relationship_formsets %}3-block{% else %}2-second{% endif %}">
        <h2>{% trans "Files" %}</h2>
        <div id="__files">
        {{ mediafile_formset.as_p }}
        </div>
        <h2>{% trans "Links" %}</h2>
        <div id="__links">
        {{ medialink_formset.as_p }}
        </div>
    </div>
</form>
</div>


<script type="text/javascript">
    (function($) {
        {% for prefix, relationship_formset in relationship_formsets.items %}
        init_{{ prefix }} = function() {
            $("div#{{ prefix }}").formset({
                prefix: "{{ prefix }}",
                addCssClass: "button addButton",
                addText: "{% trans "Add" %} {{ prefix|capfirst }}".replace("_", " "),
                extraClasses: ["row1", "row2"],
                added: function(row) {$("#{{prefix}} p:last label").hide();},
                deleteText: "{% trans "Remove Relationship" %} {{ prefix|capfirst }}".replace("_", " ")
            });
        };
        $("#{{prefix}} p:last label").hide();
        init_{{ prefix }}();
        $("#{{ prefix }} p:last label").hide();
        {% endfor %}
        init_files = function() {
            $("div#__files").formset({
                prefix: "__files",
                addCssClass: "button addButton",
                addText: "{% trans "Add File" %}",
                extraClasses: ["row1", "row2"],
                added: function(row) {$("#__files p:last label").hide();},
                deleteText: "{% trans "Remove File" %}"
            });
        };
        $("#__files p:last label").hide();
        init_files();
        init_links = function() {
            $("div#__links").formset({
                prefix: "__links",
                addCssClass: "button addButton",
                addText: "{% trans "Add Link" %}",
                extraClasses: ["row1", "row2"],
                added: function(row) {$("#__links p:last label").hide();},
                deleteText: "{% trans "Remove Link" %}"
            });
        };
        $("#__links p:last label").hide();
        init_links();
    })(jQuery);
</script>
{% endblock %}
