{% extends "base.html" %}
{% load i18n graphs %}
{% load string_filters %}

{% block extra_links %}
    <link href="{{ STATIC_PREFIX }}css/token.input.css" type="text/css" rel="stylesheet" />
{% endblock %}

{% block navigation_buttons %}
{{ block.super }}
{% endblock %}

{% block title %}
{{ graph.name }}
{% endblock %}

{% block menu_buttons %}
{% toolbar on="nodes" %}
{% endblock %}

{% block content_title %}
{% breadcrumb graph graph.data nodetype action %}
<!--<h2>{% trans "Graphs" %} » {{ graph.name|truncatewords_html:5 }} » {% trans "Nodes" %} » {{ action }} {{ nodetype.name }}</h2>-->
{% endblock %}

{% block content %}
<div id="content3">
<form action="." method="POST" enctype="multipart/form-data">
{% csrf_token %}
    <div class="content{% if outgoing_formsets or incoming_formsets %}3-block{% else %}2-first{% endif %}">
        <h2>{% trans "Properties" %}</h2>
        {% for field in node_form %}
            <p {% if field.name in fields_to_hide and not field.value %}class="hidden"{% endif %}>
            {{ field.errors }}
            {{ field.label_tag }}
            {{ field }}
            {% if field.help_text %}
                <span class="helptext">
                {{ field.help_text }}
                </span>
            {% endif %}
            </p>
        {% endfor %}
        <input type="submit" value="{% trans "Save" %} {{ nodetype.name|capfirst }}"/>
        <span class="buttonLinkOption">
            {% if delete %}
            <a href="{% url nodes_delete graph.slug node.id %}">{% trans "Remove" %}</a>
            {% endif %}
            {% trans "or" %}
            <a href="{% url nodes_list graph.slug %}">{% trans "Cancel" %}</a>.</span>
    </div>
    {% if outgoing_formsets or incoming_formsets %}
    <div class="content-divider"></div>
    <div class="content3-block relationships">
    <select id="h2-relationships">
        <option value="all">{% trans "All Relationships" %}</option>
        {% if incoming_formsets %}
        <option value="incoming">{% trans "Incoming" %}</option>
        {% endif %}
        {% if outgoing_formsets %}
        <option value="outgoing">{% trans "Outgoing" %}</option>
        {% endif %}
        {% for p in prefixes %}
            <option value="{{ p.key }}">{{ p.value }}</option>
        {% endfor %}
    </select>
    {% if outgoing_formsets %}
            {% for prefix, outgoing_formset in outgoing_formsets.items %}
            <span class="all-relationships outgoing-relationships {{ prefix }}-relationships">
                {{ outgoing_formset.management_form }}
                <label>
                <span class="symbol-medium">→</span> {{ outgoing_formset.itemtype.name }} ({{ outgoing_formset.itemtype.target.name }})
                </label>
                <span class="helptext">
                    {% trans "Target of the relationship" %}
                    <a href="{% url nodes_create outgoing_formset.itemtype.schema.graph.slug outgoing_formset.itemtype.target.id %}">
                        {% trans "Add" %} {{ outgoing_formset.itemtype.target.name }}
                    </a>
                </span>
                {% for outgoing_form in outgoing_formset %}
                    <span>
                    {% if forloop.last %}
                        <div id="{{ prefix }}">
                        {{ outgoing_form.as_p }}
                        </div>
                    {% else %}
                        <a class="delete-row initial-form floating" href="javascript:void(0)">
                            <!-- {% trans "Remove" %} {{ outgoing_formset.itemtype.name }} -->
                        </a>
                        <div class="initial" id="{{ prefix }}-form-{{ forloop.counter0 }}">
                        {{ outgoing_form.as_p }}
                        </div>
                    {% endif %}
                    </span>
                {% endfor %}
            </span>
            {% endfor %}
    {% endif %}
    {% if incoming_formsets %}
            {% for prefix, incoming_formset in incoming_formsets.items %}
            <span class="all-relationships incoming-relationships {{ prefix }}-relationships">
                {{ incoming_formset.management_form }}
                <label>
                <span class="symbol-medium">←</span> {{ incoming_formset.itemtype.name }} ({{ incoming_formset.itemtype.source.name }})
                </label>
                <span class="helptext">
                    {% trans "Source of the relationship" %}
                    <a href="{% url nodes_create incoming_formset.itemtype.schema.graph.slug incoming_formset.itemtype.source.id %}">
                        {% trans "Add" %} {{ incoming_formset.itemtype.source.name }}
                    </a>
                </span>
                {% for incoming_form in incoming_formset %}
                    <span>
                    {% if forloop.last %}
                        <div id="{{ prefix }}">
                        {{ incoming_form.as_p }}
                        </div>
                    {% else %}
                        <a class="delete-row initial-form floating" href="javascript:void(0)">
                            <!--
                            {% trans "Remove" %}
                            {% if incoming_formset.itemtype.inverse %}
                                {{ incoming_formset.itemtype.inverse }}
                            {% else %}
                                {{ incoming_formset.itemtype.name }}
                            {% endif %}
                            -->
                        </a>
                        <div class="initial" id="{{ prefix }}-form-{{ forloop.counter0 }}">
                        {{ incoming_form.as_p }}
                        </div>
                    {% endif %}
                    </span>
                {% endfor %}
            </span>
            {% endfor %}
        {% endif %}
    </div>
    {% endif %}
    <div class="content-divider"></div>
    <div class="content{% if outgoing_formsets or incoming_formsets %}3-block{% else %}2-second{% endif %}">
        <h2>{% trans "Files" %}</h2>
        {{ mediafile_formset.management_form }}
        {% for mediafile_form in mediafile_formset.forms %}
            {% if forloop.last %}
                <div id="{{ mediafile_formset.prefix }}">
                {{ mediafile_form.as_p }}
                </div>
            {% else %}
                <div class="initial" id="{{ mediafile_formset.prefix }}-form-{{ forloop.counter0 }}">
                    {{ mediafile_form.as_p }}
                    <a class="fileDelete delete-rowupFiles initial-form" href="javascript:void(0)"></a>
                </div>
            {% endif %}
        {% endfor %}
        <h2>{% trans "Links" %}</h2>
        {{ medialink_formset.management_form }}
        {% for medialink_form in medialink_formset.forms %}
            {% if forloop.last %}
                <div id="{{ medialink_formset.prefix }}">
                {{ medialink_form.as_p }}
                </div>
            {% else %}
                <div class="initial" id="{{ medialink_formset.prefix }}-form-{{ forloop.counter0 }}">
                    {{ medialink_form.as_p }}
                    <a class="linkDelete delete-rowupLinks initial-form" href="javascript:void(0)"></a>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</form>
</div>
{% endblock %}
{% block extra_scripts %}
    {{ node_form.media }}
    {% for prefix, outgoing_formset in outgoing_formsets.items %}
        {{ outgoing_formset.media }}
    {% endfor %}
    {% for prefix, incoming_formset in incoming_formsets.items %}
        {{ incoming_formset.media }}
    {% endfor %}
<script type="text/javascript" src="{{ STATIC_PREFIX }}js/jquery.formsets.1.2.min.js"></script>
<script type="text/javascript" src="{{ STATIC_PREFIX }}js/jquery.tokeninput.js"></script>
<script type="text/javascript">
    (function($) {
        // Outgoing
        {% for prefix, outgoing_formset in outgoing_formsets.items %}
        init_{{ prefix }} = function() {
            $("div#{{ prefix }}").formset({
                prefix: "{{ prefix }}",
                addCssClass: "addButton inFormsets",
                addText: "{% trans "Add" %} {{ outgoing_formset.itemtype.name }} ({{ outgoing_formset.itemtype.target.name }})",
                extraClasses: ["row1", "row2"],
                added: function(row) {$("#{{prefix}} p:last label").hide(); nodeAutocomplete(row.find("input.autocomplete"));},
                deleteCssClass: "delete-rowup{% if outgoing_formset.itemtype.properties.count %}Props{% endif %}",
                deleteText: "&nbsp;"
            });
        };
        $("#{{ prefix }} p:last label").hide();
        init_{{ prefix }}();
        $("#{{ prefix }} p:last label").hide();
        {% endfor %}
        // Incoming
        {% for prefix, incoming_formset in incoming_formsets.items %}
        init_{{ prefix }} = function() {
            var label = "{% if incoming_formset.itemtype.inverse %}{{ incoming_formset.itemtype.inverse }}{% else %}{{ incoming_formset.itemtype.name }}{% endif %}";
            $("div#{{ prefix }}").formset({
                prefix: "{{ prefix }}",
                addCssClass: "addButton inFormsets",
                addText: "{% trans "Add" %} "+ label,  // +" ({{ incoming_formset.itemtype.source.name }})",
                extraClasses: ["row1", "row2"],
                added: function(row) {$("#{{prefix}} p:last label").hide(); nodeAutocomplete(row.find("input.autocomplete"));},
                deleteCssClass: "delete-rowup{% if incoming_formset.itemtype.properties.count %}Props{% endif %}",
                deleteText: "&nbsp;"
            });
        };
        $("#{{ prefix }} p:last label").hide();
        init_{{ prefix }}();
        $("#{{ prefix }} p:last label").hide();
        {% endfor %}
        // Files
        init{{ mediafile_formset.prefix }} = function() {
            $("div#{{ mediafile_formset.prefix }}").formset({
                prefix: "{{ mediafile_formset.prefix }}",
                addCssClass: "addButton inFormsets",
                addText: "{% trans "Add File" %}",
                extraClasses: ["row1", "row2"],
                added: function(row) {$("#{{ mediafile_formset.prefix }} p:last label").hide();},
                deleteCssClass: "delete-rowupFiles",
                deleteText: "&nbsp;"
            });
        };
        $("#{{ mediafile_formset.prefix }} p:last label").hide();
        init{{ mediafile_formset.prefix }}();
        // Links
        init{{ medialink_formset.prefix }} = function() {
            $("div#{{ medialink_formset.prefix }}").formset({
                prefix: "{{ medialink_formset.prefix }}",
                addCssClass: "addButton inFormsets",
                addText: "{% trans "Add Link" %}",
                extraClasses: ["row1", "row2"],
                added: function(row) {$("#{{ medialink_formset.prefix }} p:last label").hide();},
                deleteCssClass: "delete-rowupLinks",
                deleteText: "&nbsp;"
            });
        };
        $("#{{ medialink_formset.prefix }} p:last label").hide();
        init{{ medialink_formset.prefix }}();
        // Enable the deletion of initial forms
        $(".initial-form").on("click", function(e) {
            // $(this).siblings("p:last").children("input[type='checkbox']").attr("checked", "checked");
            // $(this).parents("div.initial").hide();
            var $this = $(this);
            var $parent = $this.parent();
            $parent.find("input:checkbox[id $= -DELETE]").val("on").attr("checked", "checked");
            $this.hide();
            $parent.hide();
        });
        // For old browsers
        $(".initial-form").parents("div.initial").each(function(i, form) {
            $(form).children("p:last").hide();
        });
        // For the properties of the relationships
        $(".toggleProperties").live("click", function (e) {
            $(this).parents("p").siblings("p").toggle();
            var last = $(this).parents("p").siblings("p:last");
            if (last.parent().hasClass("initial") || last.parent().hasClass("dynamic-form")) {
                last.hide();
            }
        });
        // Enabling autocomplete for nodes
        nodeAutocomplete = function(input) {
            var params = {}, $input = $(input);
            if ($input.attr("class")) {
                if ($input.attr("class").indexOf(" ") > 0) {
                    params = {
                        queryParam: $input.attr("data-type"),
                        minChars: 2,
                        propertyToSearch: "display",
                        tokenLimit: 1,
                        preventDuplicates: true,
                        tokenValue: "id",
                        prePopulate: [{
                            id: $input.val(),
                            display: $input.attr("class").split(" ").slice(1).join(" ")
                        }]
                    };
                } else {
                    params = {
                        queryParam: $input.attr("data-type"),
                        minChars: 2,
                        propertyToSearch: "display",
                        tokenLimit: 1,
                        preventDuplicates: true,
                        tokenValue: "id"
                    };
                }
                $input.tokenInput("{% url nodes_lookup graph.slug %}", params);
            }
        }
        $(".autocomplete").each(function(i, input) {nodeAutocomplete(input);});
        // Selecting the type of relationships to show
        $("#h2-relationships").change(function (e) {
            var val = $(this).val();
            $(".all-relationships").hide();
            $("."+ val +"-relationships").show();
        });
    })(jQuery);
</script>
{% endblock %}
