{% extends base_template %}
{% load i18n graphs graph_filters data_filters compress %}

{% if not as_modal %}
  {% block navigation_buttons %}
    {{ block.super }}
  {% endblock %}

  {% block title %}
    {{ graph.name }}
  {% endblock %}
{% endif %}

{% block extra_links %}
  {% compress css %}
    <link rel="stylesheet" href="{{ STATIC_PREFIX }}visualsearch/visualsearch-modified.css">
    <link rel="stylesheet" href="{{ STATIC_PREFIX }}visualsearch/visualsearch-datauri-modified.css">
  {% endcompress %}
{% endblock %}

{% block extra_scripts %}
  {{ block.super }}
  <script type="text/javascript">
    sylva.urls['nodesLookupFull'] = "{% url "nodes_lookup_full" graph.slug %}";
    sylva.urls['nodesEdit'] = '{% url "nodes_edit" graph.slug 0 %}';
    sylva.urls['nodesView'] = '{% url "nodes_view" graph.slug 0 %}';
    sylva.urls['nodeRelationships'] = '{% url "node_relationships" graph.slug 0 %}';

    sylva.jsValues['facets'] = JSON.parse('{{ property_keys|escapejs }}');
    sylva.jsValues['facetValues'] = JSON.parse('{{ property_values|escapejs }}');
    sylva.jsValues['nodetypeId'] = {{ node_type.id }};
  </script>

  {% compress js %}
    <script type="text/javascript" src="{{ STATIC_PREFIX }}js/jquery-ui-1.10.4.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}visualsearch/vendor/underscore-1.4.3.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}visualsearch/vendor/backbone-0.9.10.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}visualsearch/visualsearch-modified.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}data/js/node_list.js"></script>
  {% endcompress %}
{% endblock %}

{% if not as_modal %}
  {% block menu_buttons %}
    {% toolbar on="nodes" %}
  {% endblock %}

  {% block content_title %}
    {% breadcrumb graph graph.data node_type %}
  {% endblock %}
{% endif %}

{% block content %}
  <div id="modal-content-scrollable-wrapper">
    <div id="modal-content-scrollable">
      <div id="content2">
        {% if as_modal %}
          {% breadcrumb graph.data node_type %}
          <div id="list-url" data-url="{{ list_url }}" style="display: none;"></div>
        {% endif %}
        {% if nodes %}
          <div id="search-query" class="visual-search"></div>
          <div class="show-hide-button" style="display: inline-table;">
            <nav class="menu" style="position: inherit;">
              <ul>
                <li>
                    <a href="javascript:void(0)" class="inline link" style="margin-top: 0; width: 77px;">
                        <span>{% trans "Properties" %}</span>
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <table class="dropdown">
                        {% for prop in properties %}
                          <tr>
                              <td class="dataActions">
                                <i class="fa fa-eye" id="show-hide-{{prop.slug}}"></i>
                                <a style="font-size:11px; background-color: transparent; padding: 4px; -webkit-box-shadow: none; box-shadow: none;" href='javascript:void(0);' data-key="{{prop.slug}}" class="show-hide dataOption list">{{prop.key}}</a></td>
                          </tr>
                        {% endfor %}
                    </table>
                </li>
              </ul>
            </nav>
          </div>
          <table id="content_table" class="content-table text-left">
            <thead>
              <tr>
                <th>{% trans "#" %}</th>
                {% for prop in properties %}
                    <th class="{{ prop.slug }}">
                      <!-- We should maintain the actual page if we have previous pages -->
                        <a data-modal="list-sort" href="?page={{ nodes.number }}&order_by={{ prop.key }}&dir={{ dir }}" id="{{prop.slug}}" style="text-decoration: none;">
                            <div class="shorten-text">
                            {{ prop.key }}
                            </div>
                        {% if order_by == prop.key %}
                              <a class='remove-sorting' href="?page={{ nodes.number }}&order_by=default" title="{% trans "Remove from sorting" %}"></a>
                          {% if dir == 'desc' %}
                            <a data-modal="list-sort" class='sorting-asc' href="?page={{ nodes.number }}&order_by={{ prop.key }}&dir={{ dir }}" title="{% trans "Sorting ascending by" %} {{ order_by }}"></a>
                          {% else %}
                            <a data-modal="list-sort" class='sorting-desc' href="?page={{ nodes.number }}&order_by={{ prop.key }}&dir={{ dir }}" title="{% trans "Sorting descending by " %} {{ order_by }}"></a>
                          {% endif %}
                        {% endif %}
                        </a>
                    </th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              {% for node in nodes %}
                <tr class="{% cycle 'row-even' 'row-odd' %}">
                  <td class="dataList">
                    <a href="javascript:void(0)" data-node="{{ node.id }}" class="rels" alt="{% trans "Toggle relationships" %}" title="{% trans "Toggle relationships" %}">&nbsp;</a>
                    <a href="{% url "nodes_edit" graph.slug node.id %}" class="edit" alt="{% trans "Edit node" %}" title="{% trans "Edit node" %}"><!-- {{ node.id }}  -->&nbsp;</a>
                  </td>
                  {% for prop in properties %}
                    {% if node|get:prop.key == 'True' %}
                      <td class="{{ prop.slug }} shorten-text"><a class="type-list-true" href="{% url "nodes_view" graph.slug node.id %}" title="{% trans "View node" %}">{{ node|get:prop.key|default:none_label }}</a></td>
                    {% elif node|get:prop.key == 'False' %}
                      <td class="{{ prop.slug }} shorten-text"><a class="type-list-false" href="{% url "nodes_view" graph.slug node.id %}" title="{% trans "View node" %}">{{ node|get:prop.key|default:none_label }}</a></td>
                    {% else %}
                      <td class="{{ prop.slug }}">
                        <a href="{% url "nodes_view" graph.slug node.id %}" title="{% trans "View node" %}">
                          <p class="shorten-text">{{ node|get:prop.key|default:none_label }}</p>
                        </a>
                      </td>
                    {% endif %}
                  {% endfor %}
                </tr>
                <tr class="{% cycle 'row-even' 'row-odd' %}">
                  <td colspan="{{ properties_count }}" id="td{{ node.id }}" class="hidden retrieve-relationships" data-node="{{ node.id }}" data-display="{{ node.display }}" data-node-rels="{% url "node_relationships" graph.slug node.id %}">
                    <span class="helptext">{% trans "Loading" %}...</span>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% else %}
          <p>{% trans "There are no data added to this type yet." %}</p>
          {% if not as_modal %}
            <a id="submit-create" class="button" href="{% url "nodes_create" graph.slug node_type.id %}">{% trans "Add data" %}</a>
          {% endif %}
        {% endif %}
        {% if graph.data.total_nodes == 0 and graph.data.total_relationships == 0 and graph.relaxed %}
          <a class="button" href="{% url "tool_import" graph.slug %}">{% trans "Import" %}</a>
          <span class="buttonLinkOption">
            {% trans "Import a graph in GEXF format, or nodes and relationships in CSV format." %}
          </span>
        {% else %}
          <div class="pagination">
            {% if nodes.paginator.per_page < nodes.paginator.count %}
              <span class='pagination-info'>
                {% blocktrans with per_page=nodes.paginator.per_page count=nodes.paginator.count name=node_type.name %}
                  Showing {{ per_page }} of {{ count }} {{ name }}.
                {% endblocktrans %}
              </span>
              <span class="step-links">
                {% if nodes.has_previous %}
                    <!-- We need to keep the order when we order pages -->
                    <a href="?page={{ nodes.previous_page_number }}&order_by={{ order_by }}&dir={{ page_dir }}&page_dir={{ page_dir }}"><span class="symbol-medium">←</span></a>
                {% endif %}

                <span class="current">
                  {% blocktrans with number=nodes.number num_pages=nodes.paginator.num_pages %}
                    Page {{ number }} of {{ num_pages }}.
                  {% endblocktrans %}
                </span>

                {% if nodes.has_next %}
                    <!-- We need to keep the order when we order pages -->
                    <a href="?page={{ nodes.next_page_number }}&order_by={{ order_by }}&dir={{ page_dir }}&page_dir={{ page_dir }}"><span class="symbol-medium">→</span></a>
                {% endif %}
              </span>
            {% elif nodes %}
              <span class="pagination-info">
                {% blocktrans with count=nodes.paginator.count name=node_type.name %}
                  Showing {{ count }} elements {{ name }}.
                {% endblocktrans %}
              </span>
            {% endif %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
  {% if as_modal %}
    <div class="content2-full-bottom">
      <hr/>
      <a id="submit-create" class="button" href="{% url "nodes_create" graph.slug node_type.id %}">{% trans "Add node" %}</a>
      <span class="buttonLinkOption">
        {% trans "or" %}
        <a id="submit-cancel" href="javascript:void()">
          {% trans "Cancel" %}
        </a>
      </span>
    </div>
  {% endif %}
{% endblock %}
