{% extends "base.html" %}
{% load i18n %}

{% block extra_links %}
  <link rel="stylesheet" href="{{ STATIC_PREFIX }}bootstrap/css/bootstrap-custom.css">
  <link rel="stylesheet" href="{{ STATIC_PREFIX }}css/font-awesome.css">
{% endblock extra_links %}

{% block title %}
  {% trans "Pricing Plans" %}
{% endblock title %}

{% block content_title %}
  <h1>{% trans "Pricing Plans" %}</h1>
{% endblock content_title %}

{% block content %}
  <div class="container">
    <div class="row-fluid pricing">
      <div class="span4 plan">
        <h3>{% trans "Free" %}</h3>
        <span>$0</span>
        <ul>
          <li>{% trans "Feature One" %}</li>
          <li>{% trans "Feature Two" %}</li>
          <li>{% trans "Feature Three" %}</li>
          <li>{% trans "Feature Four" %}</li>
        </ul>
        <div class="empty"></div>
      </div>
      <div class="span4 plan featured animate go-up">
        <h3>{% blocktrans with name=basic_plan.name %}{{ name }}{% endblocktrans %}</h3>
        <span>${{ basic_plan.price }}</span>
        <ul>
          <li>{% trans "Feature One" %}</li>
          <li>{% trans "Feature Two" %}</li>
          <li>{% trans "Feature Three" %}</li>
          <li>{% trans "Feature Four" %}</li>
        </ul>
        <div>
          {% if is_subscribed and account_type == 2 %}
            <a href="javascript:void(0)" class="btn btn-large" disabled="disabled">{% trans "Already subscribed" %}</a>
          {% else %}
            <a href="{% url subscription_basic %}" class="btn btn-large">
              {% if is_subscribed and account_type == 3 %}
                {% blocktrans with name=basic_plan.name %}Downgrade to {{ name }}{% endblocktrans %}
              {% else %}
                {% trans "Subscribe Now" %}
              {% endif %}
            </a>
          {% endif %}
        </div>
      </div>
      <div class="span4 plan featured animate go-up">
        <h3>{% blocktrans with name=premium_plan.name %}{{ name }}{% endblocktrans %}</h3>
        <span>${{ premium_plan.price }}</span>
        <ul>
          <li>{% trans "Feature One" %}</li>
          <li>{% trans "Feature Two" %}</li>
          <li>{% trans "Feature Three" %}</li>
          <li>{% trans "Feature Four" %}</li>
        </ul>
        <div>
          <a href="{% url subscription_premium %}" class="btn btn-large">
            {% if is_subscribed and account_type == 2 %}
              {% blocktrans with name=premium_plan.name %}Upgrade to {{ name }}{% endblocktrans %}
            {% elif is_subscribed and account_type == 3 %}
              {% blocktrans with name=premium_plan.name %}Create new {{ name }} instance{% endblocktrans %}
            {% else %}
              {% trans "Subscribe Now" %}
            {% endif %}
          </a>
        </div>
      </div>
    </div>
    <div class="row comparison">
    <table class="table-striped table-bordered span12">
      <thead>
        <tr>
          <th></th>
          <th>{% trans "Free" %}</th>
          <th>{% blocktrans with name=basic_plan.name %}{{ name }}{% endblocktrans %}</th>
          <th>{% blocktrans with name=premium_plan.name %}{{ name }}{% endblocktrans %}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{% trans "Feature One" %}</td>
          <td><i class="icon-ok"></i></td>
          <td><i class="icon-ok"></i></td>
          <td><i class="icon-ok"></i></td>
        </tr>
        <tr>
          <td>{% trans "Feature Two" %}</td>
          <td><i class="icon-remove"></i></td>
          <td><i class="icon-remove"></i></td>
          <td><i class="icon-ok"></i></td>
        </tr>
        <tr>
          <td>{% trans "Feature Three" %}</td>
          <td><i class="icon-remove"></i></td>
          <td><i class="icon-remove"></i></td>
          <td><i class="icon-ok"></i></td>
        </tr>
        <tr>
          <td>{% trans "Feature Four" %}</td>
          <td><i class="icon-remove"></i></td>
          <td><i class="icon-ok"></i></td>
          <td><i class="icon-ok"></i></td>
        </tr>
        <tr>
          <td>{% trans "Feature Five" %}</td>
          <td><i class="icon-remove"></i></td>
          <td><i class="icon-ok"></i></td>
          <td><i class="icon-ok"></i></td>
        </tr>
        <tr>
          <td></td>
          <td>
            <div class="empty"></div>
          </td>
          <td>
            {% if is_subscribed and account_type == 2 %}
              <a href="javascript:void(0)" class="btn btn-large" disabled="disabled">{% trans "Already subscribed" %}</a>
            {% else %}
              <a href="{% url subscription_basic %}" class="btn btn-large">
                {% if is_subscribed and account_type == 3 %}
                  {% blocktrans with name=basic_plan.name %}Downgrade to {{ name }}{% endblocktrans %}
                {% else %}
                  {% trans "Subscribe Now" %}
                {% endif %}
              </a>
            {% endif %}
          </td>
          <td>
            <a href="{% url subscription_premium %}" class="btn btn-large">
              {% if is_subscribed and account_type == 2 %}
                {% blocktrans with name=premium_plan.name %}Upgrade to {{ name }}{% endblocktrans %}
              {% elif is_subscribed and account_type == 3 %}
                {% blocktrans with name=premium_plan.name %}Create new {{ name }} instance{% endblocktrans %}
              {% else %}
                {% trans "Subscribe Now" %}
              {% endif %}
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>
{% endblock content %}

{% block extra_scripts %}
{% endblock extra_scripts %}