{% extends "base.html" %}
{% load i18n %}

{% block extra_links %}
  <link rel="stylesheet" href="{{ STATIC_PREFIX }}bootstrap/css/bootstrap-custom.css">
{% endblock extra_links %}

{% block title %}
  {% trans "Pricing Plans" %}
{% endblock title %}

{% block content_title %}
  <h1>{% trans "Pricing Plans" %}</h1>
{% endblock content_title %}

{% block content %}
  <div class="container">
    <div class="row-fluid pricing">
      <div class="span4 plan">
        <h3>{% trans "Free" %}</h3>
        <span>$0</span>
        <ul>
          <li>{% trans "Feature One" %}</li>
          <li>{% trans "Feature Two" %}</li>
          <li>{% trans "Feature Three" %}</li>
          <li>{% trans "Feature Four" %}</li>
        </ul>
        {% if is_subscribed %}
          <div>
            <a href="{% url subscription_cancel %}" class="btn btn-large">{% trans "Unsubscribe" %}</a>
          </div>
        {% else %}
          <div class="empty"></div>
        {% endif %}
      </div>
      <div class="span4 plan featured animate go-up">
        <h3>{% blocktrans with name=basic_plan.name %}{{ name }}{% endblocktrans %}</h3>
        <span>${{ basic_plan.price }}</span>
        <ul>
          <li>{% trans "Feature One" %}</li>
          <li>{% trans "Feature Two" %}</li>
          <li>{% trans "Feature Three" %}</li>
          <li>{% trans "Feature Four" %}</li>
        </ul>
        <div>
          {% if is_subscribed and account_type == 2 %}
            <a href="javascript:void(0)" class="btn btn-large" disabled="disabled">{% trans "Already subscribed" %}</a>
          {% else %}
            <a href="{% url subscription_basic %}" class="btn btn-large">
              {% if is_subscribed and account_type == 3 %}
                {% trans "Downgrade" %}
              {% else %}
                {% trans "Subscribe Now" %}
              {% endif %}
            </a>
          {% endif %}
        </div>
      </div>
      <div class="span4 plan featured animate go-up">
        <h3>{% blocktrans with name=premium_plan.name %}{{ name }}{% endblocktrans %}</h3>
        <span>${{ premium_plan.price }}</span>
        <ul>
          <li>{% trans "Feature One" %}</li>
          <li>{% trans "Feature Two" %}</li>
          <li>{% trans "Feature Three" %}</li>
          <li>{% trans "Feature Four" %}</li>
        </ul>
        <div>
          <a href="{% url subscription_premium %}" class="btn btn-large">
            {% if is_subscribed and account_type == 2 %}
              {% trans "Upgrade" %}
            {% elif is_subscribed and account_type == 3 %}
              {% trans "Create new instance" %}
            {% else %}
              {% trans "Subscribe Now" %}
            {% endif %}
          </a>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block extra_scripts %}
{% endblock extra_scripts %}