html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
}

body {
    line-height: normal;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #555;
    background-color: #f2f2f2;
}

blockquote,q {
    quotes: inherit;
    font-size: 95%;
    padding: 15px;
}

blockquote:before,blockquote:after,q:before,q:after {
    content: inherit;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


label {
    cursor: pointer;
    font-size: 115%;
    font-weight: bold;
    display: inline-block;
/*    margin-top: 10px;*/
}

th {
    cursor: pointer;
    font-size: 115%;
    font-weight: bold;
/*    display: inline-block;*/
/*    margin-top: 10px;*/
}

textarea {
    overflow: auto;
    height: 80px;
}

button,input,select,textarea {
    margin: 0;
}

button {
    width: auto;
    overflow: visible;
}

html {
    -webkit-font-smoothing: antialiased;
    text-rendering: Legibility;
}

fieldset {
    margin-bottom: 15px;
}

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
    margin: 20px 0 20px 0;
}

.hidden {
    display: none;
}

a.disabled,a.disabled:hover {
    cursor: default;
    color: #B0B0B0;
    font-style: italic;
    text-decoration: none;
}

.clearfix:after {
    clear: both;
    content: ' ';
    display: block;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
    height: 0;
}

* html .clearfix,:first-child+html
.clearfix {
    zoom: 1;
}

#main {
    padding-top: 50px;
}

#main
header.global {
    width: 1170px;
    background-color: white;
    margin: auto;
    padding: 10px 15px 5px 15px;
}

#main header.global .nav-wrapper {
    display: block;
    width: 100%;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    background: #B8D0C3;
    border-bottom: 1px solid #348E82;
}

#main header.global .nav-wrapper
.inside {
    width: 1200px;
    height: 49px;
    background-image: url(../img/sylva_logo_text_header.png);
    background-repeat: no-repeat;
    background-position: 10px 4px;
    background-color: #D6E7DF;
    margin: auto;
}

#main header.global
nav.contact {
    float:left;
    text-shadow:0 1px 1px rgba(0,0,0,0.9);
    padding-left: 90px;
}

#main header.global nav.contact
ul {
    margin-left: 50px;
}

#main header.global nav.contact ul
li {
    margin-right: 40px;
    line-height: 16px;
}

#main header.global nav.contact ul li
h2 {
    font-size: 11px;
    color: #a1a1a1;
    font-weight: 400;
}

select#h2-relationships {
    font: normal 20px serif;
    color: #348E82;
    padding-bottom: 5px;
    padding-top: 5px;
    border: none;
    padding-left: 0;
    margin-left: 0;
    border-image: initial;
    margin-top: initial;
    box-shadow: none;
}

span.all-relationships label {
    display: block;
}

#main header.global nav.contact ul li
a {
    font-size: 11px;
    font-weight: 700;
    color: #FFF;
    text-decoration: none;
    border-bottom: solid 1px #505050;
    padding-bottom: 2px;
}

#main header.global nav.contact ul li a:hover {
    color: #FFF;
    text-shadow: 0 0 2px rgba(255,255,255,0.5);
    border-bottom: solid 1px #FFF;
}

#main header.global nav.main
ul {
    margin-right: 15px;
}

#main header.global nav.main ul
li {
    margin-left: 10px;
}

/* Home lings */
a.signup {
    background: #FFF url(../img/shut-down.png) no-repeat 0 center;
}

a.login {
    background: #FFF url(../img/agent.png) no-repeat 0 center;
}

a.logout {
    background: #FFF url(../img/shut-down.png) no-repeat 0 center;
}

a.plans {
    background: #FFF url(../img/badge.png) no-repeat 0 center;
}

#main header.global nav.main ul li
a.text {
    border: none;
    background: none;
    color: #348E82;
    border-radius: none;
    box-shadow: none;
    -moz-border-radius: none;
    -webkit-border-radius: none;
}

#main header.global select#nodeTypeNavigation {
    display: inline;
/*    height: 20px;*/
    padding: 0px;
    margin: 0px;
    top: 7px;
    position: relative;
    float: right;
    max-width: 300px;
    width: auto;
}

#main header.global nav.main ul li
a {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.9);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.9);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.9);
    display: block;
    margin-top: 1px;
    font-size: 12px;
    font-weight: 700;
    color: #262626;
    text-decoration: none;
    padding: 5px 5px 5px 5px;
    background-color: white;
}

#main header.global nav.main ul li
a.active {
    opacity: 0.2;
    cursor: default;
}

#main header.global nav.main ul li a.link-home
span {
    background: url(../img/larr.gif) no-repeat 0 50%;
    padding: 2px 2px 2px 10px;
}

#main header.global nav.main ul li a.link
span {
    padding-left:3px;
    padding-right:3px;
}

#main header.global nav.main ul li a:hover {
    box-shadow: 0 0 5px rgba(52,142,130,0.75);
    -webkit-box-shadow: 0 0 5px rgba(52,142,130,0.75);
    -moz-box-shadow: 0 0 5px rgba(52,142,130,0.75);
}

#main header.global nav.main
ul {
    padding: 11px 0 0 0;
}




ul#box-nav li
a.text {
    border: none;
    background: none;
    color: #348E82;
    border-radius: none;
    box-shadow: none;
    -moz-border-radius: none;
    -webkit-border-radius: none;
}

ul#box-nav li
a {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.9);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.9);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.9);
    display: block;
    margin-top: 1px;
    font-size: 12px;
    font-weight: 700;
    color: #262626;
    text-decoration: none;
    padding: 5px 5px 5px 5px;
    background-color: white;
}

ul#box-nav li a:hover {
    box-shadow: 0 0 5px rgba(52,142,130,0.75);
    -webkit-box-shadow: 0 0 5px rgba(52,142,130,0.75);
    -moz-box-shadow: 0 0 5px rgba(52,142,130,0.75);
}

ul#box-nav {
    padding: 11px 0 0 0;
    top: -50px;
    right: -15px;
    position: relative;
    float: right;
}

ul#box-nav
li {
    float: left;
    list-style: none;
    margin-left: 10px;
}



#main header.global nav ul
li {
    float: left;
    list-style: none;
}

#main header.global
h1 {
    font: normal 25px serif;
    color: #348E82;
    text-shadow: 1px 1px 1px #A19C60;
    /*padding-bottom: 10px;*/
    /*padding-top:5px;*/
}

#main header.global h1
a {
    display: block;
    text-align: center;
/*text-indent:-9999em;*/
}

#main header.global h1
a.inactive {
cursor:default;
}

#body {
/*    background: white;*/
/*    width: 1140px;*/
/*    position: relative;*/
/*    margin: auto;*/
/*    padding: 5px 30px 5px 30px;*/
    background: white;
    width: 1150px;
    position: relative;
    margin: auto;
    padding: 5px 30px 5px 20px;
}

#body
#homepage {
    padding-top: 0px;
}

#main
#footer.global {
    background: white;
    width: 1160px;
    position: relative;
    margin: auto;
    padding: 20px;
    z-index: -1;
}

#main #footer.global
.inside {
    border-top: solid 1px #DADADA;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 25px;
}

#footer {
    display: block;
}

ol,ul {
    list-style: none;
}

#main header.global
nav.main,#main #footer.global .inside
.top {
    float: right;
}


a,#main #footer.global .inside
a {
    color: #555;
    text-decoration: none;
}

#main footer.global .inside a:hover {
    text-decoration: underline;
}


#content3 {
    /*  width:992px;*/
    min-height: 450px;
    /*  background:#1D5600;*/
    text-align: left;
    padding-top: 0px;
    padding-bottom: 5px;
    overflow: hidden;
}

#content3 p {
    text-align:justify;
    padding-bottom:10px;
}

.content3-block {
    width: 365px;
    float: left;
    margin-left: 1px;
}

.content3-block p {
    width:365px; 
    float:left;
    text-align:left;
}

#content2 {
    /*  width:992px;*/
    min-height: 450px;
    /*  background:#1D5600;*/
    text-align: left;
    padding-top: 0px;
    padding-bottom: 5px;
    overflow: hidden;
}

#content2 p {
    text-align:justify;
    padding-bottom:10px;
}

.content2-first {
    width: 347px;
    float: left;
    padding-left: 2px;
}

.content2-second {
    width: 740px;
    float: left;
    padding-left: 30px;
}

.content2-block p {
    width:365px; 
    float:left;
    text-align:left;
}

/* three column area, vertical dotted divider */
.content-divider {
    background: url(../img/content-divider.gif) no-repeat top center;
    width: 1px;
    min-height: 400px;
    float: left;
    padding: 0px 10px 0px 10px; 
}

#content2 .content-divider {
    background: url(../img/content-divider.gif) repeat-y top center;
    width: 1px;
    min-height: 420px;
    float: left;
    padding: 0px 10px 0px 10px;
    margin-top: 0;
}
/* end divider */

/* end content 2 */

#main h2,legend {
    font: normal 20px serif;
    color: #348E82;
/*    text-shadow: 1px 1px 1px #A19C60;*/
    padding-bottom: 5px;
    padding-top: 5px;
}

/*
    Slogan
*/
p.slogan {
    text-align: center;
    font-size: 15px;
    font-family: Georgia;
    font-style: italic;
    font-weight: bold;
    color: #A19C60;
    text-shadow:0 1px 1px rgba(175,203,188,0.8);
}

/* Links */
a {
    color: #348E82;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

span.buttonLinkOption {
    vertical-align: middle;
    display: inline-block;
    margin-top: 2px;
    margin-left: 2px;
}

span.buttonLinkOption a {
    font-weight: bold;
}

p.forgot-password {
    vertical-align: middle;
    display: inline-block;
    margin-top: 17px;
    margin-left: 2px;
}

/* Defaults */
.button,input,textarea,select {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.9);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.9);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.9);
    display: block;
    font-size: 100%;
    text-decoration: none;
    padding: 5px 8px 5px 8px;
    margin: 2px 0px 2px 0px;
    background-color: white;
    border: none;
    border-top: solid 1px #DADADA;
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    width: 300px;
    vertical-align: middle;
}

.addButton {
    font-size: 105%;
    font-weight: 700;
    text-decoration: none;
    width: auto;
    display: inline-block;
    cursor: pointer;
    background: transparent url(../img/add-item_16.png) no-repeat left center;
    padding-left: 18px;
}

input[type="checkbox"],input[type="radio"] {
    display: initial;
    width: auto;
    margin-top: -4px;
    display: inline;
}

form {
    max-width: 321px;
    display: inline;
}

#content2 form {
    max-width: initial;
}

#content3 form {
    max-width: initial;
}

#content2 a.delete-row {
    background: url(../img/recycle-full.png) no-repeat center 15px;
    height: 45px;
    display: block;
    padding: 0 0 0 2px;
    font-weight: bold;
}

#content3 a.delete-row {
/*    background: url(../img/recycle-full.png) no-repeat center 15px;*/
/*    height: 45px;*/
/*    display: block;*/
/*    padding: 0 0 0 2px;*/
/*    font-weight: bold;*/
    background: url(../img/recycle-full.png) no-repeat left -2px;
    height: 35px;
/*    display: block;*/
    padding: 10px 0 0 30px;
    font-weight: bold;
}

#content3 div.dynamic-form a.delete-rowupFiles {
    background: url(../img/recycle-full.png) no-repeat left -2px;
    height: 35px;
    padding: 10px 0 0 30px;
    font-weight: bold;
    float: right;
    position: relative;
    width: 15px;
    margin-top: -115px;
}

#content3 div.dynamic-form a.delete-rowupLinks {
    background: url(../img/recycle-full.png) no-repeat left -2px;
    height: 35px;
    padding: 10px 0 0 30px;
    font-weight: bold;
    float: right;
    position: relative;
    width: 15px;
    margin-top: -110px;
}

#content3 div.relationships a.delete-rowupProps {
    background: url(../img/recycle-full.png) no-repeat left -2px;
    height: 35px;
    padding: 10px 0 0 30px;
    font-weight: bold;
    float: right;
    position: relative;
    width: 15px;
    margin-top: -61px;
}

#content3 div.relationships a.delete-rowup {
    background: url(../img/recycle-full.png) no-repeat left -2px;
    height: 35px;
    padding: 10px 0 0 30px;
    font-weight: bold;
    float: right;
    position: relative;
    width: 15px;
    margin-top: -42px;
}

#content3 div.relationships a.delete-row {
    background: url(../img/recycle-full.png) no-repeat left -2px;
    height: 35px;
    padding: 10px 0 0 30px;
    font-weight: bold;
    float: right;
    position: relative;
    width: 15px;
    margin-top: 0px;
}

div.dynamic-form,div.initial {
    margin-bottom: 0px;  /* 15px */
}

/* Formsets relationships */
.relationships div.initial p {
    display: none;
    margin-left: 20px;
    float: none;
}

.relationships div.initial p input[type="text"],
.relationships div.initial p select,
.relationships div.initial p textarea {
    width: 263px;
}

.relationships div.initial p:first-child {
    display: block;
    margin-left: inherit;
}

.relationships div.initial p:first-child label {
    display: none;
}

.relationships div.initial p:first-child input[type="text"],
.relationships div.initial p:first-child select,
.relationships div.initial p:first-child textarea {
    width: 300px;
}

.relationships div.dynamic-form p {
    display: none;
    margin-left: 20px;
    float: none;
}

.relationships div.dynamic-form p input[type="text"],
.relationships div.dynamic-form p select,
.relationships div.dynamic-form p textarea {
    width: 263px;
}

.relationships div.dynamic-form p:first-child {
    display: block;
    margin-left: inherit;
}

.relationships div.dynamic-form p:first-child label {
    display: none;
}

.relationships div.dynamic-form p:first-child input[type="text"],
.relationships div.dynamic-form p:first-child select,
.relationships div.dynamic-form p:first-child textarea {
    width: 300px;
}

.floating {
    float: right;
    position: relative;
/*    width: 15px;*/
}

/* End */
div.initial p:last-child {
    display: none;
}

.content2-first ul.errorlist li {
    margin-right: 26px;
}

form p {
    padding-bottom: 15px;
}

select {
    border: solid 1px #DADADA;
    width: 317px;
}

.button,input[type="button"],input[type="submit"] {
    font-size: 105%;
    font-weight: 700;
    color: #348E82;
    text-decoration: none;
    width: auto;
    margin: auto;
    display: inline-block;
    background-color: #D6E7DF;
    cursor: pointer;
/*    margin-bottom: 10px;*/
/*    margin-top: 20px;*/
}

.button:hover,input[type="button"]:hover,input[type="submit"]:hover,input:active,textarea:active,select:active {
    box-shadow: 0 1px 5px rgba(52,142,130,0.75);
    -webkit-box-shadow: 0 1px 5px rgba(52,142,130,0.75);
    -moz-box-shadow: 0 1px 5px rgba(52,142,130,0.75);
    text-decoration: none;
}

.button:active,input[type="button"]:active,input[type="submit"]:active {
    box-shadow: 0 0 5px rgba(52,142,130,0.75);
    -webkit-box-shadow: 0 0 5px rgba(52,142,130,0.75);
    -moz-box-shadow: 0 0 5px rgba(52,142,130,0.75);
    padding: 6px 7px 4px 9px;
}

.inFormsets {
    margin: 0px 0 25px 0;
}

.helptext {
    font-size: 90%;
    color: #969696;
    font-style: italic;
    margin: 0 0 5px 0;
    display: block;
}

ul.errorlist {
    position: relative;
    float: right;
    margin-right: 5px;
}

.errorlist li {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0 1px 1px rgba(255, 0, 0, 0.9);
    -webkit-box-shadow: 0 1px 1px rgba(255, 0, 0, 0.9);
    -moz-box-shadow: 0 1px 1px rgba(255, 0, 0, 0.9);
    display: block;
/*    margin: 2px 0px 2px 0px;*/
    font-size: 90%;
    text-decoration: none;
    padding: 0px 5px 0px 5px;
    background-color: #FDD;
    border: none;
    border-top: solid 1px red;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
/*    width: 175px;*/
    vertical-align: middle;
    font-style: italic;
}

/* Dashboard Graphs */
.graph-list,.instance-list {
    padding-bottom: 10px;
}

.graph-item {
    padding-bottom: 80px;
}

.graph-title {
    background: transparent url(../img/55-network_16.png) 2px center no-repeat;
    font-size: 120%;
    padding: 5px 5px 2px 20px;
    height: 20px;
    display: block;
}

.graph-instance {
    background: transparent url(../img/database_16.png) left center no-repeat;
    padding: 1px 5px 1px 16px;
    height: 16px;
    display: block;
    margin-left: 10px;
    overflow: hidden;
}


.graph-schema {
    background: transparent url(../img/connected_16.png) left center no-repeat;
    padding: 1px 5px 1px 16px;
    height: 16px;
    display: block;
    margin-left: 10px;
}

.graph-total {
    background: transparent url(../img/connections_16.png) left center no-repeat;
    padding: 1px 5px 1px 16px;
    height: 16px;
    display: block;
    margin-left: 10px;
}

.graph-owner {
    background: transparent url(../img/badge_16.png) left center no-repeat;
    padding: 1px 5px 1px 16px;
    height: 16px;
    display: block;
    margin-left: 10px;
}

.graph-nodes {
    background: transparent url(../img/nodes_16.png) left center no-repeat;
    padding: 1px 5px 1px 16px;
    height: 16px;
    display: block;
    margin-left: 10px;
}

.graph-queries {
    background: transparent url(../img/lab_16.png) left center no-repeat;
    padding: 1px 5px 1px 16px;
    height: 16px;
    display: block;
    margin-left: 10px;
}

.graph-relationships {
    background: transparent url(../img/connections_16.png) left center no-repeat;
    padding: 1px 5px 1px 16px;
    height: 16px;
    display: block;
    margin-left: 10px;
}

.graph-visibility {
    background: transparent url(../img/eye_16.png) left center no-repeat;
    padding: 1px 5px 1px 16px;
    height: 16px;
    display: block;
    margin-left: 10px;
}

.graph-visualization {
    background: transparent url(../img/grid.jpg) repeat;
    padding: 5px;
    height: 70px;
    width: 100%;
    display: block;
    margin-bottom: 10px;
    color: gray;
    font-style: italic;
    border: 1px solid #F2F2F2;
}

.graph-visualization .not-available {
    padding: 5px;
    color: gray;
    font-style: italic;
    border: 1px solid gray;
    text-align: center;
    font-size: 1.5em;
    border: none;
}

.graph-collaborators {
    background: transparent url(../img/agent_16.png) left center no-repeat;
    padding: 1px 5px 1px 16px;
    height: 16px;
    display: block;
    margin-left: 10px;
}

.graph-description {
    font-style: italic;
    font-family: Georgia;
}

.dashboard-graphs .button,.dashboard-graphs .disabled {
    position: relative;
    float: right;
    margin-top: 3px;
}

/* Dashboard graph flags */
.flags {
    /*  width:992px;*/
    /*  background:#1D5600;*/
    text-align: left;
    padding-top: 0px;
    padding-bottom: 5px;
    margin-top: 5px;
}

.flags p {
    text-align:justify;
    padding-bottom:10px;
}

.flags-block {
    width: 49%;
    float:left;
}

.flags-block p {
    width: 100%; 
    float:left;
    text-align:left;
}

/* three column area, vertical dotted divider */
.flags-divider {
    background: url(../img/content-divider.gif) no-repeat top center;
    width: 1px;
    min-height: 55px;
    float: left;
    padding: 15px 2px 0px 2px;
}

/* Schemas */
.indent10 {
    margin-left: 10px;
}

.indent {
    margin-left: 20px;
}

label a.indent {
    font-size: 0.75em;
    font-style: italic;
    font-weight: normal;
    margin-left: 5px;
}

div.indent label.relProps {
    font-size: 0.9em;
    font-weight: normal;
}

/* Menu buttons */
nav.menu {
    position: relative;
    float: right;
    padding: 3px 0 0 0;
}

nav.menu
ul {
    margin-right: 0px;
}

nav.menu ul
li {
    margin-left: 10px;
}

nav.menu ul li
a.text {
    border: none;
    background: none;
    color: #348E82;
    border-radius: none;
    box-shadow: none;
    -moz-border-radius: none;
    -webkit-border-radius: none;
}

nav.menu ul li
a {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.9);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.9);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.9);
    display: block;
    margin-top: 4px;
    font-size: 12px;
    font-weight: 700;
    color: #262626;
    text-decoration: none;
    padding: 5px 5px 5px 5px;
    background-color: white;
}

nav.menu ul li .inline {
    display: inline-block;
}

nav.menu ul li a.link {
    padding-left:3px;
    padding-right:3px;
}

nav.menu ul li
a.active {
    opacity: 0.2;
    cursor: default;
}

nav.menu ul li a.link-home
span {
    background: url(../img/larr.gif) no-repeat 0 50%;
    padding: 2px 2px 2px 10px;
}

nav.menu ul li a.link
span {
    padding-left:3px;
    padding-right:3px;
}

nav.menu ul li a:hover {
    box-shadow: 0 0 5px rgba(52,142,130,0.75);
    -webkit-box-shadow: 0 0 5px rgba(52,142,130,0.75);
    -moz-box-shadow: 0 0 5px rgba(52,142,130,0.75);
}

nav.menu
ul {
    padding: 0px 0 0 0;
}

nav.menu ul
li {
    float: left;
    list-style: none;
}

/* Node types properties */

.itemtype-properties-table tr.formset td {
    padding-bottom: 10px;
    vertical-align: top;
}

.itemtype-properties-table label {
    display: block;
}

.itemtype-properties-table span label {
    display: initial;
}

.itemtype-properties-table input[type="text"] {
    width: 250px;
    display: block;
}

.itemtype-properties-table table.subform input[type="text"] {
    width: 225px;
    display: block;
}

.itemtype-properties-table table.subform span.number input[type="text"] {
    width: 25px;
    display: block;
}

.itemtype-properties-table input[type="checkbox"] {
    margin-top: -4px;
}

.itemtype-properties-table select {
    width: 100px;
}

.itemtype-properties-table textarea {
    height: 15px;
    width: 380px;
    overflow: hidden;
}

.itemtype-properties-table textarea.expand {
    height: 45px;
    width: 405px;
    overflow: auto;
}

div#datalist {
    width: 90%;
    margin-left: 55px;
    margin-bottom: 20px;
    border:1px solid #348E82;
    text-align: center;
}

#list_topbar_title {
    background-color: #B8D0C3;
}

#list_bottombar {
/*    background-color: #D6E7DF;*/
/*    padding: 5px;*/
    padding-bottom: 25px;
}

#list_bottombar a {
/*    margin: 5px 50px 5px 50px;*/
}

.list_content {
    margin: 10px;
}

table.content-table {
    width: 100%;
}

.content-table table, th {
/*    border: 1px solid #348E82;*/
    padding: 5px 20px 5px 20px;
    background-color: #D6E7DF;
}
.content-table table, th select {
    color: #555;
    display: inline;
    width: 20px;
    height: 30px;
    padding: 0px;
    margin: 0px;
    font-weight: bold;
    border: 1px solid #D6E7DF;
    background-color: #D6E7DF;
    box-shadow: none;
    /* Firefox*/
/*    padding: 3px 0 0;*/
}

.content-table td {
/*    border: 1px solid #348E82;*/
    padding: 5px;
    text-align: center;
/*    padding-bottom: 3px;*/
}

#permissions_table th {
    border-right: 1px solid white;
    text-align: center;
}

#canvas-info {
  width: 180px;
  height: 300px;
  float: left;
  margin-right: 4px;
  padding: 3px;
  border: 3px solid #D8E8DE;
}

div.relationships-box {
  overflow: auto;
  max-height: 30px;
}

#searchBox p label {
    display: none;
}

#searchBox p input[type="text"] {
    width: 0px;
    height: 15px;
    font: inherit;
    margin-top: 3px;
    background: url(../img/search_24.png) no-repeat right 50%;
    padding-right: 17px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.9);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.9);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.9);
    display: block;
    font-size: 12px;
    font-weight: 700;
    color: #262626;
    text-decoration: none;
    background-color: white;

}

#searchBox p input[type="text"]:focus {
    width: 120px;
}

#searchBox p input[type="text"]:hover {
    box-shadow: 0 0 5px rgba(52,142,130,0.75);
    -webkit-box-shadow: 0 0 5px rgba(52,142,130,0.75);
    -moz-box-shadow: 0 0 5px rgba(52,142,130,0.75);
}

ol.searchResults {
    list-style-type: lower-hexadecimal;
}

.searchResults li {
    padding-left: 20px;
    padding-bottom: 5px;
}
