/* Resets *********************************************************************/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,
acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,
sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,
caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,
figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,
audio,video {
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
}
/* END Resets *****************************************************************/


/* Redefinitions **************************************************************/
body {
    line-height: normal;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    font-size: 13px;
    font-weight: 400;
    color: #555;
    background-color: #f2f2f2;
}

h2 {
    font: normal 19px Georgia;
    color: #348E82;
    padding-bottom: 5px;
    padding-top: 5px;
    text-overflow: inherit;
}

dl {
    margin-bottom: 20px;
}

dt, dd {
    line-height: 20px;
}

dt {
    font-weight: bold;
}

dd {
    margin-left: 10px;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: inherit;
    font-size: 95%;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 16px;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: inherit;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

th {
    cursor: pointer;
    font-size: 115%;
    font-weight: bold;
}

form {
    max-width: 321px;
    display: inline;
}

form p {
    padding-bottom: 15px;
}

fieldset {
    margin-bottom: 15px;
}

textarea {
    overflow: auto;
    height: 80px;
}

label {
    cursor: pointer;
    font-size: 115%;
    font-weight: bold;
    display: inline-block;
}

button, input, select, textarea {
    margin: 0;
}

button {
    width: auto;
    overflow: visible;
}

.button,
button,
input[type="text"],
input[type="number"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="submit"],
input[type="button"],
textarea,
select {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.9);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.9);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.9);
    display: block;
    font-size: 100%;
    text-decoration: none;
    padding: 5px 8px 5px 8px;
    margin: 2px 0px 2px 0px;
    background-color: white;
    border: none;
    border-top: solid 1px #DADADA;
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    width: 300px;
    vertical-align: middle;
}

select {
    border: solid 1px #DADADA;
    width: 317px;
}

input[type="checkbox"],
input[type="radio"] {
    display: initial;
    width: auto;
    margin-top: -4px;
    display: inline;
}

.button,
input[type="button"],
input[type="submit"],
button[type="submit"] {
    font-size: 105%;
    font-weight: 700;
    color: #348E82;
    text-decoration: none;
    width: auto;
    margin: auto;
    display: inline-block;
    background-color: #D6E7DF;
    cursor: pointer;
}

.button:hover,
input[type="button"]:hover,
input[type="submit"]:hover,
button[type="submit"]:hover,
input:active,
textarea:active,
select:active {
    box-shadow: 0 1px 5px rgba(52,142,130,0.75);
    -webkit-box-shadow: 0 1px 5px rgba(52,142,130,0.75);
    -moz-box-shadow: 0 1px 5px rgba(52,142,130,0.75);
    text-decoration: none;
}

.button:active,
.button.active,
input[type="button"]:active,
input[type="submit"]:active {
    box-shadow: 0 0 5px rgba(52,142,130,0.75);
    -webkit-box-shadow: 0 0 5px rgba(52,142,130,0.75);
    -moz-box-shadow: 0 0 5px rgba(52,142,130,0.75);
    padding: 6px 7px 4px 9px;
}

abbr {
    border-bottom: .1em dotted;
    cursor: help;
}

strong, b {
    font-weight: bold;
}

a {
    color: #348E82;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

a.disabled,
a.disabled:hover {
    cursor: default;
    color: #B0B0B0;
    font-style: italic;
    text-decoration: none;
}

progress {
    display: block;
    position: relative;
    height: 18px;
    width: 198px;
    background: #D6E7DF;
    border: 1px solid #348E82;
    color: #348E82;
    -moz-appearance: none;
    -webkit-appearance: none;
}

/* Firefox */
progress::-moz-progress-bar { background: #348E82; }

/* Chrome */
progress::-webkit-progress-bar { background: #D6E7DF; }
progress::-webkit-progress-value { background: #348E82; }


/* END Redefinitions **********************************************************/


/* Class utils ****************************************************************/
.stronger {
    font-weight: bold;
    font-size: 1.2em;
}

.bigger {
    font-size: 115%;
    margin-top: 5px;
}

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
    margin: 20px 0 20px 0;
}

.hidden {
    display: none;
}

.floating {
    float: right;
    position: relative;
}

.bold {
    font-weight: bold;
}

.inline {
    display: inline-block;
}

.max600 {
    overflow: hidden;
    max-height: 600px;
}

.max600:hover {
    overflow: auto;
    max-height: 600px;
}

.medium-width {
    width: 700px;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.clearfix:after {
    clear: both;
    content: ' ';
    display: block;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
    height: 0;
}

.addButton {
    font-size: 105%;
    font-weight: 700;
    text-decoration: none;
    width: auto;
    display: inline-block;
    cursor: pointer;
    background: transparent url(../img/add-item_16.png) no-repeat left center;
    padding-left: 18px;
}

p.slogan {
    text-align: center;
    font-size: 15px;
    font-family: Georgia;
    font-style: italic;
    font-weight: bold;
    color: #A19C60;
    text-shadow:0 1px 1px rgba(175,203,188,0.8);
}

.bigger p, .bigger li {
    padding-bottom: 5px !important;
}

.bigger ul {
    list-style-type: disc;
    padding-left: 40px;
}

.title-graph-name {
    display: none;
    font-size: 150%;
    color: #348E82;
    padding-top: 13px;
}

.title-graph-name h2 {
    padding: 0;
}

/* END Class utils ************************************************************/


/* Layout *********************************************************************/

* html .clearfix, :first-child+html .clearfix {
    zoom: 1;
}

#main {
    padding-top: 50px;
}

#main header.global {
    width: 1170px;
    background-color: white;
    margin: auto;
    padding: 10px 15px 5px 15px;
}

#main header.global .nav-wrapper {
    display: block;
    width: 100%;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    background: #B8D0C3;
    border-bottom: 1px solid #348E82;
}

#main header.global .nav-wrapper .inside {
    width: 1200px;
    height: 49px;
    background-color: #D6E7DF;
    margin: auto;
}

#link-logo {
    width: 140px;
    height: 50px;
    display: inline-block;
    float: left;
    background-image: url(../img/sylva_logo_text_header.png);
    background-repeat: no-repeat;
    background-position: 10px 4px;
    text-indent: -9999px;
}

#main header.global nav.contact {
    float:left;
    text-shadow:0 1px 1px rgba(0,0,0,0.9);
    padding-left: 90px;
}

#main header.global nav.contact ul {
    margin-left: 50px;
}

#main header.global nav.contact ul li {
    margin-right: 40px;
    line-height: 16px;
}

#main header.global nav.contact ul li h2 {
    font-size: 11px;
    color: #a1a1a1;
    font-weight: 400;
}

#main legend {
    font: normal 19px Georgia;
    color: #348E82;
    padding-bottom: 5px;
    padding-top: 5px;
}

select#h2-relationships {
    font: normal 18px Georgia;
    color: #348E82;
    padding-bottom: 5px;
    padding-top: 5px;
    border: none;
    padding-left: 0;
    margin-left: 0;
    border-image: initial;
    margin-top: initial;
    box-shadow: none;
    cursor: pointer;
}

span.all-relationships label {
    display: block;
}

#main header.global nav.contact ul li a {
    font-size: 11px;
    font-weight: 700;
    color: #FFF;
    text-decoration: none;
    border-bottom: solid 1px #505050;
    padding-bottom: 2px;
}

#main header.global nav.contact ul li a:hover {
    color: #FFF;
    text-shadow: 0 0 2px rgba(255,255,255,0.5);
    border-bottom: solid 1px #FFF;
}

#main header.global nav.main ul {
    margin-right: 15px;
}

#main header.global nav.main ul li {
    margin-left: 10px;
}

/* Home links */
a.signup {
    background: #FFF url(../img/shut-down.png) no-repeat 0 center;
}

a.login {
    background: #FFF url(../img/agent.png) no-repeat 0 center;
}

a.logout {
    background: #FFF url(../img/shut-down.png) no-repeat 0 center;
}

a.plans {
    background: #FFF url(../img/badge.png) no-repeat 0 center;
}

#main header.global nav.main ul li a.text {
    border: none;
    background: none;
    color: #348E82;
    border-radius: none;
    box-shadow: none;
    -moz-border-radius: none;
    -webkit-border-radius: none;
}

#main header.global select#nodeTypeNavigation {
    display: inline;
/*    height: 20px;*/
    padding: 0px;
    margin: 0px;
    top: 7px;
    position: relative;
    float: right;
    max-width: 300px;
    width: auto;
}

#main header.global nav.main ul li a {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.9);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.9);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.9);
    display: block;
    margin-top: 1px;
    font-size: 12px;
    font-weight: 700;
    color: #262626;
    text-decoration: none;
    padding: 5px 5px 5px 5px;
    background-color: white;
}

#main header.global nav.main ul li a.active {
    opacity: 0.2;
    cursor: default;
}

#main header.global nav.main ul li a.link-home span {
    background: url(../img/larr.gif) no-repeat 0 50%;
    padding: 2px 2px 2px 10px;
}

#main header.global nav ul li a.link span {
    padding-left:3px;
    padding-right:3px;
}

#main header.global nav.main ul li a:hover {
    box-shadow: 0 0 5px rgba(52,142,130,0.75);
    -webkit-box-shadow: 0 0 5px rgba(52,142,130,0.75);
    -moz-box-shadow: 0 0 5px rgba(52,142,130,0.75);
}

#main header.global nav.main ul {
    padding: 11px 0 0 0;
}

header .messages {
    width: 500px;
    margin: auto;
    text-align: center;
    position: absolute;
    top: 35px;
    left: 30%;
    z-index: 1000;
}

header .messages .error,
header .messages .warning,
header .messages .success,
header .messages .info,
header .messages .debug {
    font-weight: bold;
    padding: 7px;
    border-radius: 6px;
}

header .messages .error {
    color: #B94A48;
    background-color: #F2DEDE;
}

header .messages .warning {
    color: #C09853;
    background-color: #FCF8E3;
}

header .messages .success {
    color: #468847;
    background-color: #DFF0D8;
}

header .messages .info {
    color: #3A87AD;
    background-color: #D9EDF7;
}

header .messages .debug {
    color: red;
    background-color: lightgray;
}

ul#box-nav li a.text {
    border: none;
    background: none;
    color: #348E82;
    border-radius: none;
    box-shadow: none;
    -moz-border-radius: none;
    -webkit-border-radius: none;
}

ul#box-nav li a {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.9);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.9);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.9);
    display: block;
    margin-top: 1px;
    font-size: 12px;
    font-weight: 700;
    color: #262626;
    text-decoration: none;
    padding: 5px 5px 5px 5px;
    background-color: white;
}

ul#box-nav li a:hover {
    box-shadow: 0 0 5px rgba(52,142,130,0.75);
    -webkit-box-shadow: 0 0 5px rgba(52,142,130,0.75);
    -moz-box-shadow: 0 0 5px rgba(52,142,130,0.75);
}

ul#box-nav {
    padding: 11px 0 0 0;
    top: -50px;
    right: -15px;
    position: relative;
    float: right;
}

ul#box-nav li {
    float: left;
    list-style: none;
    margin-left: 10px;
}

#main header.global nav ul li {
    float: left;
    list-style: none;
}

#main header.global h1 {
    font: normal 26px Georgia;
    color: #348E82;
    /*text-shadow: 1px 1px 1px #A19C60;*/
    /*padding-bottom: 10px;*/
    /*padding-top:5px;*/
}

#main header.global h1 a {
    display: block;
    text-align: center;
/*text-indent:-9999em;*/
}

#main header.global h1 a.inactive {
    cursor:default;
}

#body {
    background: white;
    width: 1150px;
    position: relative;
    margin: auto;
    padding: 5px 30px 5px 20px;
}

#body #homepage {
    padding-top: 0px;
}

.body-inside {
    min-height: 200px;
}

#main #footer.global {
    background: white;
    width: 1160px;
    position: relative;
    margin: auto;
    padding: 20px;
    /*z-index: -1;*/
}

#main #footer.global .inside {
    border-top: solid 1px #DADADA;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 25px;
}

#footer {
    display: block;
}

#main header.global nav.main,#main #footer.global .inside .top {
    float: right;
}

#main #footer.global .inside a {
    color: #555;
    text-decoration: none;
}

#main #footer.global .inside a:hover {
    text-decoration: underline;
}

#content3 {
    /*  width:992px;*/
    min-height: 450px;
    /*  background:#1D5600;*/
    text-align: left;
    padding-top: 0px;
    padding-bottom: 5px;
    overflow: hidden;
}

#content3 p {
    text-align:justify;
    padding-bottom:10px;
}

.content3-block {
    width: 365px;
    float: left;
    margin-left: 1px;
}

.content3-block p {
    width:320px;
    float:left;
    text-align:left;
}

#content2 {
    /*  width:992px;*/
    min-height: 400px;
    /*  background:#1D5600;*/
    text-align: left;
    padding-top: 0px;
    padding-bottom: 5px;
    overflow: hidden;
}

#content2 p {
    text-align:justify;
    padding-bottom:10px;
}

.content2-first {
    width: 347px;
    float: left;
    padding-left: 2px;
}

.content2-second {
    width: 740px;
    float: left;
    padding-left: 30px;
}

.content2-equal {
    width: 540px;
    float: left;
    padding-right: 15px;
}

.content2-block p {
    width:365px;
    float:left;
    text-align:left;
}

.content-divider {
    background: url(../img/content-divider.gif) no-repeat top center;
    width: 1px;
    min-height: 400px;
    float: left;
    padding: 0px 10px 0px 10px;
}

.content-divider-equal {
    background: url(../img/content-divider.gif) repeat-y top center;
    width: 1px;
    min-height: 420px;
    float: left;
    padding: 0px 10px 0px 10px;
    margin-right: 15px;
    margin-top: 0;
}

#content2 .content-divider {
    background: url(../img/content-divider.gif) repeat-y top center;
    width: 1px;
    min-height: 420px;
    float: left;
    padding: 0px 10px 0px 10px;
    margin-top: 0;
}

/* END Layout *****************************************************************/


#element-info {
    overflow: hidden;
    width: 180px;
}

span.buttonLinkOption {
    vertical-align: middle;
    display: inline-block;
    margin-top: 2px;
    margin-left: 2px;
}

span.buttonLinkOption a {
    font-weight: bold;
}

span.buttonLinkLeft,
span.buttonLinkRight,
span.buttonLinkDown {
    float: left;
}

span.buttonLinkRight {
    padding-top: 6px;
    padding-left: 4px;
}

span.buttonLinkDown {
    clear: both;
}

p.forgot-password {
    vertical-align: middle;
    display: inline-block;
    margin-top: 17px;
    margin-left: 2px;
}

#content2 form {
    max-width: initial;
}

#content3 form {
    max-width: initial;
}

#content2 a.delete-row {
    background: url(../img/recycle-full.png) no-repeat center 15px;
    height: 45px;
    display: block;
    padding: 0 0 0 2px;
    font-weight: bold;
}

#content3 a.delete-row {
    background: url(../img/recycle-full.png) no-repeat left -2px;
    height: 35px;
    padding: 10px 0 0 30px;
    font-weight: bold;
    margin-top: 18px;
    position: absolute;
}

#content3 .delete-rowupFiles {
    background: url(../img/recycle-full.png) no-repeat left -2px;
    height: 35px;
    padding: 10px 0 0 30px;
    font-weight: bold;
    float: right;
    position: relative;
    width: 15px;
    margin-top: -86px;
}

#content3 .delete-rowupLinks {
    background: url(../img/recycle-full.png) no-repeat left -2px;
    height: 35px;
    padding: 10px 0 0 30px;
    font-weight: bold;
    float: right;
    position: relative;
    width: 15px;
    margin-top: -96px;
}

#content3 .linkDelete,
#content3 .fileDelete {
    margin-top: -41px;
}

#content3 div.relationships a.delete-rowupProps {
    background: url(../img/recycle-full.png) no-repeat left -2px;
    height: 35px;
    padding: 10px 0 0 45px;
    font-weight: bold;
    float: right;
    position: relative;
    width: 15px;
    margin-top: -56px;
}

#content3 div.relationships a.delete-rowup {
    background: url(../img/recycle-full.png) no-repeat left -2px;
    height: 35px;
    padding: 10px 0 0 45px;
    font-weight: bold;
    float: right;
    position: relative;
    width: 15px;
    margin-top: -42px;
}

#content3 div.relationships a.delete-row {
    background: url(../img/recycle-full.png) no-repeat left -2px;
    height: 35px;
    padding: 10px 0 0 45px;
    font-weight: bold;
    float: right;
    position: relative;
    width: 15px;
    margin-top: 0px;
}

#content3 .relationship {
    border-radius: 3px;
    padding: 5px;
    cursor: pointer;
}

#content3 .relationship:hover {
    background-color: #D6E7DF;
}

#content3 .node-properties {
    padding: 5px;
}

#content3 .node-properties dt {
    margin-top: 5px;
}

#content3 .rel-properties dl {
    border-left: 3px solid #DDDDDD;
    margin-bottom: 2px;
    margin-left: 23px;
    margin-top: 6px;
    padding-left: 5px;
}

div.dynamic-form,
div.initial {
    margin-bottom: 0px;
}

div.initial p:nth-child(3) {
    display: none;
}

.modal-overlay {
    opacity: 0.7;
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 1001;
    background-color: #000000;
}

.modal-content-scrollable-wrapper {
    overflow: hidden;
    height: 100%;
    outline: 0px;
    width: 100%;
}

.modal-content-controls {
    position: absolute;
    bottom: 10px;
    background-color: #FFFFFF;
    width: 98.2%;
}


/* Formsets relationships *****************************************************/

.relationships div.initial p {
    display: none;
    margin-left: 20px;
    float: none;
}

.relationships div.initial p input[type="text"],
.relationships div.initial p select,
.relationships div.initial p textarea {
    width: 263px;
}

.relationships div.initial p:first-child {
    display: block;
    margin-left: inherit;
}

.relationships div.initial p:first-child label {
    display: none;
}

.relationships div.initial p:first-child input[type="text"],
.relationships div.initial p:first-child select,
.relationships div.initial p:first-child textarea {
    width: 300px;
}

.relationships div.dynamic-form p {
    display: none;
    margin-left: 20px;
    float: none;
}

.relationships div.dynamic-form p input[type="text"],
.relationships div.dynamic-form p select,
.relationships div.dynamic-form p textarea {
    width: 263px;
}

.relationships div.dynamic-form p:first-child {
    display: block;
    margin-left: inherit;
}

.relationships div.dynamic-form p:first-child label {
    display: none;
}

.relationships div.dynamic-form p:first-child input[type="text"],
.relationships div.dynamic-form p:first-child select,
.relationships div.dynamic-form p:first-child textarea {
    width: 300px;
}

/* END Formsets relationships *************************************************/

.content2-first ul.errorlist li {
    margin-right: 26px;
}

.inFormsets {
    margin: 0px 0 25px 0;
}

.helptext {
    font-size: 90%;
    color: #969696;
    font-style: italic;
    margin: 0 0 5px 0;
    display: block;
}

.errorlist {
    position: relative;
    width: 317px;
    display: inline-block;
}

.all-relationships .errorlist {
    width: 280px;
    margin-left: 20px;
}

.errorlist li {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0 1px 1px rgba(255, 0, 0, 0.9);
    -webkit-box-shadow: 0 1px 1px rgba(255, 0, 0, 0.9);
    -moz-box-shadow: 0 1px 1px rgba(255, 0, 0, 0.9);
    display: block;
    font-size: 90%;
    text-decoration: none;
    padding: 0px 5px 0px 5px;
    background-color: #FDD;
    border: none;
    border-top: solid 1px red;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    vertical-align: middle;
    font-style: italic;
}

/* Dashboard Graphs */
.graph-list,
.instance-list {
    padding-bottom: 10px;
    overflow: auto;
    max-height: 500px;
}

.graph-item {
    padding-bottom: 80px;
}

.graph-title {
    background: transparent url(../img/55-network_16.png) 2px center no-repeat;
    font-size: 120%;
    font-weight: bold;
    padding: 5px 5px 2px 20px;
    display: block;
}

.graph-instance {
    background: transparent url(../img/database_16.png) left center no-repeat;
    padding: 1px 5px 1px 16px;
    height: 16px;
    display: block;
    margin-left: 10px;
    overflow: hidden;
}

.graph-schema {
    background: transparent url(../img/connected_16.png) left center no-repeat;
    padding: 1px 5px 1px 16px;
    height: 16px;
    display: block;
    margin-left: 10px;
}

.graph-total {
    background: transparent url(../img/connections_16.png) left center no-repeat;
    padding: 1px 5px 1px 16px;
    height: 16px;
    display: block;
    margin-left: 10px;
}

.graph-owner {
    background: transparent url(../img/badge_16.png) left center no-repeat;
    padding: 1px 5px 1px 16px;
    height: 16px;
    display: block;
    margin-left: 10px;
}

.graph-nodes {
    background: transparent url(../img/nodes_16.png) left center no-repeat;
    padding: 1px 5px 1px 16px;
    height: 16px;
    display: block;
    margin-left: 10px;
}

.graph-queries {
    background: transparent url(../img/lab_16.png) left center no-repeat;
    padding: 1px 5px 1px 16px;
    height: 16px;
    display: block;
    margin-left: 10px;
    font-style: italic;
}

.graph-relationships {
    background: transparent url(../img/connections_16.png) left center no-repeat;
    padding: 1px 5px 1px 16px;
    height: 16px;
    display: block;
    margin-left: 10px;
}

.graph-visibility {
    background: transparent url(../img/eye_16.png) left center no-repeat;
    padding: 1px 5px 1px 16px;
    height: 16px;
    display: block;
    margin-left: 10px;
}

.graph-visualization {
    background: transparent url(../img/grid.jpg) repeat;
    padding: 5px;
    height: 70px;
    width: 100%;
    display: block;
    margin-bottom: 10px;
    color: gray;
    font-style: italic;
    border: 1px solid #F2F2F2;
}

.graph-visualization .not-available {
    padding: 5px;
    color: gray;
    font-style: italic;
    border: 1px solid gray;
    text-align: center;
    font-size: 1.5em;
    border: none;
}

.graph-collaborators {
    background: transparent url(../img/agent_16.png) left center no-repeat;
    padding: 1px 5px 1px 16px;
    height: 16px;
    display: block;
    margin-left: 10px;
}

.graph-description {
    font-style: italic;
    font-family: Georgia;
}

.dashboard-graphs .button,.dashboard-graphs .disabled {
    position: relative;
    float: right;
    margin-top: 3px;
}

/* Dashboard graph flags */
.flags {
    /*  width:992px;*/
    /*  background:#1D5600;*/
    text-align: left;
    padding-top: 0px;
    padding-bottom: 5px;
    margin-top: 5px;
}

.flags p {
    text-align:justify;
    padding-bottom:10px;
}

.flags-block {
    width: 49%;
    float:left;
}

.flags-block p {
    width: 100%;
    float:left;
    text-align:left;
}

/* three column area, vertical dotted divider */
.flags-divider {
    background: url(../img/content-divider.gif) no-repeat top center;
    width: 1px;
    min-height: 55px;
    float: left;
    padding: 15px 2px 0px 2px;
}

/* Schemas */

.schema-wrapper {
    float: left;
    margin-bottom: 20px;
}

.indent10 {
    margin-left: 10px;
}

.indent {
    margin-left: 20px;
}

label a.indent {
    font-size: 0.75em;
    font-style: italic;
    font-weight: normal;
    margin-left: 5px;
}

div.indent label.relProps {
    font-size: 0.9em;
    font-weight: normal;
}

/* END Schemas */

/* Menu buttons */
nav.menu {
    position: relative;
    float: right;
    padding: 3px 0 0 0;
}

nav.menu ul {
    margin-right: 0px;
}

nav.menu ul li {
    margin-left: 10px;
}

nav.menu ul li a.text,
.change-rels-color-float a.text {
    border: none;
    background: none;
    color: #348E82;
    border-radius: none;
    box-shadow: none;
    -moz-border-radius: none;
    -webkit-border-radius: none;
}

nav.menu ul li a,
.change-rels-color-float a {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.9);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.9);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.9);
    display: block;
    margin-top: 4px;
    font-size: 12px;
    font-weight: 700;
    color: #262626;
    text-decoration: none;
    padding: 5px 5px 5px 5px;
    background-color: white;
}

nav.menu ul li .inline {
    display: inline-block;
}

nav.menu ul li a.link,
.change-rels-color-float a.link {
    padding-left:3px;
    padding-right:3px;
}

nav.menu ul li a.active,
.change-rels-color-float a.active {
    opacity: 0.2;
    cursor: default;
}

nav.menu ul li a.link-home span {
    background: url(../img/larr.gif) no-repeat 0 50%;
    padding: 2px 2px 2px 10px;
}

nav.menu ul li a.link span,
.change-rels-color-float a.link span {
    padding-left:3px;
    padding-right:3px;
}

nav.menu ul li a:hover,
.change-rels-color-float a:hover {
    box-shadow: 0 0 5px rgba(52,142,130,0.75);
    -webkit-box-shadow: 0 0 5px rgba(52,142,130,0.75);
    -moz-box-shadow: 0 0 5px rgba(52,142,130,0.75);
}

nav.menu ul {
    padding: 0px 0 0 0;
}

nav.menu ul li {
    float: left;
    list-style: none;
}

.change-rels-color-float a {
    width: 22px;
    display: inline-block;
    float: right;
    margin-top: 8px;
    margin-left: 10px;
}

/* Node types properties */

.itemtype-properties-table tr.formset td {
    padding-bottom: 10px;
    vertical-align: top;
}

.itemtype-properties-table label {
    display: block;
}

.itemtype-properties-table span label {
    display: initial;
}

.itemtype-properties-table input[type="text"] {
    width: 250px;
    display: block;
}

.itemtype-properties-table table.subform input[type="text"] {
    width: 225px;
    display: block;
}

.itemtype-properties-table table.subform span.number input {
    width: 25px;
    display: block;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="url"]::-webkit-validation-bubble-message {
    display:none;
}

.itemtype-properties-table input[type="checkbox"] {
    margin-top: -4px;
}

.itemtype-properties-table select {
    width: 100px;
}

.itemtype-properties-table textarea {
    height: 15px;
    width: 380px;
    overflow: hidden;
}

.itemtype-properties-table textarea.expand {
    height: 45px;
    width: 405px;
    overflow: auto;
}

div#datalist {
    width: 90%;
    margin-left: 55px;
    margin-bottom: 20px;
    border:1px solid #348E82;
    text-align: center;
}

#list_topbar_title {
    background-color: #B8D0C3;
}

#list_bottombar {
/*    background-color: #D6E7DF;*/
/*    padding: 5px;*/
    padding-bottom: 25px;
}

#list_bottombar a {
/*    margin: 5px 50px 5px 50px;*/
}

.list_content {
    margin: 10px;
}

table.content-table {
    width: 100%;
}

.content-table table, th {
    padding: 5px;
    background-color: #D6E7DF;
}
.content-table table, th select {
    color: #555;
    display: inline;
    width: 20px;
    height: 30px;
    padding: 0px;
    margin: 0px;
    font-weight: bold;
    border: 1px solid #D6E7DF;
    background-color: #D6E7DF;
    box-shadow: none;
}

.content-table td {
    padding: 3px;
    max-width: 100px;
}

.content-table tr.row-odd:hover, tr.row-even:hover {
    background-color: #D6E7DF;
}

.content-table tr.row-odd {
    background-color: #f2f2f2;
}

.content-table tr.row-even {
    background-color: auto;
}

.pagination {
    margin-top: 10px;
}

#permissions_table th {
    border-right: 1px solid white;
    text-align: left;
}

#canvas-container {
    height: 340px;
}

.graph-loading-wrapper {
    background-color: #EEE;
    color: black;
    cursor: wait;
    font-size: 150%;
    font-weight: bold;
    width: 1160px;
    height: 350px;
    position: absolute;
    z-index: 500;
    margin-left: -20px;
}

.graph-loading-inner {
    position: relative;
    text-align: center;
    width: 100%;
}

#graph-node-types {
  width: 180px;
  height: 350px;
  float: left;
  margin-right: 4px;
  margin-top: -5px;
  padding: 3px;
  overflow-x: hidden;
  overflow-y: auto;
}

#graph-controls-and-info {
    display: block;
    position: relative;
    z-index: 499;
    margin-right: -15px;
}

#graph-controls {
    float: right;
}

#graph-node-info {
    position: relative;
    z-index: 101;
    height: 36px;
    float: left;
}

#sigma-graph-layout {
    width: 125px;
    margin-left: 0;
}

#sigma-graph-layout-degree-order {
    width: 120px;
}

#sigma-graph-layout-order {
    width: 75px;
}

.graph-layout-option {
    margin-top: 5px;
    margin-bottom: 10px;
}

.graph-layout-option label {
    font-weight: normal;
}

.graph-layout-option label.label-node-order {
    margin-right: 50px;
}

.graph-layout-option label.label-node-degree-order {
    margin-left: 15px;
    margin-right: 5px;
}

.graph-layout-option label.label-node-size {
    margin-right: 58px;
}

#sigma-node-size {
    width: 120px;
}

#sigma-edge-shape {
    width: 125px;
}

#rels-color-mode {
    width: 158px;
    display: inline-block;
    float: left;
}

#graph-layout select {
    height: 34px;
    margin-top: -2px;
    border: 3px solid #D8E8DE;
    color: #555;
    display: inline-block;
}

.change-rels-color-float {
    background-color: #D6E7DF !important;
    -webkit-border-radius: 5px;
    -moz-border-radius': 5px;
    border-radius: 5px;
    position: absolute;
    display: block;
    z-index: 99999;
    padding: 5px;
}

.change-rels-color-float select {
    height: 34px;
    border: 3px solid #D8E8DE;
    color: #555;
}

.sigma-control {
    margin-left: 12px;
}

.sigma-control.left {
    float: left;
}

.sigma-control.right {
    float: right;
}

.sigma-control label {
    font-weight: normal;
    font-size: 100%;
    display: inline;
    margin-left: 2px;
}

.sigma-control input[type="checkbox"] {
    margin-top: 3px;
}

.sigma-control a.button {
    margin-top: 3px;
    margin-bottom: 10px;
}

#sigma-export-image {
    margin-left: -10px;
}

.control-button {
    margin-bottom: 5px;
    height: 15px;
}

.pause-button {
    width: 10px;
    margin-top: 0;
    margin-bottom: 7px;
}

.zoom-left {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    -moz-border-top-right-radius: 0;
    -moz-border-bottom-right-radius: 0;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
}

.zoom-home {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    -moz-border-top-right-radius: 0;
    -moz-border-bottom-right-radius: 0;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;

    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    -moz-border-top-left-radius: 0;
    -moz-border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 0;
    -webkit-border-bottom-left-radius: 0;

    margin-left: -2px;

    padding-left: 4px;
    padding-right: 4px;
}

.zoom-home:active {
    padding: 5px 4px;
}

.zoom-right {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    -moz-border-top-left-radius: 0;
    -moz-border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    margin-left: -2px;
}

div[id^='collorpicker_'] {
    z-index: 99999;
}

#sigma-wrapper {
    display: block;
    float: right;
    width: 980px;
    height: 355px;
    margin-right: -20px;
    margin-top: -36px;
}

#sigma-container {
    width: 100%;
    height: 100%;
}

.graph-empty-message {
    position: relative;
    top: 110px;
    text-align: center;
}

.node-info {
    background: white;
    color: black;
    display: inline-block;
    position: absolute;
    padding: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 4px;
    box-shadow: 0 0 4px;
    font-size: 13px;
    z-index: 100;
}

#full-window-column {
    background-color: #EEE;
    float: right;
    border-left: 1px solid #348E82;
    overflow: hidden;
    overflow-y: auto;
}

.selection-tools {
    border-bottom: 1px solid #348E82;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 10px;
    text-align: center;
}

.selection-tools-wrapper {
    margin-left: -8px !important;
    display: inline-block;
}

.selection-tools h2 {
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
}

.selection-tools .sigma-control {
    margin-left: 8px;
}

#last-queries-label {
    font-size: 115%
}

#last-queries-select {
    width: auto;
    display: inline-block;
}

#analytics-menu {
    display: block;
}

.analytics-measure {
    cursor: pointer;
    margin-left: 10px !important;
}

.analytics-measure h2 {
    font-size: 15px;
}

#play-button {
    display: block;
}

.play-algorithm {
    height: 15px;
}

.label-analytics {
    font-size: 10px;
    margin-left: 10px;
}

.last-analytics {
    width: 120px;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 11px;
}

.progress-bar {
    margin-top: 10px;
    margin-left: 10px;
    width: 90%;
    display: none;
}

div.relationships-box {
    overflow: auto;
    line-height: 17px;
    max-height: 116px;
    margin-bottom: 14px;
    margin-top: 2px;
}

#searchBox p label {
    display: none;
}

#searchBox p input[type="text"] {
    width: 1px;
    height: 15px;
    font: inherit;
    margin-top: 3px;
    background: url(../img/search_24.png) no-repeat right 50%;
    padding-right: 17px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.9);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.9);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.9);
    display: block;
    font-size: 12px;
    font-weight: 700;
    color: white;
    text-decoration: none;
    background-color: white;
}

#searchBox p {
    padding-bottom: 0px;
}

#searchBox p input[type="text"]:focus {
    width: 120px;
    color: #262626;
}

#searchBox p input[type="text"]:hover {
    box-shadow: 0 0 5px rgba(52,142,130,0.75);
    -webkit-box-shadow: 0 0 5px rgba(52,142,130,0.75);
    -moz-box-shadow: 0 0 5px rgba(52,142,130,0.75);
}


input[type="text"].filterBox {
    width: 1px;
    height: 16px;
    font: inherit;
    margin: 4px 5px 0 0;
    background: url(../img/search_24.png) no-repeat right 50%;
    padding-right: 17px;
    border-radius: 4px;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.9);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.9);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.9);
    display: block;
    font-size: 12px;
    font-weight: 700;
    color: white;
    text-decoration: none;
    background-color: white;
    position: relative;
    float: right;
}


input[type="text"]:focus.filterBox {
    width: 80px;
    color: #262626;
}

input[type="text"]:hover.filterBox {
    box-shadow: 0 0 5px rgba(52,142,130,0.75);
    -webkit-box-shadow: 0 0 5px rgba(52,142,130,0.75);
    -moz-box-shadow: 0 0 5px rgba(52,142,130,0.75);
}

ol.searchResults {
    list-style-type: lower-hexadecimal;
}

.searchResults li {
    padding-left: 20px;
    padding-bottom: 5px;
}

#dataBrowse {
    display: none;
    z-index: 10000;
    position: absolute;
    left: 0px;
    margin-left: 66px;
    margin-top: 3px;
    font: inherit;
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
    background-color: white;
    overflow: auto;
    max-height: 250px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.9);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.9);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.9);
}

#dataBrowse table {
    margin-top: 5px;
}

#dataBrowse table td {
    padding: 3px 5px 5px 5px;
    vertical-align: middle;
    cursor: default;
}

#dataBrowse table td.dataActions {
    width: 40px;
}

#dataBrowse table tr:hover {
    background-color: #D6E7DF;
}

#dataBrowse table tr.dataSelected {
    color: #348E82;
}

.dataActions .dataOption {
    display: inline;
    border: none;
    box-shadow: none;
    border-radius: 0px;
    padding: 0px;
    margin: 0px;
    padding-left: 15px;
    width: 0px;
}

#dataBrowse .new {
    background: url(../img/new_14.png) no-repeat left 50%;
}

#dataBrowse .list {
    background: url(../img/list_14.png) no-repeat left 50%;
}

.dataList {
    width: 50px;
}

.dataList .rels {
    background: url(../img/connections_16.png) no-repeat left 50%;
    width: 16px;
    display: inline-block;
}

.dataList .edit {
    background: url(../img/edit_node_16.png) no-repeat left 50%;
    width: 16px;
    display: inline-block;
}

ul.inner {
    margin-left: 10px;
}

table.toolsBrowse {
    display: none;
    z-index: 10000;
    margin-top: 3px;
    right: 35px;
    position: absolute;
    width: auto;
    background-color: white;
    padding: 0px 0px 0px 0px;
    font: inherit;
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.9);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.9);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.9);
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

table.toolsBrowse tr {
    padding: 0px;
}

table.toolsBrowse td {
    list-style: none;
    float: none;
    padding: 7px;
    width: auto;
}

table.toolsBrowse tr:hover {
    background-color: #D6E7DF;
}

table.toolsBrowse .dataActions .dataOption {
    background-color: transparent;
    padding: 4px;
    -webkit-box-shadow: none;
    box-shadow: none;
}


/*
    Description
*/
#content2 div.description {
    text-align: left;
    font-size: 15px;
    font-family: Georgia;
    font-style: italic;
    text-shadow:0 1px 1px rgba(175,203,188,0.8);
    margin-top: 15px;
    width: 415px;
    display: inline-block;
    float: left;
}

#content2 form.staytuned {
    display: inline;
}

#content2 form.staytuned input {
    display: inline;
}

#content2 form.staytuned input[type="text"] {
    width: 275px;
}

#content2 form.staytuned .helptext {
    font-size: 10px;
}

.page-error {
    width: 600px;
    margin: auto;
    font-weight: bold;
    text-align: center;
}

.page-error .heading h1 {
    margin: 50px 0 0;
    font-size: 35px;
    line-height: 1;
}

.page-error .description p {
    font-size: 16px;
    margin-top: 16px;
}

.twitter-widget {
    margin-top: 30px;
}


/* documentation */

body :hover > a.headerlink {
    visibility: visible;
}

.doc .container-fluid {
    padding: 0;
}

.doc h1,
.doc h2 {
    font-family: Georgia;
}

.doc h1 {
    color: #348E82;
    font-size: 26px;
    margin-bottom: -10px;
}

.doc h2 {
    font-size: 20px;
    font-weight: bold;
}

.doc h3 {
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 20px;
}

.doc p {
    margin-bottom: 8px;
    line-height: 20px;
    font-size: 15px;
}

.doc b,
.doc strong {
    font-weight: bold;
}

.doc i,
.doc em {
    font-style: italic;
}

.doc img {
    background: white;
    max-width: 750px;
    display: block;
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

.doc img.border {
    padding: 2px;
    border: 1px solid #DDD;
    border-radius: 4px;
}

.doc img.inline {
    display: inline;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 2px;
    margin-right: 2px;
    vertical-align: middle;
}

.doc .section {
    margin-bottom: 20px;
    margin-top: 25px;
}

.doc .inner-section {
    margin-top: -10px;
    font-size: 15px;
}

.doc .inner-section ul {
    padding-left: 30px;
    line-height: 20px;
    margin-bottom: 10px;
}

.doc .inner-section li {
    list-style-type: disc;
}

.doc .nav-header {
    font-size: 13px;
}

.doc .nav-list {
    line-height: 20px;
}

.doc .collapse {
    font-size: 15px;
    padding-left: 10px;
    margin-bottom: 5px;
}

.doc a.headerlink {
  visibility: hidden;
}

.doc .nav-arrow {
    float: right;
    position: relative;
    right: -17px;
    top: -23px;
}

.doc .fixed-sidebar-nav {
    position: fixed;
    width: 326px;
    max-height: 630px;
    overflow-y: auto;
}

/* END documentation */


/* icons */

[class^="sylva-icon"] {
    background-repeat: no-repeat;
    display: inline-block;
    width: 14px;
    height: 14px;
}

.sylva-icon-connected {
    background-image: url(../img/connected.png);
}

.sylva-icon-connected16 {
    background-image: url(../img/connected_16.png);
}

.sylva-icon-connections {
    background-image: url(../img/connections.png);
}

.sylva-icon-connections16 {
    background-image: url(../img/connections_16.png);
}

.sylva-icon-edit-node {
    background-image: url(../img/edit_node.png);
}

.sylva-icon-edit-node16 {
    background-image: url(../img/edit_node_16.png);
}

.sylva-icon-eye {
    background-image: url(../img/12-eye.png);
}

.sylva-icon-nodes16 {
    background-image: url(../img/nodes_16.png);
}

.remove-sorting {
    background: url("../img/ui-icons_348e82_256x240.png") no-repeat -85px -133px;
    width: 7px;
    height: 7px;
    display: inline-block;
}

.sorting-asc {
    background: url("../img/ui-icons_348e82_256x240.png") no-repeat -4px -22px;
    width: 7px;
    height: 4px;
    display: inline-block;
}

.sorting-desc {
    background: url("../img/ui-icons_348e82_256x240.png") no-repeat -69px -22px;
    width: 7px;
    height: 4px;
    display: inline-block;
}

.type-list-true {
    background-image: url("../img/ui-icons_348e82_256x240.png");
    background-repeat: no-repeat;
    background-position: -66px -148px;
    width: 12px;
    height: 9px;
    display: inline-block;
    text-indent: -9999px;
}

.type-list-false {
    background-image: url("../img/ui-icons_348e82_256x240.png");
    background-repeat: no-repeat;
    background-position: -100px -132px;
    width: 9px;
    height: 9px;
    display: inline-block;
    text-indent: -9999px;
}

.shorten-text {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.shorten-text:hover {
    max-width: 500px;
}

.dropdown {
    position: absolute;
    background-color: #FFFFFF;
    box-shadow: 5px 5px 2px #888888;
    padding: 3px;
    display: none;
    width: 10%;
    border: 1px solid #888888;
    border-radius: 5px;
    -moz-border-radius: 5px;
}

/* END icons */

/* UTF-8 symbols */

.symbol-small {
    font-size: 100%;
}

.symbol-medium {
    font-size: 140%;
}

.symbol-large {
    font-size: 170%;
}

/* END UTF-8 symbols */


/* jQuery Joyride Feature Tours */

.joyride-tip-guide h1,
.joyride-tip-guide h2,
.joyride-tip-guide h3,
.joyride-tip-guide h4,
.joyride-tip-guide h5,
.joyride-tip-guide h6 {
    font-family: Arial, Helvetica, sans-serif;
}

.joyride-tip-guide .joyride-next-tip {
    background: #348E82;
    border: solid 1px #348E82;
}

.joyride-next-tip:hover {
    border: solid 1px #348E82 !important;
}

.joyride-position-graphs-filter {
    margin-left: -21px;
}

.joyride-position-new-graph-name {
    margin-top: -23px;
    margin-left: 23px;
}

.joyride-position-new-graph-description {
    margin-top: 8px;
    margin-left: 23px;
}

.joyride-position-new-graph-public {
    margin-left: -31px;
    margin-top: 16px;
}

.joyride-position-schema-overview {
    top: 0 !important;
    left: 160px !important;
}

.joyride-position-remove-schema-property {
    margin-top: -62px;
    margin-left: -307px;
}

.joyride-position-data-properties,
.joyride-position-data-relationships,
.joyride-position-data-files {
    top: 148px !important;
}

.joyride-position-data-links {
    top: 356px !important;
}

.joyride-position-data-relationship-input {
    top: 226px !important;
}

.joyride-position-data-more-relationships {
    top: 253px !important;
}

.joyride-position-graph-pause {
    margin-left: 790px;
    margin-top: -100px;
}

.joyride-position-schema-tools {
    margin-left: -315px;
    margin-top: -62px;
}

/* END jQuery Joyride Feature Tours */


/* Pricing plans */

.pricing .plan {
    text-align: center;
    padding: 0;
}

.pricing .plan h3,
.pricing .plan span,
.pricing .featured h3,
.pricing .featured span {
    display: block;
    border: 1px solid #ABABAB;
    border-top: none;
    line-height: 1.8em;
    margin: 0;
}

.pricing .plan h3,
.pricing .plan span {
    text-shadow: 0 -1px 0 #D1D1D1;
    background-color: #D1D1D1;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#D1D1D1), to(#ABABAB));
    background-image: -webkit-linear-gradient(top, #D1D1D1, #ABABAB);
    background-image: -o-linear-gradient(top, #D1D1D1, #ABABAB);
    background-image: linear-gradient(to bottom, #D1D1D1, #ABABAB);
    background-image: -moz-linear-gradient(top, #D1D1D1, #ABABAB);
    border-color: #ABABAB;
    background-repeat: repeat-x;
}

.pricing .featured h3,
.pricing .featured span {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #57a59a;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#57a59a), to(#348E82));
    background-image: -webkit-linear-gradient(top, #57a59a, #348E82);
    background-image: -o-linear-gradient(top, #57a59a, #348E82);
    background-image: linear-gradient(to bottom, #57a59a, #348E82);
    background-image: -moz-linear-gradient(top, #57a59a, #348E82);
    background-repeat: repeat-x;
    border-color: #348E82;
    background-repeat: repeat-x;
}

.pricing .plan h3,
.pricing .featured h3 {
    border-radius: 4px 4px 0 0;
    font-size: 1.2em;
    font-weight: bold;
}

.pricing .plan span,
.pricing .featured span {
    font-size: 4em;
}

.pricing .plan ul {
    margin: 0;
    list-style: none;
    padding: 15px;
    background-color: #fff;
    border-left: 1px solid #ABABAB;
    border-right: 1px solid #ABABAB;
}

.pricing .plan li {
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px dotted #ABABAB;
}

.pricing .plan div {
    border-radius: 0 0 4px 4px;
    border: 1px solid #ABABAB;
    border-top: none;
}

.pricing .plan div.empty {
    padding-bottom: 52px;
}

.pricing .plan a {
    margin: auto;
    margin-bottom: 10px;
    padding: 10px;
}

/*.pricing .featured.animate.go-up {
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
}

.pricing .featured.animate.go-up:hover {
    -webkit-transform: translate(0px, -10px);
    -moz-transform: translate(0px, -10px);
    -o-transform: translate(0px, -10px);
    -ms-transform: translate(0px, -10px);
    transform: translate(0px, -10px);
}

.pricing .featured.animate {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}*/

/* END Pricing plans */


/* Comparison plans */

.comparison {
    margin-left: 0 !important;
    margin-top: 50px;
    text-align: center;
}

.comparison table tr th,
.comparison table tr td {
    padding: 15px;
}

.comparison table thead tr:first-child th {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #57a59a;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#57a59a), to(#348E82));
    background-image: -webkit-linear-gradient(top, #57a59a, #348E82);
    background-image: -o-linear-gradient(top, #57a59a, #348E82);
    background-image: linear-gradient(to bottom, #57a59a, #348E82);
    background-image: -moz-linear-gradient(top, #57a59a, #348E82);
    background-repeat: repeat-x;
    border-color: #348E82;
    background-repeat: repeat-x;
    cursor: text;
}

.comparison table tr td {
    font-size: 1.5em;
}

.comparison table tr td:first-child {
    font-size: 1em;
}

.comparison table tr td div.empty {
    width: 162px;
}

.comparison table .icon-ok {
    color: #51A351;
}

.comparison table .icon-remove {
    color: #BD362F;
}

/* END Comparison plans */


/* Subscription form */

    .subscription-info h3 {
       font-size: 18px;
       font-weight: bold;
       margin-bottom: 5px;
    }

    .subscription-info p {
        margin-bottom: 8px;
        line-height: 20px;
        font-size: 15px;
        width: 410px;
    }

    .subscription-form {
        margin-top: 15px;
    }

    .subscription-form form {
        width: 350px;
    }

    .subscription-form .payment-errors {
        color: darkred;
    }

/* END Subscription form */


/* User subscriptions */

.subscriptions h2 {
    margin-bottom: 5px;
}

.subscriptions li {
    line-height: 35px;
}

.subscriptions ul {
    margin-top: 10px;
}

.subscriptions .info-wrapper {
    height: 400px;
}

.subscriptions .left-side {
    float: left;
    border-right: 1px solid lightgray;
    margin-right: 60px;
    padding-right: 60px;
    overflow-y: auto;
    max-height: 100%;
    width: 210px;
}

/* END User subscriptions */

/* Queries */

.visual-search {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px
}
/* END Queries */
