html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
border:0;
font-size:100%;
font:inherit;
vertical-align:baseline;
margin:0;
padding:0;
}

body {
    line-height: 1;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #555;
    background-color: #f2f2f2;
}

blockquote,q {
    quotes: inherit;
}

blockquote:before,blockquote:after,q:before,q:after {
    content: inherit;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


label {
    cursor: pointer;
    font-size: 115%;
    font-weight: bold;
}

textarea {
    overflow: auto;
}

button,input,select,textarea {
    margin: 0;
}

button {
    width: auto;
    overflow: visible;
}

html {
    -webkit-font-smoothing: antialiased;
    text-rendering: Legibility;
}

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.clearfix:after {
    clear: both;
    content: ' ';
    display: block;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
    height: 0;
}

* html .clearfix,:first-child+html
.clearfix {
    zoom: 1;
}

#main {
    padding-top: 50px;
}

#main
header.global {
    width: 1170px;
    background-color: white;
    margin: auto;
    padding: 15px;
}

#main header.global .nav-wrapper {
    display: block;
    width: 100%;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    background: #B8D0C3;
    border-bottom: 1px solid #348E82;
}

#main header.global .nav-wrapper
.inside {
    width: 1200px;
    height: 49px;
    background-image: url(../img/sylva_logo_text_header.png);
    background-repeat: no-repeat;
    background-position: 10px 4px;
    background-color: #D6E7DF;
    margin: auto;
}

#main header.global
nav.contact {
    float:left;
    text-shadow:0 1px 1px rgba(0,0,0,0.9);
    padding-left: 90px;
}

#main header.global nav.contact
ul {
    margin-left: 50px;
}

#main header.global nav.contact ul
li {
    margin-right: 40px;
    line-height: 16px;
}

#main header.global nav.contact ul li
h2 {
    font-size: 11px;
    color: #a1a1a1;
    font-weight: 400;
}

#main header.global nav.contact ul li
a {
    font-size: 11px;
    font-weight: 700;
    color: #FFF;
    text-decoration: none;
    border-bottom: solid 1px #505050;
    padding-bottom: 2px;
}

#main header.global nav.contact ul li a:hover {
    color: #FFF;
    text-shadow: 0 0 2px rgba(255,255,255,0.5);
    border-bottom: solid 1px #FFF;
}

#main header.global nav.main
ul {
    margin-right: 15px;
}

#main header.global nav.main ul
li {
    margin-left: 10px;
}

/* Home lings */
a.signup {
    background: #FFF url(../img/shut-down.png) no-repeat 0 center;
}

a.login {
    background: #FFF url(../img/agent.png) no-repeat 0 center;
}

a.logout {
    background: #FFF url(../img/shut-down.png) no-repeat 0 center;
}

a.plans {
    background: #FFF url(../img/badge.png) no-repeat 0 center;
}

#main header.global nav.main ul li
a.text {
    border: none;
    background: none;
    color: #348E82;
    border-radius: none;
    box-shadow: none;
    -moz-border-radius: none;
    -webkit-border-radius: none;
}

#main header.global nav.main ul li
a {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.9);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.9);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.9);
    display: block;
    margin-top: 1px;
    font-size: 12px;
    font-weight: 700;
    color: #262626;
    text-decoration: none;
    padding: 5px 5px 5px 5px;
    background-color: white;
}

#main header.global nav.main ul li
a.active {
    opacity: 0.2;
    cursor: default;
}

#main header.global nav.main ul li a.link-home
span {
    background: url(../img/larr.gif) no-repeat 0 50%;
    padding: 2px 2px 2px 10px;
}

#main header.global nav.main ul li a.link
span {
    padding-left:3px;
    padding-right:3px;
}

#main header.global nav.main ul li a:hover {
    box-shadow: 0 0 5px rgba(52,142,130,0.75);
    -webkit-box-shadow: 0 0 5px rgba(52,142,130,0.75);
    -moz-box-shadow: 0 0 5px rgba(52,142,130,0.75);
}

#main header.global nav
ul {
    padding: 13px 0 0 0;
}

#main header.global nav ul
li {
    float: left;
    list-style: none;
}

#main header.global
h1 {
    font: normal 25px serif;
    color: #348E82;
    text-shadow: 1px 1px 1px #A19C60;
    /*padding-bottom: 10px;*/
    /*padding-top:5px;*/
}

#main header.global h1
a {
    display: block;
    text-align: center;
/*text-indent:-9999em;*/
}

#main header.global h1
a.inactive {
cursor:default;
}

#body {
    background: white;
    width: 1170px;
    position: relative;
    margin: auto;
    padding: 5px 15px 5px 15px;
}

#body
#homepage {
    padding-top: 0px;
}


#main
#footer.global {
    background: white;
    width: 1160px;
    position: relative;
    margin: auto;
    padding: 20px;
}

#main #footer.global
.inside {
    border-top: solid 1px #DADADA;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 25px;
}

#footer {
    display: block;
}

ol,ul {
    list-style: none;
}

#main header.global
nav.main,#main #footer.global .inside
.top {
    float: right;
}


a,#body #portfolio .piece .description p
a,#main #footer.global .inside
a {
    color: #555;
    text-decoration: none;
}

#main footer.global .inside a:hover {
    text-decoration: underline;
}


#content2 {
    /*  width:992px;*/
    min-height:250px;
    /*  background:#1D5600;*/
    text-align:left;
    padding-top:10px;
    padding-bottom:30px;
}

#content2 p {
    font-size:16px;
    text-align:justify;
    padding-bottom:10px;
}

#content2 h2,h3,h4,h5,h6 {
    /*  background:#1D5600 url(../img/headline-arrow.gif) no-repeat top left;*/
    font:normal 25px serif;
    /*  line-height:25px;*/
    color:#348E82;
    text-shadow:1px 1px 1px #A19C60;
    padding-bottom:10px;
    padding-left:35px;
}

.content2-block {
    width:320px;
    float:left;
}

.content2-block p {
    width:274px; 
    float:left;
    text-align:left;
}

/* three column area, vertical dotted divider */
.content-divider {
    background:url(../img/content-divider.gif) no-repeat top center;
    width:2px;
    height:274px;
    float:left;
    padding:0px 30px 0px 30px; 
}
/* end divider */

/* end content 2 */


/*
 H2
*/
h2.collect {
    background: url(../img/connections.png) no-repeat;
}

h2.model {
    background: url(../img/connected.png) no-repeat;
}

h2.query {
    background: url(../img/lab.png) no-repeat;
}

#main h2 {
    font: normal 20px serif;
    color: #348E82;
/*    text-shadow: 1px 1px 1px #A19C60;*/
    padding-bottom: 5px;
}

/*
    Slogan
*/
p.slogan {
    text-align: center;
    font-size: 15px;
    font-family: Georgia;
    font-style: italic;
    font-weight: bold;
    color: #A19C60;
    text-shadow:0 1px 1px rgba(175,203,188,0.8);
}

/* Links */
a {
    color: #348E82;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

span.buttonLinkOption {
    vertical-align: middle;
}

span.buttonLinkOption a {
    font-weight: bold;
}


/* Defaults */
.button,input,textarea,select {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.9);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.9);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.9);
    display: block;
    margin-top: 1px;
    font-size: 100%;
    text-decoration: none;
    padding: 5px 8px 5px 8px;
    margin: 5px 0px 5px 0px;
    background-color: white;
    border: none;
    border-top: solid 1px #DADADA;
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    width: 300px;
    vertical-align: middle;
}

select {
    border: solid 1px #DADADA;
    width: 315px;
}

.button,input[type="button"],input[type="submit"] {
    font-size: 105%;
    font-weight: 700;
    color: #348E82;
    text-decoration: none;
    width: auto;
    margin: auto;
    display: inline-block;
    background-color: #D6E7DF;
    cursor: pointer;
}

.button:hover,input[type="button"]:hover,input[type="submit"]:hover,input:active,textarea:active,select:active {
    box-shadow: 0 1px 5px rgba(52,142,130,0.75);
    -webkit-box-shadow: 0 1px 5px rgba(52,142,130,0.75);
    -moz-box-shadow: 0 1px 5px rgba(52,142,130,0.75);
    text-decoration: none;
}

.button:active,input[type="button"]:active,input[type="submit"]:active {
    box-shadow: 0 0 5px rgba(52,142,130,0.75);
    -webkit-box-shadow: 0 0 5px rgba(52,142,130,0.75);
    -moz-box-shadow: 0 0 5px rgba(52,142,130,0.75);
    padding: 6px 7px 4px 9px;
}
