{% extends "base.html" %}
{% load i18n graphs converter_filters compress %}

{% block navigation_buttons %}
{{ block.super }}
{% endblock %}

{% block title %}
{{ graph.name }}
{% endblock %}

{% block menu_buttons %}
{% toolbar on="map" %}
{% endblock %}

{% block content_title %}
  {% if node %}
    {% breadcrumb graph node.display %}
  {% else %}
    {% breadcrumb graph %}
  {% endif %}
{% endblock %}

{% block content %}
  <div id="map">
    <div id="map-types">
    </div>
  </div>
{% endblock content %}

{% block extra_scripts %}
  {% compress css %}
    <link type="text/css" rel="stylesheet" href="{{ STATIC_PREFIX }}css/jqueryui.1.8.18.css" />
    <link type="text/css" rel="stylesheet" href="{{ STATIC_PREFIX }}maps/css/leaflet-visualization.css" />
  {% endcompress %}

  <script type="text/javascript">
    sylva.jsValues = {
      isSchemaEmpty: JSON.parse('{{ is_schema_empty|escape_js }}'),
      isGraphEmpty: JSON.parse('{{ is_graph_empty|escape_js }}')
    };
    $.extend(sylva, {{ graph_json|safe }});
    $(function() {
      sylva.Leaflet.init();
    });
  </script>

  {% compress js %}
    <script type="text/javascript" src="{{ STATIC_PREFIX }}js/jquery-ui-1.10.4.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}maps/js/leaflet-heat.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}maps/js/Leaflet.MakiMarkers.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}maps/js/leaflet-visualization.js"></script>
  {% endcompress %}
{% endblock %}
