{% extends "base.html" %}
{% load i18n graphs compress %}

{% block extra_scripts %}
  {% compress js %}
    <script type="text/javascript" src="{{ STATIC_PREFIX }}js/jquery.formsets.1.2.min.js"></script>
  {% endcompress %}
{% endblock %}

{% block navigation_buttons %}
{{ block.super }}
{% endblock %}

{% block title %}
{{ graph.name }}
{% endblock %}

{% block menu_buttons %}
{% toolbar on="schema" %}
{% endblock %}

{% block content_title %}
{% trans "Delete" as label %}
{% breadcrumb graph graph.schema item_type_object label %}
<!--<h2>{% trans "Graphs" %} » {{ graph.name|truncatewords_html:5 }} » {% trans "Schema" %} » {% trans "Delete" %} {{ item_type_label }}</h2>-->
{% endblock %}

{% block content %}
<div id="content2">
  <form action="." method="POST" id="itemType">
  {% csrf_token %}
    <div class="content-main">
      <h2>{{ item_type_label }}: {{ item_type_name }}</h2>
      {{ form.as_p }}
      <span class="buttonLinkOption buttonLinkLeft">
        <input type="submit" value="{% trans "Continue" %}"/>
      </span>
      <span class="buttonLinkOption buttonLinkRight">
        {% trans "or" %}
        {% if as_modal %}
          <a id="modal-cancel" href="javascript:void()">{% trans "Cancel" %}</a>.
        {% else %}
          <a href="{% url "schema_edit" graph.slug %}">{% trans "Cancel" %}</a>.
        {% endif %}
      </span>
    </div>
  </form>
</div>
{% endblock %}
