{% extends "base.html" %}
{% load i18n graphs static %}
{% get_static_prefix as STATIC_PREFIX %}

{% block navigation_buttons %}
  {{ block.super }}
{% endblock %}

{% block title %}
  {{ graph.name }}
{% endblock %}

{% block menu_buttons %}
  {% toolbar on="schema" %}
{% endblock %}

{% block content_title %}
  {% breadcrumb graph graph.schema %}
  <!--<h2>{% trans "Graphs" %} » {{ graph.name|truncatewords_html:5 }} » {% trans "Schema" %}</h2>-->
{% endblock %}

{% block content %}
  {% if node_types %}
    <div class="schema-wrapper">
      <div id="schemaOverview" class="content2-first max600">
        {% for node_type in node_types.select_related %}
          <!--
          <h3>{{ node_type.name|capfirst }}</h3>
          -->
          <div>
            <fieldset class="module aligned wide model" id="model_{{ node_type.slug }}">
              {% if node_type.name %}<h2><a href="{% url schema_nodetype_edit graph.slug node_type.id %}">{{ node_type.name|capfirst }}</a></h2>{% endif %}
              {% for node_property in node_type.properties.all.select_related %}
                <div class="form-row indent">
                  <div>
                    <label {% if node_property.required %}class="required"{% endif %}>⌂ {{ node_property.key|capfirst }}</label>
                    {% if node_property.datatype != "u" %}[{{ node_property.get_datatype_display }}]{% endif %}
                    <!-- <p class="help">{{ node_property.default }}</p>-->
                  </div>
                </div>
              {% endfor %}
              {% regroup node_type.get_reflexive_relationships by name as reflexive_relationships %}
              {% for relationship_name in reflexive_relationships %}
                <div class="form-row indent">
                  <label>
                    ↔ {{ relationship_name.grouper|capfirst }}
                    <a class="buttonLinkOption indent" href="{% url schema_relationshiptype_create graph.slug %}?source={{ node_type.id }}&name={{ relationship_name.grouper }}">
                      ({% trans "Add another" %})
                    </a>
                  </label>
                  {% for relationship in relationship_name.list %}
                    <div class="form-row indent">
                      <a href="{% url schema_relationshiptype_edit graph.slug relationship.id %}">
                        {% if relationship.arity_target < 1 %}∞{% else %}{{ relationship.arity_target }} × {% endif %} {{ relationship.target.name|capfirst }}
                      </a>
                      {% if relationship.properties %}
                        {% for relationship_property in relationship.properties.all.select_related %}
                          <div class="form-row indent">
                            <label class="relProps{% if relationship_property.required %} required{% endif %}">⌂ {{ relationship_property.key|capfirst }}</label>
                            {% if relationship_property.datatype != "u" %}[{{ relationship_property.get_datatype_display }}]{% endif %}
                            <!-- <p class="help">{{ relationship_property.default }}</p>-->
                          </div>
                        {% endfor %}
                      {% endif %}
                    </div>
                  {% endfor %}
                </div>
              {% endfor %}
              {% regroup node_type.get_outgoing_relationships by name as outgoing_relationships %}
              {% for relationship_name in outgoing_relationships %}
                <div class="form-row indent">
                  <label>
                    → {{ relationship_name.grouper|capfirst }}
                    <a class="buttonLinkOption indent" href="{% url schema_relationshiptype_create graph.slug %}?source={{ node_type.id }}&name={{ relationship_name.grouper }}">
                      ({% trans "Add another" %})
                    </a>
                  </label>
                  {% for relationship in relationship_name.list %}
                    <div class="form-row indent">
                      <a href="{% url schema_relationshiptype_edit graph.slug relationship.id %}">
                        {% if relationship.arity_target < 1 %}∞{% else %}{{ relationship.arity_target }} × {% endif %} {{ relationship.target.name|capfirst }}
                      </a>
                      {% if relationship.properties %}
                        {% for relationship_property in relationship.properties.all.select_related %}
                          <div class="form-row indent">
                            <label class="relProps{% if relationship_property.required %} required{% endif %}">⌂ {{ relationship_property.key|capfirst }}</label>
                            {% if relationship_property.datatype != "u" %}[{{ relationship_property.get_datatype_display }}]{% endif %}
                            <!-- <p class="help">{{ relationship_property.default }}</p>-->
                          </div>
                        {% endfor %}
                      {% endif %}
                    </div>
                  {% endfor %}
                </div>
              {% endfor %}
              {% regroup node_type.get_incoming_relationships by inverse as incoming_relationships %}
              {% if not relationships.0.relationship_name.grouper %}
                {% regroup node_type.get_incoming_relationships by name as incoming_relationships %}
              {% endif %}
              {% for relationship_name in incoming_relationships %}
                <div class="form-row indent">
                  <label>←
                    {% if relationship_name.grouper %}{{ relationship_name.grouper|capfirst }}{% else %}{{ relationship_name.list.0.name|capfirst }}{% endif %}
                    <a class="buttonLinkOption indent" href="{% url schema_relationshiptype_create graph.slug %}?target={{ node_type.id }}&inverse={{ relationship_name.grouper }}&name={{ relationship_name.list.0.name }}">
                      ({% trans "Add another" %})
                    </a>
                  </label>
                  {% for relationship in relationship_name.list %}
                    <div class="form-row indent">
                      <a href="{% url schema_relationshiptype_edit graph.slug relationship.id %}">
                        {% if relationship.arity_source < 1 %}∞{% else %}{{ relationship.arity_source }} × {% endif %}
                        {{ relationship.source.name|capfirst }}
                      </a>
                      {% if relationship.relation.relationshipproperty_set.all %}
                        {% for relationship_property in relationship.relation.relationshipproperty_set.all.select_related %}
                          <div class="form-row indent">
                            <label class="relProps{% if relationship_property.required %} required{% endif %}">⌂ {{ relationship_property.key|capfirst }}</label>
                            [{{ relationship_property.get_datatype }}] <p class="help">{{ relationship_property.default }}</p>
                          </div>
                        {% endfor %}
                      {% endif %}
                    </div>
                  {% endfor %}
                </div>
              {% endfor %}
              {% if not node_type.get_outgoing_relationships and not node_type.get_incoming_relationships %}
                <span class="indent">
                  {% trans "New" %}
                  <a class="buttonLinkOption" href="{% url schema_relationshiptype_create graph.slug %}?target={{ node_type.id }}&inverse={{ relationship_name.grouper }}">
                    {% trans "incoming" %}
                  </a>
                  {% trans "or" %}
                  <a class="buttonLinkOption" href="{% url schema_relationshiptype_create graph.slug %}?source={{ node_type.id }}&name={{ relationship_name.grouper }}">
                    {% trans "outgoing" %}
                  </a>
                  {% trans "allowed relationship" %}
                </span>
              {% endif %}
            </fieldset>
          </div>
        {% endfor %}
      </div>

      <div class="content-divider"></div>
      <div class="content2-second diagram">
        <h2 id="diagramTitle">{% trans "Diagram" %}</h2>
        <div id="diagramContainer">
          <div id="diagram"></div>
        </div>
        <input type="hidden" id="id_diagram_positions" name="diagram_positions" value="{{ graph.schema.get_options.diagram_positions }}"/>
        <input type="hidden" id="id_diagram_positions_url" name="diagram_positions" value="{% url schama_diagram_positions graph.slug %}"/>
      </div>
    </div> <!-- schema-wrapper -->

    <div class="schema-bottom">
      <a id="schemaNewType" class="button" href="{% url schema_nodetype_create graph.slug %}">{% trans "New Type" %}</a>
      <span class="buttonLinkOption">
        <a id="allowedRelations" href="{% url schema_relationshiptype_create graph.slug %}">{% trans "Allowed Relationship" %}</a>
        {% trans "or" %}
        <a id="schemaExport" href="{% url schema_export graph.slug %}">{% trans "Export" %}</a>.
      </span>
    </div>

  {% else %}
    {% trans "There are no types defined yet" %}.
    <br>
    <br>
    <span class="buttonLinkOption">
      <a id="schemaImport" class="button" href="{% url schema_import graph.slug %}">{% trans "Import Schema" %}</a>
    </span>
    <span class="buttonLinkOption">
      {% trans "or" %}
      <a id="schemaNewType" href="{% url schema_nodetype_create graph.slug %}" class="button">{% trans "New Type" %}</a>
    </span>
  {% endif %}

  <!-- Features Tour -->
  <ol id="tour" class="hidden">
    <li data-id="schemaNewType" data-button="{% trans "Next" %}">
      <h2>{% trans "New Type" %}</h2>
      <p>{% trans "Define a new type of data in your database schema." %}</p>
    </li>
    {% if node_types %}
      <li data-id="allowedRelations" data-button="{% trans "Next" %}">
        <h2>{% trans "Allowed Relationship" %}</h2>
        <p>{% trans "Define the kind of relationships that are allowed in your graph." %}</p>
      </li>
      <li data-id="schemaExport" data-button="{% trans "Next" %}" class="joyride-position-schema-export">
        <h2>{% trans "Schema export" %}</h2>
        <p>{% trans "You can export your database schema as a JSON file." %}</p>
      </li>
      <li data-id="toolsMenu" data-button="{% trans "Next" %}" data-options="tipLocation:left;nubPosition:right" class="joyride-position-schema-tools">
        <h2>{% trans "Tools" %}</h2>
        <p>{% trans "Also you can export your schema using this menu, as well as export your data or create a copy of your graph." %}</p>
      </li>
      <li data-id="schemaOverview" data-button="{% trans "Next" %}" data-options="tipLocation:top;nubPosition:bottom" class="joyride-position-schema-overview">
        <h2>{% trans "Schema overview" %}</h2>
        <p>{% trans "An overview of your schema is showed in this column." %}</p>
      </li>
      <li data-id="diagramTitle" data-button="{% trans "Finish" %}">
        <h2>{% trans "Diagram" %}</h2>
        <p>{% trans "Here you can visualize a diagram of your schema. You can drag the boxes and reorder the diagram as you want." %}</p>
      </li>
    {% else %}
      <li data-id="schemaImport" data-button="{% trans "Finish" %}">
        <h2>{% trans "Schema import" %}</h2>
        <p>{% trans "You can import your database schema from a JSON file." %}</p>
      </li>
    {% endif %}
  </ol>
{% endblock content %}

{% block extra_links %}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_PREFIX }}css/schemas.diagram.css" />
{% endblock %}
{% block extra_scripts %}
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_PREFIX }}js/jquery.jsplumb.1.3.16.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_PREFIX }}js/jquery.scrollto.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_PREFIX }}js/schemas.diagram.js"></script>
  <script type="text/javascript">
    if (!diagram) {
      var diagram = {};
    }
    diagram.Models = {% autoescape off %}{{ graph.schema.get_schema_diagram }}{% endautoescape %};
  </script>
{% endblock %}
