{% extends "base.html" %}
{% load i18n %}

{% block navigation_buttons %}
{{ block.super }}
{% endblock %}

{% block title %}
{{ graph.name }}
{% endblock %}

{% block menu_buttons %}
<li><a href="{% url graph_view graph.id %}" class="link"><span>{% trans "Graph" %}</span></a></li>
<li><a href="{% url nodes_list graph.id %}" class="link"><span>{% trans "Nodes" %}</span></a></li>
<li><a href="{% url relationships_list graph.id %}" class="link"><span>{% trans "Relationships" %}</span></a></li>
<li><a href="{% url schema_edit graph.id %}" class="text"><span>{% trans "Schema" %}</span></a></li>
<li><a href="{% url graph_collaborators graph.id %}" class="link"><span>{% trans "Collaborators" %}</span></a></li>
{% endblock %}

{% block content_title %}
<h2>{% trans "Graphs" %} » {{ graph.name|truncatewords_html:5 }} » {% trans "Schema" %}</h2>
{% endblock %}

{% block content %}

<div id="content-main">
{% for node_type in node_types %}
    <!--
    <h3>{{ node_type.name|capfirst }}</h3>
    -->
    <div>
    <fieldset class="module aligned wide">
    {% if node_type.name %}<h2>{{ node_type.name|capfirst }}</h2>{% endif %}
    {% for node_property in node_type.properties.all %}
         <div class="form-row">
         <div>
            <label {% if node_property.required %}class="required"{% endif %}>⌂ {{ node_property.key|capfirst }}</label>
            [{{ node_property.get_datatype }}] <p class="help">{{ node_property.default }}</p>
        </div>
        </div>
    {% endfor %}
    {% for edge in node_type.get_outgoing_relationships %}
         <div class="form-row">
         <div>
            <label>→ {{ edge.relation.name|capfirst }}</label>
            [{% if edge.arity < 1 %}∞{% else %}{{ edge.arity }} × {% endif %} {{ edge.node_to.name|capfirst }}] <p class="help"></p>
            {% if edge.relation.edgeproperty_set.all %}
                {% for edge_propery in edge.relation.edgeproperty_set.all %}
                <div class="form-row">
                <div>
                    <label {% if edge_propery.required %}class="required"{% endif %}>⌂ {{ edge_propery.key|capfirst }}</label>
                    [{{ edge_propery.get_datatype }}] <p class="help">{{ edge_propery.default }}</p>
                </div>
                </div>
                {% endfor %}
            {% endif %}
        </div>
        </div>
    {% endfor %}
    </fieldset>
    <div class="submit-row">
        <a class="addlink"
           href="">
            Add property
        </a>
        <a class="addlink"
           href="">
            Add relation
        </a>
        <!--
        <input type="button" value="Add another" class="default" name="_save">
        <input type="submit" value="Save and add another" name="_addanother">
        <input type="submit" value="Save and continue editing" name="_continue">
        -->
    </div>
    </div>
{% endfor %}
</div>
<a class="button" href="{% url schema_nodetype_create graph.id %}">{% trans "New Type" %}</a>
<span class="buttonLinkOption">{% trans "or" %} <a href="{% url schema_relationshiptype_create graph.id %}">{% trans "Allowed Relationship" %}</a>.</span>
{% endblock %}
