{% extends "base.html" %}
{% load i18n graphs %}

{% block navigation_buttons %}
{{ block.super }}
{% endblock %}

{% block title %}
{{ graph.name }}
{% endblock %}

{% block menu_buttons %}
{% toolbar on="schema" %}
{% endblock %}

{% block content_title %}
{% trans "New" as label %}
{% breadcrumb graph graph.schema item_type_label %}
<!--<h2>{% trans "Graphs" %} » {{ graph.name|truncatewords_html:5 }} » {% trans "Schema" %} » {% trans "New" %} {{ item_type_label }}</h2>-->
{% endblock %}

{% block content %}
<div id="content2">
<form action="." method="POST" id="itemType">
{% csrf_token %}
    <div class="content2-first">
        <h2>{{ item_type_label }}</h2>
        {% for field in form %}
            <p {% if field.name in fields_to_hide and not field.value or field.name == "validation" %}class="hidden"{% endif %}>
            {{ field.errors }}
            {{ field.label_tag }}
            {{ field }}
            {% if field.help_text %}
                <span class="helptext">
                {{ field.help_text }}
                </span>
            {% endif %}
            </p>
        {% endfor %}
        <input type="submit" value="{% trans "Save Type" %}"/>
        <span class="buttonLinkOption">
            {% if item_type_id %}
                {% if item_type == "relationship" %}
                <a class="delete" href="{% url schema_relationshiptype_delete graph.slug item_type_id %}">{% trans "Remove" %}</a>
                {% endif %}
                {% if item_type == "node" %}
                <a class="delete" href="{% url schema_nodetype_delete graph.slug item_type_id %}">{% trans "Remove" %}</a>
                {% endif %}
            {% endif %}
            {% trans "or" %} <a href="{% url schema_edit graph.slug %}">{% trans "Cancel" %}</a>.
        </span>

    </div>
    <div class="content-divider"></div>
    <div class="content2-second">
        <h2 id="propertiesTitle">{% trans "Properties" %}</h2>
        <table cellspacing="0" class="itemtype-properties-table" width="100%">
            <tbody class="dynamic">
            {{ formset.management_form }}
            {% for form in formset.forms %}
                <tr class="formset {% cycle "row1" "row2" %}">
                    <td>
                        {{ form.id }}
                        {{ form.key.errors }}
                        {{ form.key.label_tag }}
                        {{ form.key }}
                        {{ form.key.help_text }}
                        <span >
                            {{ form.display.errors }}
                            {{ form.display }}
                            {{ form.display.label_tag }}
                            <span class="helptext">
                            {{ form.display.help_text }}
                            </span>
                        </span>
                        <span {% if not form.instance.required %}class="hidden"{% endif %}>
                            {{ form.required.errors }}
                            {{ form.required }}
                            {{ form.required.label_tag }}
                            <span class="helptext">
                            {{ form.required.help_text }}
                            </span>
                        </span>
                    </td>
                    <td>
                        <!-- I'm really sad about this :'( -->
                        <table class="subform">
                            <tr >
                            <td {% if form.instance.datatype == "u" %}class="hidden"{% endif %}>
                                {{ form.datatype.errors }}
                                {{ form.datatype.label_tag }}
                                {{ form.datatype }}
                                <span class="helptext">
                                {{ form.datatype.help_text }}
                                </span>
                            </td>
                            <td {% if not form.instance.default %}class="hidden"{% endif %}>
                                {{ form.default.errors }}
                                {{ form.default.label_tag }}
                                {{ form.default }}
                                <span class="helptext">
                                {{ form.default.help_text }}
                                </span>
                            </td>
                            <td {% if not form.instance.order %}class="hidden"{% endif %}>
                                <span class="number">
                                {{ form.order.errors }}
                                {{ form.order.label_tag }}
                                {{ form.order }}
                                <span class="helptext">
                                {{ form.order.help_text }}
                                </span>
                                </span>
                            </td>
                            </tr><tr>
                            <td colspan="3">
                                {{ form.description.errors }}
                                {{ form.description.label_tag }}
                                {{ form.description }}
                                <span class="helptext">
                                {{ form.description.help_text }}
                                </span>
                                <span class="hidden">
                                {{ form.validation.errors }}
                                {{ form.validation.label_tag }}
                                {{ form.validation }}
                                <span class="helptext">
                                {{ form.validation.help_text }}
                                </span>
                                </span>
                            </td>
                            </tr>
                        </table>
                    </td>
                    <td class="delete">{% if form.instance.pk %}{{ form.DELETE }}{% endif %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <span class="buttonLinkOption" id="advancedMode">&nbsp;{% trans "or" %}
            <a id="advancedModeButton" href="javascript:void(0)">{% trans "Advanced Mode" %}</a>.
        </span>
    </div>
<!--    <div class="content-divider"></div>-->
<!--    <div class="content3-block">-->
<!--        <h2>{% trans "Relationship" %}</h4>-->
<!--    </div>-->
</form>
</div>

<!-- Features Tour -->
<ol id="tour" class="hidden">
  <li data-id="id_name" data-button="{% trans "Next" %}">
    <h2>{% trans "Name" %}</h2>
    <p>{% trans "Choose a name for your Type." %}</p>
  </li>
  <li data-id="id_description" data-button="{% trans "Next" %}">
    <h2>{% trans "Description" %}</h2>
    <p>{% trans "A description would be useful, too." %}</p>
  </li>
  <li data-id="propertiesTitle" data-button="{% trans "Next" %}">
    <h2>{% trans "Properties" %}</h2>
    <p>{% trans "You can add as many properties as you want to your Types." %}</p>
  </li>
  <li data-id="id_properties-0-key" data-button="{% trans "Next" %}">
    <h2>{% trans "Property key" %}</h2>
    <p>{% trans "Choose a name to identify each property." %}</p>
  </li>
  <li data-id="id_properties-0-description" data-button="{% trans "Next" %}">
    <h2>{% trans "Property description" %}</h2>
    <p>{% trans "You can also add a description if you want." %}</p>
  </li>
  <li data-id="id_properties-0-display" data-button="{% trans "Next" %}">
    <h2>{% trans "Label" %}</h2>
    <p>{% trans "Mark this checkbox if you want to use this property as the label of the Type. You will use the label to identify this Type in SylvaDB." %}</p>
  </li>
  <li data-id="advancedModeButton" data-button="{% trans "Next" %}">
    <h2>{% trans "Advanced Mode" %}</h2>
    <p>{% trans "Clicking on this link, you can use advanced features like:" %}
        <dl>
            <dt>{% trans "Data type" %}</dt>
            <dd>{% trans "Limit the kind of data you can store in this property to the type selected." %}</dd>
            <dt>{% trans "Order" %}</dt>
            <dd>{% trans "Set the order of your properties." %}</dd>
        </dl>
    </p>
  </li>
  <li data-class="delete-row" data-button="{% trans "Finish" %}" data-options="nubPosition:right" class="position-remove-schema-property">
    <h2>{% trans "Remove" %}</h2>
    <p>{% trans "Clicking on this icon you will remove the property. After saving, you will be asked what to do with the properties already stored in your graph." %}</p>
  </li>
</ol>

{% endblock %}

{% block extra_scripts %}
<script type="text/javascript" src="{{ STATIC_PREFIX }}js/jquery.formsets.1.2.min.js"></script>
<script type="text/javascript">
    (function($) {
        var rowAdded = function(row) {
            // FIXME: The class "hidden" is not properly set in new rows
            //        added dynamically.
            var $hidden = $(".hidden");
            if ($hidden.is(":visible")) {
                $(row).add(".hidden").show();
            } else {
                //$(row).add(".hidden").hide();
            }
        };

        var init = function() {
            $("#itemType tbody tr.formset").formset({
                prefix: "properties",
                addCssClass: "addButton",
                addText: "{% trans "Add Property" %}",
                deleteText: "{% trans "Remove" %}",
                extraClasses: ["row1", "row2"],
                added: rowAdded
            });
            $("#itemType table.itemtype-properties-table tbody.dynamic").append($("#advancedMode"));
            $("#advancedModeButton").click(function() {
                var $hidden = $(".hidden");
                if ($hidden.is(":visible")) {
                    $(this).html("{% trans "Advanced Mode" %}");
                    $hidden.hide()
                    $(".itemtype-properties-table textarea").removeClass("expand");
                } else {
                    $(this).html("{% trans "Regular Mode" %}");
                    $hidden.show();
                    $(".itemtype-properties-table textarea").addClass("expand");
                }
            });
        };
        init();
    })(jQuery);
</script>
{% endblock %}
