{% extends "schemas_edit.html" %}
{% load i18n graphs %}

{% block navigation_buttons %}
{{ block.super }}
{% endblock %}

{% block title %}
{{ graph.name }}
{% endblock %}

{% block menu_buttons %}
{% toolbar on="schema" %}
{% endblock %}

{% block content_title %}
<h2>{% trans "Graphs" %} » {{ graph.name|truncatewords_html:5 }} » {% trans "Schema" %} » {% trans "Import" %}</h2>
{% endblock %}

{% block content %}
<form method="POST"  enctype="multipart/form-data" action="{% url schema_import graph.slug %}">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" />
</form>
{% endblock %}
