{% extends "base.html" %}
{% load i18n %}

{% block navigation_buttons %}
{{ block.super }}
{% endblock %}

{% block title %}
{{ graph.name }}
{% endblock %}

{% block menu_buttons %}
<li><a href="{% url graph_view graph.slug %}" class="link"><span>{% trans "Graph" %}</span></a></li>
<li><a href="{% url nodes_list graph.slug %}" class="link"><span>{% trans "Nodes" %}</span></a></li>
<li><a href="{% url relationships_list graph.slug %}" class="link"><span>{% trans "Relationships" %}</span></a></li>
<li><a href="{% url schema_edit graph.slug %}" class="text"><span>{% trans "Schema" %}</span></a></li>
<li><a href="{% url graph_collaborators graph.slug %}" class="link"><span>{% trans "Collaborators" %}</span></a></li>
{% endblock %}

{% block content_title %}
<h2>{% trans "Graphs" %} » {{ graph.name|truncatewords_html:5 }} » {% trans "Schema" %}</h2>
{% endblock %}

{% block content %}

<div id="content-main">
{% for node_type in node_types %}
    <!--
    <h3>{{ node_type.name|capfirst }}</h3>
    -->
    <div>
    <fieldset class="module aligned wide">
    {% if node_type.name %}<h2><a href="{% url schema_nodetype_edit graph.slug node_type.id %}">{{ node_type.name|capfirst }}</a></h2>{% endif %}
    {% for node_property in node_type.properties.all %}
         <div class="form-row indent">
         <div>
            <label {% if node_property.required %}class="required"{% endif %}>⌂ {{ node_property.key|capfirst }}</label>
            {% if node_property.datatype != "u" %}[{{ node_property.get_datatype }}]{% endif %}
<!--            <p class="help">{{ node_property.default }}</p>-->
        </div>
        </div>
    {% endfor %}
    {% regroup node_type.get_outgoing_relationships by name as outgoing_relationships %}
    {% for relationship_name in outgoing_relationships %}
         <div class="form-row indent">
            <label>
                → {{ relationship_name.grouper|capfirst }}
                <a class="buttonLinkOption indent" href="{% url schema_relationshiptype_create graph.slug %}?source={{ node_type.id }}&name={{ relationship_name.grouper }}">
                    ({% trans "Add another" %})
                </a>
            </label>
            {% for relationship in relationship_name.list %}
                <div class="form-row indent">
                <a href="{% url schema_relationshiptype_edit graph.slug relationship.id %}">
                    {% if relationship.arity_target < 1 %}∞{% else %}{{ relationship.arity_target }} × {% endif %} {{ relationship.target.name|capfirst }}
                </a>
                {% if relationship.properties %}
                    {% for relationship_property in relationship.properties.all %}
                    <div class="form-row indent">
                        <label class="relProps{% if relationship_property.required %} required{% endif %}">⌂ {{ relationship_property.key|capfirst }}</label>
                        {% if relationship_property.datatype != "u" %}[{{ relationship_property.get_datatype }}]{% endif %}
<!--                        <p class="help">{{ relationship_property.default }}</p>-->
                    </div>
                    {% endfor %}
                {% endif %}
                </div>
            {% endfor %}
        </div>
    {% endfor %}
    {% regroup node_type.get_incoming_relationships by inverse as incoming_relationships %}
    {% if not relationships.0.relationship_name.grouper %}
        {% regroup node_type.get_incoming_relationships by name as incoming_relationships %}
    {% endif %}
    {% for relationship_name in incoming_relationships %}
         <div class="form-row indent">
            <label>←
                {% if relationship_name.grouper %}{{ relationship_name.grouper|capfirst }}{% else %}{{ relationship_name.list.0.name|capfirst }}{% endif %}
                <a class="buttonLinkOption indent" href="{% url schema_relationshiptype_create graph.slug %}?target={{ node_type.id }}&inverse={{ relationship_name.grouper }}&name={{ relationship_name.list.0.name }}">
                    ({% trans "Add another" %})
                </a>
            </label>
            {% for relationship in relationship_name.list %}
                <div class="form-row indent">
                <a href="{% url schema_relationshiptype_edit graph.slug relationship.id %}">
                    {% if relationship.arity_source < 1 %}∞{% else %}{{ relationship.arity_source }} × {% endif %}
                    {{ relationship.source.name|capfirst }}
                </a>
                {% if relationship.relation.relationshipproperty_set.all %}
                    {% for relationship_property in relationship.relation.relationshipproperty_set.all %}
                    <div class="form-row indent">
                        <label class="relProps{% if relationship_property.required %} required{% endif %}">⌂ {{ relationship_property.key|capfirst }}</label>
                        [{{ relationship_property.get_datatype }}] <p class="help">{{ relationship_property.default }}</p>
                    </div>
                    {% endfor %}
                {% endif %}
                </div>
            {% endfor %}
        </div>
    {% endfor %}
    {% if not node_type.get_outgoing_relationships and not node_type.get_incoming_relationships %}
    <span class="indent">
    {% trans "New" %} 
    <a class="buttonLinkOption" href="{% url schema_relationshiptype_create graph.slug %}?target={{ node_type.id }}&inverse={{ relationship_name.grouper }}">
        {% trans "incoming" %}
    </a> {% trans "or" %}
    <a class="buttonLinkOption" href="{% url schema_relationshiptype_create graph.slug %}?source={{ node_type.id }}&name={{ relationship_name.grouper }}">
        {% trans "outgoing" %}
    </a>
    {% trans "allowed relationship" %}
    </span>
    {% endif %}
    </fieldset>
    </div>
{% endfor %}
</div>
{% if node_types %}
    <a class="button" href="{% url schema_nodetype_create graph.slug %}">{% trans "New Type" %}</a>
{% else %}
    <a class="button" href="{% url schema_import graph.slug %}">{% trans "Import Schema" %}</a>
{% endif %}
<span class="buttonLinkOption">
{% if node_types %}
    <a href="{% url schema_relationshiptype_create graph.slug %}">{% trans "Allowed Relationship" %}</a>
    {% trans "or" %}
    <a href="{% url schema_export graph.slug %}">{% trans "Export" %}</a>.
{% else %}
    {% trans "or" %}
    <a href="{% url schema_nodetype_create graph.slug %}">{% trans "New Type" %}</a>.
    {% trans "There are no types defined yet" %}.
{% endif %}
</span>
{% endblock %}
