%content {
  font-size: 32px;
  text-align: center;
  margin: 0 5px;
}
.bin {
  @extend %content;
  min-height: 300px;
  min-width: 100%;
  float: left;
  border: 1px solid black;
  padding: 20px;
 }
