{% extends "base.html" %}
{% load i18n %}

{% block title %}
{% trans "Forbidden" %}
{% endblock title %}

{% block extra_links %}
{% endblock %}

{% block extra_scripts %}
{% endblock %}

{% block menu_navigation %}
{% endblock %}

{% block content_title %}
  <h1><a href="" class="inactive"></a></h1>
{% endblock %}

{% block contact_navigation %}
{% endblock %}

{% block main_navigation %}
  {{ block.super }}
{% endblock %}

{% block content %}
  <div id="homepage">
    <div class="page-error">
      <div class="heading">
        <h1>403: {% trans "Sorry, you don't have permission to access this page." %}</h1>
      </div>
    </div>
    <div id="body-divider"></div>
      <div id="content3">
        <div class="content-padding">
          <div class="clearfloats"></div>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
{% endblock %}
