{% extends "base.html" %}
{% load i18n compress %}

{% block extra_links %}
  {% compress css %}
    <link rel="stylesheet" href="{{ STATIC_PREFIX }}bootstrap/css/bootstrap-custom.css">
  {% endcompress %}
{% endblock extra_links %}

{% block title %}
  {% trans "Getting Started with SylvaDB - API" %}
{% endblock title %}

{% block content_title %}
  <h1>{% trans "Getting Started - API" %}</h1>
{% endblock content_title %}

{% block content %}
  <div class="doc">
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span4">
          <div class="well sidebar-nav fixed-sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">
                <a href="javascript:void(0)" data-toggle="collapse" data-target="#introduction-block">{% trans "Introduction" %}</a>
                <i class="fa fa-chevron-down fa-lg nav-arrow" style="display: none;"></i>
                <i class="fa fa-chevron-up fa-lg nav-arrow"></i>
              </li>
              <li class="nav-header">
                <a href="javascript:void(0)" data-toggle="collapse" data-target="#graphs-block">{% trans "Graph endpoints" %}</a>
                <i class="fa fa-chevron-down fa-lg nav-arrow" style="display: none;"></i>
                <i class="fa fa-chevron-up fa-lg nav-arrow"></i>
              </li>
              <ul id="graphs-block" class="collapse in">
                <li><a href="#/graphs/">/graphs/</a></li>
                <li><a href="#/graphs/{graph_slug}/">/graphs/{graph_slug}/</a></li>
                <li><a href="#/graphs/{graph_slug}/export/{'schema', 'data', 'graph'}">/graphs/{graph_slug}/export/{'schema', 'data', 'graph'}</a></li>
                <li><a href="#/graphs/{graph_slug}/import/{'schema', 'data', 'graph'}">/graphs/{graph_slug}/import/{'schema', 'data', 'graph'}</a></li>
              </ul>
              <li class="nav-header">
                <a href="javascript:void(0)" data-toggle="collapse" data-target="#schema-block">{% trans "Schema endpoints" %}</a>
                <i class="fa fa-chevron-down fa-lg nav-arrow" style="display: none;"></i>
                <i class="fa fa-chevron-up fa-lg nav-arrow"></i>
              </li>
              <ul id="schema-block" class="collapse in">
                <li><a href="#/graphs/{graph_slug}/types/{‘nodes’,’relationships’}/">/graphs/{graph_slug}/types/{‘nodes’,’relationships’}/</a></li>
                <li><a href="#/graphs/{graph_slug}/types/{‘nodes’,’relationships’}/{type_slug}/">/graphs/{graph_slug}/types/{‘nodes’,’relationships’}/{type_slug}/</a></li>
                <li><a href="#/graphs/{graph_slug}/types/{‘nodes’,’relationships’}/{type_slug}/schema">/graphs/{graph_slug}/types/{‘nodes’,’relationships’}/{type_slug}/schema</a></li>
                <li><a href="#/graphs/{graph_slug}/types/{‘nodes’,’relationships’}/{type_slug}/schema/properties">/graphs/{graph_slug}/types/{‘nodes’,’relationships’}/{type_slug}/schema/properties</a></li>
              </ul>
              <li class="nav-header">
                <a href="javascript:void(0)" data-toggle="collapse" data-target="#data-block">{% trans "Data endpoints" %}</a>
                <i class="fa fa-chevron-down fa-lg nav-arrow" style="display: none;"></i>
                <i class="fa fa-chevron-up fa-lg nav-arrow"></i>
              </li>
              <ul id="data-block" class="collapse in">
                <li><a href="#/graphs/{graph_slug}/types/{‘nodes’,’relationships’}/{type_slug}/{‘nodes’,’relationships’}">/graphs/{graph_slug}/types/{‘nodes’,’relationships’}/{type_slug}/{‘nodes’,’relationships’}</a></li>
                <li><a href="#/graphs/{graph_slug}/types/{‘nodes’,’relationships’}/{type_slug}/{‘nodes’,’relationships’}/{id}">/graphs/{graph_slug}/types/{‘nodes’,’relationships’}/{type_slug}/{‘nodes’,’relationships’}/{id}</a></li>
              </ul>
            </ul>
          </div>
        </div>
        <div class="span8">
          <h1>{% trans "Getting started with SylvaDB - API" %}</h1>

          <!-- Introduction section -->
          <div class="section">
            <h2>
              {% trans "Introduction" %}
              <a class="headerlink" id="introduction" href="#introduction" title="{% trans "Permalink to this headline" %}">¶</a>
            </h2>
            <div class="inner-section">
              <h3>
                {% trans "The SylvaDB - API" %}
                <a class="headerlink" id="sylva-db-api" href="#introduction-block" title="{% trans "Permalink to this headline" %}">¶</a>
              </h3>

              <p>{% trans "Quick introduction to the SylvaDB - API." %}</p>
            </div>
          </div>

          <!-- Graphs endpoints section -->
          <div class="section">
            <h2>
              {% trans "Graphs endpoints" %}
              <a class="headerlink" id="introduction" href="#graphs-block" title="{% trans "Permalink to this headline" %}">¶</a>
            </h2>

            <div class="inner-section">
              <br/>
              <p>{% trans "Quick introduction to the services for graphs." %}</p>

              <div class="api-endpoint">
                <h3>
                  {% trans "/graphs/" %}
                  <a class="headerlink" id="/graphs/" href="#/graphs/" title="{% trans "Permalink to this headline" %}">¶</a>
                </h3>

                <p>{% trans "Available methods for this service." %}</p>

                <div class="allowed-method">
                  <h3>
                    {% trans "GET" %}
                    <a class="headerlink" id="/graphs/-GET" title="{% trans "Permalink to this headline" %}">¶</a>
                  </h3>

                  <p>{% trans "This method lists all the user graphs." %}</p>

                  <!-- Code example section -->
                  <div style="font-family: monospace;">
                    <pre style="padding: 8px; background-color: #f7f7f9; border: 1px solid #e1e1e8; font-size: 12px; margin-bottom: 0px;"><b>Requested method: <span style="color: #348E82;">GET</span></b>
                    </pre>
                    <br>
                    <pre style="padding: 8px; background-color: #f7f7f9; border: 1px solid #e1e1e8; font-size: 12px;"><div style="margin-top: 5px;"><b>Status: <span style="color: #348E82; margin-top">200 OK</span></b></div><div style="margin-top: 5px;"><b>Vary: <span style="color: #348E82;"> Accept</span></b></div><div style="margin-top: 5px;"><b>Content-Type: <span style="color: #348E82;"> text/html; charset=utf-8</span></b></div><div style="margin-top: 5px;"><b>Allow: <span style="color: #348E82;"> GET, POST, HEAD, OPTIONS</span></b></div>
                    </pre>
                    <br>
                    <pre style="padding: 8px; background-color: #f7f7f9; border: 1px solid #e1e1e8; font-size: 12px;">JSON result example
                    </pre>
                  </div>
                </div>
                
                <div class="allowed-method">
                  <h3>
                    {% trans "POST" %}
                    <a class="headerlink" id="/graphs/-POST" title="{% trans "Permalink to this headline" %}">¶</a>
                  </h3>

                  <p>{% trans "This method creates a new graph." %}</p>

                  <!-- Code example section -->
                  <div style="font-family: monospace;">
                    <pre style="padding: 8px; background-color: #f7f7f9; border: 1px solid #e1e1e8; font-size: 12px; margin-bottom: 0px;"><b>Requested method: <span style="color: #348E82;">POST</span></b>
                    </pre>
                    <br>
                    <pre style="padding: 8px; background-color: #f7f7f9; border: 1px solid #e1e1e8; font-size: 12px;"><div style="margin-top: 5px;"><b>Status: <span style="color: #348E82; margin-top">204 OK</span></b></div><div style="margin-top: 5px;"><b>Vary: <span style="color: #348E82;"> Accept</span></b></div><div style="margin-top: 5px;"><b>Content-Type: <span style="color: #348E82;"> text/html; charset=utf-8</span></b></div><div style="margin-top: 5px;"><b>Allow: <span style="color: #348E82;"> GET, POST, HEAD, OPTIONS</span></b></div>
                    </pre>
                    <br>
                    <pre style="padding: 8px; background-color: #f7f7f9; border: 1px solid #e1e1e8; font-size: 12px;">JSON result example
                    </pre>
                  </div>
                </div>
              </div>

              <div class="api-endpoint">
                <h3>
                  {% trans "/graphs/{graph_slug}/" %}
                  <a class="headerlink" id="/graphs/{graph_slug}/" href="#/graphs/graph_slug}/" title="{% trans "Permalink to this headline" %}">¶</a>
                </h3>

                <p>{% trans "Available methods for this service." %}</p>

                <div class="allowed-method">
                  <h3>
                    {% trans "GET" %}
                    <a class="headerlink" id="/graphs/{graph_slug}/-GET" title="{% trans "Permalink to this headline" %}">¶</a>
                  </h3>

                  <p>{% trans "Graph properties (name, description) and stats." %}</p>

                  <!-- Code example section -->
                  <div style="font-family: monospace;">
                    <pre style="padding: 8px; background-color: #f7f7f9; border: 1px solid #e1e1e8; font-size: 12px; margin-bottom: 0px;"><b>Requested method: <span style="color: #348E82;">GET</span></b>
                    </pre>
                    <br>
                    <pre style="padding: 8px; background-color: #f7f7f9; border: 1px solid #e1e1e8; font-size: 12px;"><div style="margin-top: 5px;"><b>Status: <span style="color: #348E82; margin-top">200 OK</span></b></div><div style="margin-top: 5px;"><b>Vary: <span style="color: #348E82;"> Accept</span></b></div><div style="margin-top: 5px;"><b>Content-Type: <span style="color: #348E82;"> text/html; charset=utf-8</span></b></div><div style="margin-top: 5px;"><b>Allow: <span style="color: #348E82;"> GET, PUT, PATCH, DELETE, HEAD, OPTIONS</span></b></div>
                    </pre>
                    <br>
                    <pre style="padding: 8px; background-color: #f7f7f9; border: 1px solid #e1e1e8; font-size: 12px;">JSON result example
                    </pre>
                  </div>
                </div>
                
                <div class="allowed-method">
                  <h3>
                    {% trans "PUT" %}
                    <a class="headerlink" id="/graphs/{graph_slug}/-PUT" title="{% trans "Permalink to this headline" %}">¶</a>
                  </h3>

                  <p>{% trans "Change all fields at once (omitted fields are removed)." %}</p>

                  <!-- Code example section -->
                  <div style="font-family: monospace;">
                    <pre style="padding: 8px; background-color: #f7f7f9; border: 1px solid #e1e1e8; font-size: 12px; margin-bottom: 0px;"><b>Requested method: <span style="color: #348E82;">PUT</span></b>
                    </pre>
                    <br>
                    <pre style="padding: 8px; background-color: #f7f7f9; border: 1px solid #e1e1e8; font-size: 12px;"><div style="margin-top: 5px;"><b>Status: <span style="color: #348E82; margin-top">200 OK</span></b></div><div style="margin-top: 5px;"><b>Vary: <span style="color: #348E82;"> Accept</span></b></div><div style="margin-top: 5px;"><b>Content-Type: <span style="color: #348E82;"> text/html; charset=utf-8</span></b></div><div style="margin-top: 5px;"><b>Allow: <span style="color: #348E82;"> GET, PUT, PATCH, DELETE, HEAD, OPTIONS</span></b></div>
                    </pre>
                    <br>
                    <pre style="padding: 8px; background-color: #f7f7f9; border: 1px solid #e1e1e8; font-size: 12px;">JSON result example
                    </pre>
                  </div>
                </div>

                <div class="allowed-method">
                  <h3>
                    {% trans "PATCH" %}
                    <a class="headerlink" id="/graphs/{graph_slug}/-PATCH" title="{% trans "Permalink to this headline" %}">¶</a>
                  </h3>

                  <p>{% trans "Change fields (delta -- only fields provided will be modified)." %}</p>

                  <!-- Code example section -->
                  <div style="font-family: monospace;">
                    <pre style="padding: 8px; background-color: #f7f7f9; border: 1px solid #e1e1e8; font-size: 12px; margin-bottom: 0px;"><b>Requested method: <span style="color: #348E82;">PATCH</span></b>
                    </pre>
                    <br>
                    <pre style="padding: 8px; background-color: #f7f7f9; border: 1px solid #e1e1e8; font-size: 12px;"><div style="margin-top: 5px;"><b>Status: <span style="color: #348E82; margin-top">200 OK</span></b></div><div style="margin-top: 5px;"><b>Vary: <span style="color: #348E82;"> Accept</span></b></div><div style="margin-top: 5px;"><b>Content-Type: <span style="color: #348E82;"> text/html; charset=utf-8</span></b></div><div style="margin-top: 5px;"><b>Allow: <span style="color: #348E82;"> GET, PUT, PATCH, DELETE, HEAD, OPTIONS</span></b></div>
                    </pre>
                    <br>
                    <pre style="padding: 8px; background-color: #f7f7f9; border: 1px solid #e1e1e8; font-size: 12px;">JSON result example
                    </pre>
                  </div>
                </div>
                
                <div class="allowed-method">
                  <h3>
                    {% trans "DELETE" %}
                    <a class="headerlink" id="/graphs/{graph_slug}/-DELETE" title="{% trans "Permalink to this headline" %}">¶</a>
                  </h3>

                  <p>{% trans "Delete a graph." %}</p>

                  <!-- Code example section -->
                  <div style="font-family: monospace;">
                    <pre style="padding: 8px; background-color: #f7f7f9; border: 1px solid #e1e1e8; font-size: 12px; margin-bottom: 0px;"><b>Requested method: <span style="color: #348E82;">DELETE</span></b>
                    </pre>
                    <br>
                    <pre style="padding: 8px; background-color: #f7f7f9; border: 1px solid #e1e1e8; font-size: 12px;"><div style="margin-top: 5px;"><b>Status: <span style="color: #348E82; margin-top">200 OK</span></b></div><div style="margin-top: 5px;"><b>Vary: <span style="color: #348E82;"> Accept</span></b></div><div style="margin-top: 5px;"><b>Content-Type: <span style="color: #348E82;"> text/html; charset=utf-8</span></b></div><div style="margin-top: 5px;"><b>Allow: <span style="color: #348E82;"> GET, PUT, PATCH, DELETE, HEAD, OPTIONS</span></b></div>
                    </pre>
                    <br>
                    <pre style="padding: 8px; background-color: #f7f7f9; border: 1px solid #e1e1e8; font-size: 12px;">JSON result example
                    </pre>
                  </div>
                </div>

                <div class="api-endpoint">
                <h3>
                  {% trans "/graphs/{graph_slug}/export/{'schema', 'data', 'graph'}" %}
                  <a class="headerlink" id="/graphs/{graph_slug}/export/{'schema', 'data', 'graph'}" href="#/graphs/{graph_slug}/export/{'schema', 'data', 'graph'}" title="{% trans "Permalink to this headline" %}">¶</a>
                </h3>

                <p>{% trans "Available methods for this service." %}</p>  

                <div class="allowed-method">
                  <h3>
                    {% trans "GET" %}
                    <a class="headerlink" id="/graphs/{graph_slug}/-GET" title="{% trans "Permalink to this headline" %}">¶</a>
                  </h3>

                  <p>{% trans "Get whole schema, data, or both (graph)." %}</p>

                  <!-- Code example section -->
                  <div style="font-family: monospace;">
                    <pre style="padding: 8px; background-color: #f7f7f9; border: 1px solid #e1e1e8; font-size: 12px; margin-bottom: 0px;"><b>Requested method: <span style="color: #348E82;">GET</span></b>
                    </pre>
                    <br>
                    <pre style="padding: 8px; background-color: #f7f7f9; border: 1px solid #e1e1e8; font-size: 12px;"><div style="margin-top: 5px;"><b>Status: <span style="color: #348E82; margin-top">200 OK</span></b></div><div style="margin-top: 5px;"><b>Vary: <span style="color: #348E82;"> Accept</span></b></div><div style="margin-top: 5px;"><b>Content-Type: <span style="color: #348E82;"> text/html; charset=utf-8</span></b></div><div style="margin-top: 5px;"><b>Allow: <span style="color: #348E82;"> GET, HEAD, OPTIONS</span></b></div>
                    </pre>
                    <br>
                    <pre style="padding: 8px; background-color: #f7f7f9; border: 1px solid #e1e1e8; font-size: 12px;">JSON result example
                    </pre>
                  </div>
                </div>

                <div class="api-endpoint">
                <h3>
                  {% trans "/graphs/{graph_slug}/import/{'schema', 'data', 'graph'}" %}
                  <a class="headerlink" id="/graphs/{graph_slug}/import/{'schema', 'data', 'graph'}" href="#/graphs/{graph_slug}/import/{'schema', 'data', 'graph'}" title="{% trans "Permalink to this headline" %}">¶</a>
                </h3>

                <p>{% trans "Available methods for this service." %}</p>  

                <div class="allowed-method">
                  <h3>
                    {% trans "PUT" %}
                    <a class="headerlink" id="/graphs/{graph_slug}/-PUT" title="{% trans "Permalink to this headline" %}">¶</a>
                  </h3>

                  <p>{% trans "Import whole schema, data, or both (graph)." %}</p>

                  <!-- Code example section -->
                  <div style="font-family: monospace;">
                    <pre style="padding: 8px; background-color: #f7f7f9; border: 1px solid #e1e1e8; font-size: 12px; margin-bottom: 0px;"><b>Requested method: <span style="color: #348E82;">PUT</span></b>
                    </pre>
                    <br>
                    <pre style="padding: 8px; background-color: #f7f7f9; border: 1px solid #e1e1e8; font-size: 12px;"><div style="margin-top: 5px;"><b>Status: <span style="color: #348E82; margin-top">200 OK</span></b></div><div style="margin-top: 5px;"><b>Vary: <span style="color: #348E82;"> Accept</span></b></div><div style="margin-top: 5px;"><b>Content-Type: <span style="color: #348E82;"> text/html; charset=utf-8</span></b></div><div style="margin-top: 5px;"><b>Allow: <span style="color: #348E82;"> PUT, HEAD, OPTIONS</span></b></div>
                    </pre>
                    <br>
                    <pre style="padding: 8px; background-color: #f7f7f9; border: 1px solid #e1e1e8; font-size: 12px;">JSON result example
                    </pre>
                  </div>
                </div>

              </div>

            </div>
          </div>

          <!-- Schema endpoints section -->
          <div class="section">
            <h2>
              {% trans "Schema endpoints" %}
              <a class="headerlink" id="schema-endpoints" href="#schema-block" title="{% trans "Permalink to this headline" %}">¶</a>
            </h2>
            <div class="inner-section">
              <br/>
              <p>{% trans "Quick introduction to the services for schemas." %}</p>
            </div>
          </div>

          <!-- Data endpoints section -->
          <div class="section">
            <h2>
              {% trans "Data endpoints" %}
              <a class="headerlink" id="data-endpoints" href="#data-block" title="{% trans "Permalink to this headline" %}">¶</a>
            </h2>
            <div class="inner-section">
              <br/>
              <p>{% trans "Quick introduction to the services for data." %}</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block extra_scripts %}
  {% compress js %}
    <script src="{{ STATIC_PREFIX }}bootstrap/js/bootstrap-custom.js"></script>
    <script src="{{ STATIC_PREFIX }}js/get_started.js"></script>
  {% endcompress %}
{% endblock extra_scripts %}
