{% extends "base.html" %}
{% load i18n compress %}

{% block extra_links %}
  {% compress css %}
    <link rel="stylesheet" href="{{ STATIC_PREFIX }}bootstrap/css/bootstrap-custom.css">
  {% endcompress %}
{% endblock extra_links %}

{% block title %}
  {% trans "Getting Started with SylvaDB" %}
{% endblock title %}

{% block content_title %}
  <h1>{% trans "Getting Started" %}</h1>
{% endblock content_title %}

{% block content %}
  <div class="doc">
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span4">
          <div class="well sidebar-nav fixed-sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">
                <a href="javascript:void(0)" data-toggle="collapse" data-target="#introduction-block">{% trans "Introduction" %}</a>
                <i class="fa fa-chevron-down fa-lg nav-arrow" style="display: none;"></i>
                <i class="fa fa-chevron-up fa-lg nav-arrow"></i>
              </li>
              <ul id="introduction-block" class="collapse in">
                <li><a href="#what-is-a-graph-database">{% trans "What is a graph database" %}</a></li>
                <li><a href="#why-use-sylvadb">{% trans "Why use SylvaDB" %}</a></li>
              </ul>
              <li class="nav-header">
                <a href="javascript:void(0)" data-toggle="collapse" data-target="#an-overview-block">{% trans "An overview" %}</a>
                <i class="fa fa-chevron-down fa-lg nav-arrow" style="display: none;"></i>
                <i class="fa fa-chevron-up fa-lg nav-arrow"></i>
              </li>
              <ul id="an-overview-block" class="collapse in">
                <li><a href="#the-dashboard">{% trans "The Dashboard" %}</a></li>
              </ul>
              <li class="nav-header">
                <a href="javascript:void(0)" data-toggle="collapse" data-target="#designing-the-graph-block">{% trans "Designing the graph" %}</a>
                <i class="fa fa-chevron-down fa-lg nav-arrow" style="display: none;"></i>
                <i class="fa fa-chevron-up fa-lg nav-arrow"></i>
              </li>
              <ul id="designing-the-graph-block" class="collapse in">
                <li><a href="#creating-a-graph">{% trans "Creating a graph" %}</a></li>
                <li><a href="#creating-a-schema">{% trans "Creating a schema" %}</a></li>
              </ul>
              <li class="nav-header">
                <a href="javascript:void(0)" data-toggle="collapse" data-target="#adding-data-block">{% trans "Adding data" %}</a>
                <i class="fa fa-chevron-down fa-lg nav-arrow" style="display: none;"></i>
                <i class="fa fa-chevron-up fa-lg nav-arrow"></i>
              </li>
              <ul id="adding-data-block" class="collapse in">
                <li><a href="#creating-nodes">{% trans "Creating nodes" %}</a></li>
                <li><a href="#creating-relationships">{% trans "Creating relationships" %}</a></li>
                <li><a href="#adding-multimedia">{% trans "Adding multimedia" %}</a></li>
              </ul>
              <li class="nav-header">
                <a href="javascript:void(0)" data-toggle="collapse" data-target="#visualizing-the-graph-block">{% trans "Visualizing the graph" %}</a>
                <i class="fa fa-chevron-down fa-lg nav-arrow" style="display: none;"></i>
                <i class="fa fa-chevron-up fa-lg nav-arrow"></i>
              </li>
              <ul id="visualizing-the-graph-block" class="collapse in">
                <li><a href="#graph-visualization">{% trans "Graph visualization" %}</a></li>
              </ul>
              <li class="nav-header">
                <a href="javascript:void(0)" data-toggle="collapse" data-target="#interacting-with-graphs-block">{% trans "Interacting with the graph" %}</a>
                <i class="fa fa-chevron-down fa-lg nav-arrow" style="display: none;"></i>
                <i class="fa fa-chevron-up fa-lg nav-arrow"></i>
              </li>
              <ul id="interacting-with-graphs-block" class="collapse in">
                <li><a href="#analytics">{% trans "Analytics" %}</a></li>
                <li><a href="#query-builder">{% trans "Query builder" %}</a></li>
              </ul>
              <li class="nav-header">
                <a href="javascript:void(0)" data-toggle="collapse" data-target="#exporting-graphs-block">{% trans "Exporting graphs" %}</a>
                <i class="fa fa-chevron-down fa-lg nav-arrow" style="display: none;"></i>
                <i class="fa fa-chevron-up fa-lg nav-arrow"></i>
              </li>
              <ul id="exporting-graphs-block" class="collapse in">
                <li><a href="#exporting-schema">{% trans "Exporting the schema" %}</a></li>
                <li><a href="#exporting-gexf">{% trans "Exporting data as GEXF (Gephi)" %}</a></li>
                <li><a href="#exporting-csv">{% trans "Exporting data as CSV" %}</a></li>
              </ul>
              <li class="nav-header">
                <a href="javascript:void(0)" data-toggle="collapse" data-target="#importing-graphs-block">{% trans "Importing graphs" %}</a>
                <i class="fa fa-chevron-down fa-lg nav-arrow" style="display: none;"></i>
                <i class="fa fa-chevron-up fa-lg nav-arrow"></i>
              </li>
              <ul id="importing-graphs-block" class="collapse in">
                <li><a href="#importing-schema">{% trans "Importing the schema" %}</a></li>
                <li><a href="#importing-gexf">{% trans "Importing data from GEXF (Gephi)" %}</a></li>
                <li><a href="#importing-csv">{% trans "Importing data from CSV" %}</a></li>
                <li><a href="#csv-spreadsheet">{% trans "Editing CSV files" %}</a></li>
              </ul>
            </ul>
          </div>
        </div>
        <div class="span8">
          <h1>{% trans "Getting started with SylvaDB" %}</h1>

          <div class="section">
            <h2>
              {% trans "Introduction" %}
              <a class="headerlink" id="introduction" href="#introduction" title="{% trans "Permalink to this headline" %}">¶</a>
            </h2>
            <div class="inner-section">
              <h3>
                {% trans "What is a graph database" %}
                <a class="headerlink" id="what-is-a-graph-database" href="#what-is-a-graph-database" title="{% trans "Permalink to this headline" %}">¶</a>
              </h3>

              <p>{% trans "A graph database stores data in a graph, the most generic of data structures, capable of elegantly representing any kind of data in a highly accessible way. Basically, a graph states that something is related to something else. It's a natural way of specifying relationships among a collection of items." %}</p>

              <p>{% trans "A graph uses <strong>nodes</strong>, <strong>edges</strong> and <strong>properties</strong> to represent the data. Typically, nodes are represented as circles and edges as arrows." %}</p>

              <p>{% trans "This is an example of a simple graph:" %}</p>

              <img src="{{ STATIC_PREFIX }}img/docs/get_started/simple_graph.png" alt="{% trans "simple graph" %}" width="250">

              <p>{% trans "<strong>Nodes</strong> represent <em>entities</em> such as people, books, songs, or any other item you might want to keep track of. <strong>Edges</strong> represent the relationship between the nodes. And properties are pertinent information that relate to nodes or relationships. But in the above graph there isn't any property... yet." %}</p>

              <p>{% trans "This is an example of a simple graph with some properties:" %}</p>

              <img src="{{ STATIC_PREFIX }}img/docs/get_started/simple_property_graph.png" alt="{% trans "simple property graph" %}">

              <p>{% trans "In this graph there are three nodes representing two kind of entities: the entity <strong>Person</strong> and the entity <strong>Group</strong>. As you can see, each node has a set of properties with information about the entity. Also, there are six relationships between the nodes, but only two relationships have properties. Easy!" %}</p>

              <p>{% trans "A graph is a flexible and powerful tool for describing relations between elements of any kind. For this reason, graph databases are often faster than traditional databases for associative data sets with highly complex relationships. They can scale more naturally as they do not typically require expensive database operations. Also, they are suitable to manage ad-hoc and changing data as they depend less on a rigid <em>schema</em> to describe relations between elements." %}</p>

              <h3>
                {% trans "Why use SylvaDB" %}
                <a class="headerlink" id="why-use-sylvadb" href="#why-use-sylvadb" title="{% trans "Permalink to this headline" %}">¶</a>
              </h3>
              <p>{% trans "SylvaDB is an easy-to-use, flexible, and scalable graph database management system that helps you collect, collaborate, visualize and query large data sets. It provides all the benefits of using a graph database. And the best thing is that you will need no programming knowledge to use it." %}</p>
            </div>
          </div>

          <div class="section">
            <h2>
              {% trans "An overview" %}
              <a class="headerlink" id="an-overview" href="#an-overview" title="{% trans "Permalink to this headline" %}">¶</a>
            </h2>
            <div class="inner-section">
              <h3>
                {% trans "The Dashboard" %}
                <a class="headerlink" id="the-dashboard" href="#the-dashboard" title="{% trans "Permalink to this headline" %}">¶</a>
              </h3>

              <p>{% trans "This is the panel where you manage your graphs in SylvaDB. It's divided in three columns: Graphs, Collaborations and Statistics." %}</p>

              <img class="border" src="{{ STATIC_PREFIX }}img/docs/get_started/dashboard.png" alt="{% trans "the dashboard" %}">

              <p>{% trans "In <strong>Graphs</strong> you will find all the graphs you have created. <strong>Collaborations</strong> is for all those graphs where you are contributing as a collaborator. And <strong>Statistics</strong> shows some statistics about your graphs." %}</p>

              <p>{% trans "We haven't created any graph yet... So, let's create a new one!" %}</p>
            </div>
          </div>

          <div class="section">
            <h2>
              {% trans "Designing the graph" %}
              <a class="headerlink" id="designing-the-graph" href="#designing-the-graph" title="{% trans "Permalink to this headline" %}">¶</a>
            </h2>
            <div class="inner-section">
              <h3>
                {% trans "Creating a graph" %}
                <a class="headerlink" id="creating-a-graph" href="#creating-a-graph" title="{% trans "Permalink to this headline" %}">¶</a>
              </h3>

              <p>{% trans "We are going to create a graph about music. So, first of all, we need to choose a <strong>name</strong> for our graph. We will call it <em>My music collection</em>. It's useful to also provide a <strong>description</strong>, although it's not required. Finally, we choose if our graph will be <strong>public</strong> or not (publicly available for other people)." %}</p>

              <img class="border" src="{{ STATIC_PREFIX }}img/docs/get_started/new_graph.png" alt="{% trans "new graph" %}">

              <p>{% trans "After clicking on <em>Create new graph</em>, we will be redirected to the Dashboard, where we can see an overview of our new graph." %}</p>

              <img class="border" src="{{ STATIC_PREFIX }}img/docs/get_started/graph_overview.png" alt="{% trans "graph overview" %}">

              <p>{% trans "Some useful information is showed in this overview. For example, you can see the number of <em>nodes</em> and <em>relationships</em> of the graph, also the number of <em>collaborators</em>, and other information that we will see later, as <em>Strict Schema...</em> What does it mean? Let's see!" %}</p>

              <h3>
                {% trans "Creating a schema" %}
                <a class="headerlink" id="creating-a-schema" href="#creating-a-schema" title="{% trans "Permalink to this headline" %}">¶</a>
              </h3>

              <p>{% trans "A schema is the place where you describe how is organized your data, the structure of your database. In a graph database you use the schema to define <strong>Types</strong>: the kind of data you can store in your nodes. Also, to define the <strong>allowed relationships</strong> between the nodes." %}</p>

              <p>{% trans "So, clicking on" %} <img class="inline" src="{{ STATIC_PREFIX }}img/docs/get_started/schema_link.png" alt="{% trans "strict schema" %}"> {% trans "you will see there isn't any Type defined yet. Let's create a new Type." %}</p>

              <p>{% trans "After clicking on <em>New Type</em>, you will see a form where you can add a <strong>Name</strong> and a <strong>Description</strong> for your Type." %}</p>

              <img class="border" src="{{ STATIC_PREFIX }}img/docs/get_started/schema_new_type.png" alt="{% trans "New Type" %}">

              <p>{% trans "You should see Types as data <em>entities</em>. For example: a book, a person, an album, etc. Here we are creating a Type to represent an <strong>Album</strong> entity." %}</p>

              <p>{% blocktrans %}Then, we define the <strong>properties</strong> of the Type. We need to think what are the most relevant information about a music album. For example, we would store: <em>Title</em>, <em>Duration</em>, <em>Number of tracks</em> and <em>Release date</em>. Those are what we call the <strong>keys</strong>. So, clicking on <img class="inline" src="{{ STATIC_PREFIX }}img/docs/get_started/schema_add_property_link.png"> we can get something like this:{% endblocktrans %}</p>

              <img class="border" src="{{ STATIC_PREFIX }}img/docs/get_started/schema_type_properties.png" alt="{% trans "Type properties" %}">

              <p>{% trans "You can see that we have marked the property <em>Title</em> as the <strong>label</strong> of this Type. This way, we will use this property to identify each node." %}</p>

              <p>{% blocktrans %}We finish clicking on <img class="inline" src="{{ STATIC_PREFIX }}img/docs/get_started/schema_save_type.png">. Then you will see an overview of our schema:{% endblocktrans %}</p>

              <img class="border" src="{{ STATIC_PREFIX }}img/docs/get_started/schema_diagram.png" alt="{% trans "Schema diagram" %}">

              <p>{% trans "Also, we want to create the Type <strong>Artist</strong>, so move to the bottom of the page and click <em>New Type</em>." %}</p>

              <img class="border" src="{{ STATIC_PREFIX }}img/docs/get_started/schema_more_types.png" alt="{% trans "More Types" %}">

              <p>{% trans "We will define three properties for the Type <strong>Artist</strong>: <em>Active</em>, <em>Name</em> and <em>Size</em>. Note that <em>Name</em> will be the label." %}</p>

              <img class="border" src="{{ STATIC_PREFIX }}img/docs/get_started/schema_artist_properties.png" alt="{% trans "Artist properties" %}">

              <p>{% trans "By default, properties are defined as <em>strings</em>, but sometimes we'll want to restrict the kind of data we would want to store: a <em>number</em>, a <em>date</em>, a <em>boolean</em>, ... In those cases, we can define the <em>type</em> of a property using the <strong>Advanced Mode</strong> tool. So, clicking on <em>Advanced Mode</em>, you will see a set of fields for each property:" %}</p>

              <img class="border" src="{{ STATIC_PREFIX }}img/docs/get_started/schema_advanced_mode.png" alt="{% trans "Advanced Mode" %}">

              <p>{% trans "We are interested in using just the <strong>Data type</strong> field. So, clicking on that field, you will see a list of property types. Now select the type <em>Boolean</em> for the property <em>Active</em> and <em>Number</em> for the property <em>Size</em>. This way, we are limiting the possible values of the <em>Active</em> property to be just <em>True</em> or <em>False</em> (visualized as a check box), and the possible values of the <em>Size</em> property to be just <em>numbers</em>, avoiding possible errors and mistakes when storing data." %}</p>

              <p>{% trans "We finish clicking on" %} <img class="inline" src="{{ STATIC_PREFIX }}img/docs/get_started/schema_save_type.png" alt="{% trans "Save Type" %}"></p>

              <img class="border" src="{{ STATIC_PREFIX }}img/docs/get_started/schema_album_artist_overview.png" alt="{% trans "Album-Artist schema overview" %}">

              <p>{% trans "So, it's time to change the Type <strong>Album</strong>, updating the types of its properties using the <em>Advanced Mode</em> tool. This time, we want to use the type <em>Date</em> for the property <em>Release Date</em> and the type <em>Number</em> for the property <em>Number of tracks</em>." %}</p>

              <img class="border" src="{{ STATIC_PREFIX }}img/docs/get_started/schema_album_change_properties_types.png" alt="{% trans "Album change properties" %}">

              <p>{% trans "Finally, repeating the steps to create also the Type <strong>Concert</strong>, we get the following schema:" %}</p>

              <img class="border" src="{{ STATIC_PREFIX }}img/docs/get_started/schema_types_listed.png" alt="{% trans "Types listed" %}">

              <p>{% trans "We have defined three Types in our schema: <strong>Artist</strong>, <strong>Album</strong> and <strong>Concert</strong>, so we can already create nodes in our graph using these Types. But, this way, our graph will contain only nodes without any relation between them. And we think there is some sort of connection between these three entities, so, we need to also define <strong>Relationships</strong> in our schema." %}</p>

              <p>{% trans "Here you can see the relationships we want to create:" %}</p>

              <img src="{{ STATIC_PREFIX }}img/docs/get_started/music_collection_schema_graph.png" alt="{% trans "Music Collection schema graph" %}">

              <p>{% trans "Note that we have two different relationships between <em>Album</em> and <em>Concert</em>." %}</p>

              <p>{% trans "We start defining the relationship between <em>Artist</em> and <em>Album</em>. So, in the <em>Artist</em> section from the schema overview we saw before, we click on <strong>outgoing</strong>:" %}</p>

              <img class="border" src="{{ STATIC_PREFIX }}img/docs/get_started/schema_artist_album_relationship.png" alt="{% trans "Artist-Album relationship" %}">

              <p>{% trans "Then, we select <em>Album</em> as the <strong>target</strong> of the relationship:" %}</p>

              <img class="border" src="{{ STATIC_PREFIX }}img/docs/get_started/schema_artist_album_relationship_name.png" alt="{% trans "Artist-Album relationship name" %}">

              <p>{% trans "We also want to add some property to this relationship. We want to store the <em>Date</em>:" %}</p>

              <img class="border" src="{{ STATIC_PREFIX }}img/docs/get_started/schema_artist_album_relationship_properties.png" alt="{% trans "Artist-Album relationship properties" %}">

              <p>{% trans "As you can see, we have marked the property <em>Date</em> as the <strong>label</strong> of the relationship. This way, we will use this property to identify each relationship when we visualize the graph." %}</p>

              <p>{% trans "After clicking <em>Save Type</em>, you will see that a new relationship has been created in the Schema diagram (you can drag the boxes to see the schema better):" %}</p>

              <img class="border" src="{{ STATIC_PREFIX }}img/docs/get_started/schema_artist_album_diagram.png" alt="{% trans "Artist-Album diagram" %}">

              <p>{% trans "When you create a relationship in the schema between two Types, you will not see the links <em>incoming</em> nor <em>outgoing</em> anymore. So, you will need to use the link <strong>New allowed Relationship</strong> at the bottom of the page if you want to create more relationships using either of these Types." %}</p>

              <img class="border" src="{{ STATIC_PREFIX }}img/docs/get_started/schema_more_types.png" alt="{% trans "More Types" %}">

              <p>{% trans "This time, we don't want to define any property in these relationships. So, repeating the process to create the rest of relationships, finally we get our database schema:" %}</p>

              <img class="border" src="{{ STATIC_PREFIX }}img/docs/get_started/schema_full_diagram.png" alt="{% trans "Schema diagram" %}">

              <p>{% trans "We have created a schema for the <em>Music Collection</em> graph. But, we haven't added any data yet, so in the next topics we will see how to add some <strong>nodes</strong> and <strong>relationships</strong> to the graph." %}</p>
            </div>
          </div>

          <div class="section">
            <h2>
              {% trans "Adding data" %}
              <a class="headerlink" id="adding-data" href="#adding-data" title="{% trans "Permalink to this headline" %}">¶</a>
            </h2>
            <div class="inner-section">
              <h3>
                {% trans "Creating nodes" %}
                <a class="headerlink" id="creating-nodes" href="#creating-nodes" title="{% trans "Permalink to this headline" %}">¶</a>
              </h3>

              <p>{% trans "In order to store some data in our graph, we need to create <em>nodes</em>. So, move to the top menu at the right corner of the screen:" %}</p>

              <img class="border" src="{{ STATIC_PREFIX }}img/docs/get_started/data_dropdown_menu.png" alt="{% trans "Data menu" %}">

              <p>{% trans "And add a new <em>Artist</em> clicking on the '+' symbol:" %}</p>

              <img class="border" src="{{ STATIC_PREFIX }}img/docs/get_started/data_artist_new_link.png" alt="{% trans "Data Artist new link" %}">

              <p>{% trans "Yo will see a form to fill in with data about the Artist. This form is composed by four sections:" %}</p>

              <ul>
                <li>{% trans "Properties" %}</li>
                <li>{% trans "Relationships" %}</li>
                <li>{% trans "Files" %}</li>
                <li>{% trans "Links" %}</li>
              </ul>

              <p>{% trans "The <strong>Properties</strong> section represent the properties we defined in the schema for the Type <strong>Artist</strong>. For example, we will add information about <em>Led Zeppelin</em>:" %}</p>

              <img class="border" src="{{ STATIC_PREFIX }}img/docs/get_started/data_properties_section.png" alt="{% trans "Data properties section" %}">

              <p>{% trans "We will see the rest of form sections later. So, let's save the <em>artist</em> clicking on the <em>save</em> button. You will see a data summary with the nodes for this <em>entity</em>. Currently, this list only shows one node." %}</p>

              <p>{% trans "You can change the order of properties listed using the field <em>Order</em> from the <em>Advanced Mode</em> tool we saw before in the Schema definition. So, let's return to the schema definition for <strong>Artist</strong> and activate the <em>Advanced Mode</em> tool. You simply use numbers to indicate the order:" %}</p>

              <img class="border" src="{{ STATIC_PREFIX }}img/docs/get_started/schema_properties_ordered.png" alt="{% trans "Schema properties ordered" %}">

              <p>{% trans "Now the properties are listed in the order we set:" %}</p>

              <img class="border" src="{{ STATIC_PREFIX }}img/docs/get_started/data_properties_section_ordered.png" alt="{% trans "Data properties section ordered" %}">

              <p>{% trans "Let's add some information about an <strong>Album</strong>. Again, move to the top menu and click on the '+' icon:" %}</p>

              <img class="border" src="{{ STATIC_PREFIX }}img/docs/get_started/data_album_new_link.png" alt="{% trans "Data Album new link" %}">

              <p>{% trans "We repeat the same process filling in the properties for <em>Album</em>." %}</p>

              <img class="border" src="{{ STATIC_PREFIX }}img/docs/get_started/data_album_properties.png" alt="{% trans "Data Album properties" %}">

              <p>{% trans "We also add some information about a <strong>Concert</strong>:" %}</p>

              <img class="border" src="{{ STATIC_PREFIX }}img/docs/get_started/data_concert_properties.png" alt="{% trans "Data Concert properties" %}">

              <p>{% trans "We have just created three nodes in our graph for the types <strong>Artist</strong>, <strong>Album</strong> and <strong>Concert</strong>." %}</p>

              <h3>
                {% trans "Creating relationships" %}
                <a class="headerlink" id="creating-relationships" href="#creating-relationships" title="{% trans "Permalink to this headline" %}">¶</a>
              </h3>

              <p>{% trans "After saving the <strong>Concert</strong>, you will see a data summary with the nodes for this <em>entity</em>. Currently, this list only shows one node." %}</p>

              <img class="border" src="{{ STATIC_PREFIX }}img/docs/get_started/data_concert_list.png" alt="{% trans "Data Concert list" %}">

              <p>{% blocktrans %}Since we haven't added any relationship yet, clicking on the icon <img class="inline" src="{{ STATIC_PREFIX }}img/docs/get_started/relationship_icon.png"> will not show any relationship. So, let's add a relationship.{% endblocktrans %}</p>

              <p>{% blocktrans %}Clicking on the icon <img class="inline" src="{{ STATIC_PREFIX }}img/docs/get_started/edit_icon.png"> the form for <strong>Concert</strong> will be showed again, but this time, we just want to add relationships:{% endblocktrans %}</p>

              <img class="border" src="{{ STATIC_PREFIX }}img/docs/get_started/data_concert_relationships_empty.png" alt="{% trans "Data Concert relationships" %}">

              <p>{% trans "Note that the little arrows show you the direction of the relationship. Also, you can see enclosed by parenthesis the <em>type</em> of the <em>node</em> at the <strong>source</strong> or <strong>target</strong> of the relationship." %}</p>

              <p>{% trans "Adding a <em>target</em> or <em>source</em> to each relationship is really easy. Just start typing the <em>label</em> property of the node (remember you marked the label checkbox in some properties), and you will show a list with results matching the criteria." %}</p>

              <img class="border" src="{{ STATIC_PREFIX }}img/docs/get_started/data_concert_relationships_full.png" alt="{% trans "Data Concert relationships" %}">

              <p>{% trans "We don't need to fill in the relationship <strong>was recorded in</strong>, so we will remove it clicking on" %} <img class="inline" src="{{ STATIC_PREFIX }}img/docs/get_started/trash_icon.png"></p>

              <p>{% trans "Finally, we finish clicking on <strong>Save Concert</strong>. We can repeat the same process with the rest of nodes and relationships." %}</p>

              <h3>
                {% trans "Adding multimedia" %}
                <a class="headerlink" id="adding-multimedia" href="#adding-multimedia" title="{% trans "Permalink to this headline" %}">¶</a>
              </h3>

              <p>{% trans "In the previous form you can also add <strong>links</strong> and <strong>files</strong> to your node:" %}</p>

              <img class="border" src="{{ STATIC_PREFIX }}img/docs/get_started/data_multimedia.png" alt="{% trans "Data multimedia" %}">
            </div>
          </div>

          <div class="section">
            <h2>
              {% trans "Visualizing the graph" %}
              <a class="headerlink" id="visualizing-the-graph" href="#visualizing-the-graph" title="{% trans "Permalink to this headline" %}">¶</a>
            </h2>
            <div class="inner-section">
              <h3>
                {% trans "Graph visualization" %}
                <a class="headerlink" id="graph-visualization" href="#graph-visualization" title="{% trans "Permalink to this headline" %}">¶</a>
              </h3>

              <p>{% trans "Clicking on <strong>Graph</strong> from the top menu, you will visualize the graph. You can choose two kind of views from the select box: <strong>inspect graph</strong> and <strong>whole graph</strong>." %}</p>

              <p>{% trans "With <strong>inspect graph</strong> view, you can get a more detailed view of your graph. This view is useful for small graphs:" %}</p>

              <img class="border" src="{{ STATIC_PREFIX }}img/docs/get_started/visualization_inspect_graph.png" alt="{% trans "Visualization inspect graph" %}">

              <p>{% trans "The <strong>whole graph</strong> view is the best option when you want to visualize big graphs (graphs with more than 50 nodes). It also provides some useful tools to improve the analysis and visualization of your graph:" %}</p>

              <img class="border" src="{{ STATIC_PREFIX }}img/docs/get_started/visualization_whole_graph.png" alt="{% trans "Visualization whole graph" %}">
            </div>
          </div>

          <div class="section">
            <h2>
              {% trans "Interacting with graphs" %}
              <a class="headerlink" id="interacting-graphs" href="#interacting-with-graphs" title="{% trans "Permalink to this headline" %}">¶</a>
            </h2>

            <p>{% blocktrans %}Like we have seen, with SylvaDB is a powerful tool for representing data in graphs. But the real power comes from the <strong>interaction</strong> with that <strong>data</strong>. The SylvaDB user has many tools for that purpose, including graph <em>analytics</em> and the <em>query builder</em>.{% endblocktrans %}</p>

            <div class="inner-section">
              <h3>
                {% trans "Analytics" %}
                <a class="headerlink" id="analytics" href="#analytics" title="{% trans "Permalink to this headline" %}">¶</a>
              </h3>

              <p>{% blocktrans %}SylvaDB's analytics give users the ability to get information or patterns that are not clear in a simple way. Using the <a href="http://graphlab.com/products/create/overview.html"><abbr>graphlab</abbr></a> algorithms, we can obtain very useful results for every type of user and project.{% endblocktrans %}</p>

              <p>{% blocktrans %}Let's see how to use the analytics. When we are in the <strong>visualization</strong> graph view, we have the option to analyze our graph clicking on the <em>Analyze</em> button.{% endblocktrans %}</p>

              <p>{% blocktrans %}Once clicked, we access to the <em>fullscreen</em> view. In this view we have the tools to interact with the whole graph. In this section, we will to focus in the <em>Analytics</em>.{% endblocktrans %}</p>

              <p>{% blocktrans %} In the analytics section we have the differents algorithms that we can execute over our entire graph or a subgraph. The currently available algorithms are <a href="http://en.wikipedia.org/wiki/Connected_component_(graph_theory)"><abbr title="Connected components">connected components</abbr></a>, <a href="#"><abbr title="Triangle counting">triangle counting</abbr></a>, <a href="http://en.wikipedia.org/wiki/Graph_coloring"><abbr title="Graph coloring">graph coloring</abbr></a>, <a href="http://en.wikipedia.org/wiki/Betweenness_centrality"><abbr title="Betweenness centrality">betweeness centrality</abbr></a>, <a href="http://es.wikipedia.org/wiki/PageRank"><abbr title="Pagerank">pagerank</abbr></a> and <a href="http://en.wikipedia.org/wiki/Degeneracy_(graph_theory)"><abbr title="Degeneracy (k-core)">Degeneracy (k-core).</abbr></a>{% endblocktrans %}</p>

              <p>{% blocktrans %}When we click on an algorithm, we have different options:
                <ul>
                  <li>A play button that runs the algorithm using the entire graph.</li>
                  <li>A checkbox, "On selected nodes", to run the algorithm over a subgraph from the entire whole graph.</li>
                  <li>A select field that allows you to access the result history of the specified algorithm.</li>
                </ul>
              {% endblocktrans %}</p>

              <p>{% blocktrans %}Once an algorithm is executed, we obtain a chart representing the values it returns along with the number of nodes corresponding to that value. We can interact with this chart to find nodes with a specific value in the graph visualization.{% endblocktrans %}</p>
            </div>
            <div class="inner-section">
              <h3>
                {% trans "Query builder" %}
                <a class="headerlink" id="query-builder" href="#query-builder" title="{% trans "Permalink to this headline" %}">¶</a>
              </h3>

              <p>{% blocktrans %}The query builder is a feature that provide us with an easy and intuitive way to create <em>queries</em>. Using the query builder, every SylvaDB user can extract information from their graph in a very simple way.{% endblocktrans %}</p>

              <p>{% blocktrans %}To create a query, we will follow these steps:
              <ul>
                <li>The first step is to select a node type, according to the list of available types obtained from the graph. Also, there is a special type called <em>Wildcard</em>.</li>
                <li>Once we click on a node type, we will see the type box on the grid. The node type box is the basic element of the query builder. It allows us to modify the fields of the type to create the desired query. We can divide the node type box in three parts:</li>
                  <ul>
                    <li>The first part is the <em>title</em>. Here we see the name of the type and the buttons to close the box, minimize/maximize the box, and show the box's advanced mode. Also, if we had more than one box of the same type, we could see a select field to choose an <em>alias</em> for the box.</li>
                    <li>The next part is the fields. The fields are the conditions that we have to take into account when we execute our query. So, it is in these fields that we select the properties, their lookups, their values, etc.</li>
                    <li>The last part is the relationships available for that type. We will see a select with these relationships, and when we click on an option we will see one of two different behaviours:</li>
                      <ul>
                        <li>If we have the two node types boxes involved, we have to drag and drop the relationship from the source box to the target box. We can see the <em>hover</em> behaviour in the destiny zone to drop the relationship.</li>
                        <li>If we dont have the target box in the grid, when we select the desired relationship the target box is loaded automatically.</li>
                      </ul>
                    In the relationships, we have the same behaviour as the node types boxes for the fields and the selects for the alias.
                  </ul>
                  <li>The last step is to run the query. We can see the results table by clicking in the results tab.</li>
              </ul>
              {% endblocktrans %}</p>

            </div>
          </div>

          <div class="section">
            <h2>
              {% trans "Exporting graphs" %}
              <a class="headerlink" id="exporting-graphs" href="#exporting-graphs" title="{% trans "Permalink to this headline" %}">¶</a>
            </h2>

            <p>{% blocktrans %}You can back up your graphs using the <em>Export tools</em>. In order to export a graph, you need to save the <strong>graph schema</strong> and the <strong>graph data</strong> (nodes and relationships). You have two ways of saving your graph data: using <a href="http://gexf.net/format/"><abbr title="Graph Exchange XML Format">GEXF (Gephi)</abbr></a> or using <a href="http://en.wikipedia.org/wiki/Comma-separated_values"><abbr title="Comma-separated values">CSV</abbr></a> as file formats. Unfortunately, you can't save your attachments nor links at the moment.{% endblocktrans %}</p>
            <p>{% blocktrans %}You can back up your graphs using the <em>Export tools</em>. In order to export a graph, you need to save the <strong>graph schema</strong> and the <strong>graph data</strong> (nodes and relationships). You have two ways of saving your graph data: using <a href="http://gexf.net/format/"><abbr title="Graph Exchange XML Format">GEXF (Gephi)</abbr></a> or using <a href="http://en.wikipedia.org/wiki/Comma-separated_values"><abbr title="Comma-separated values">CSV</abbr></a> as file formats. Unfortunately, you can't save your attachments nor links at the moment.{% endblocktrans %}</p>

            <img class="border" src="{{ STATIC_PREFIX }}img/docs/get_started/export_tools.png" alt="{% trans "Export tools" %}">

            <div class="inner-section">
              <h3>
                {% trans "Exporting the schema" %}
                <a class="headerlink" id="exporting-schema" href="#exporting-schema" title="{% trans "Permalink to this headline" %}">¶</a>
              </h3>

              <p>{% blocktrans %}You can save your graph schema using the <em>Export schema</em> tool. This tool will save your graph schema as a <a href="http://en.wikipedia.org/wiki/JSON"><abbr title="JavaScript Object Notation">JSON</abbr></a> file.{% endblocktrans %}</p>

              <h3>
                {% trans "Exporting data as GEXF (Gephi)" %}
                <a class="headerlink" id="exporting-gexf" href="#exporting-gexf" title="{% trans "Permalink to this headline" %}">¶</a>
              </h3>

              <p>{% blocktrans %}This is the preferred way of saving your graph data in SylvaDB. This tool will save your nodes and relationships as a <a href="http://gexf.net/format/"><abbr title="Graph Exchange XML Format">GEXF (Gephi)</abbr></a> file.{% endblocktrans %}</p>

              <h3>
                {% trans "Exporting data as CSV" %}
                <a class="headerlink" id="exporting-csv" href="#exporting-csv" title="{% trans "Permalink to this headline" %}">¶</a>
              </h3>

              <p>{% blocktrans %}You can also save your graph data as <a href="http://en.wikipedia.org/wiki/Comma-separated_values"><abbr title="Comma-separated values">CSV</abbr></a> files. This tool will save your nodes and relationships in separate CSV files (one file for each node <em>type</em> and relationship <em>type</em>).{% endblocktrans %}</p>
            </div>
          </div>

          <div class="section">
            <h2>
              {% trans "Importing graphs" %}
              <a class="headerlink" id="importing-graphs" href="#importing-graphs" title="{% trans "Permalink to this headline" %}">¶</a>
            </h2>

            <p>{% blocktrans %}You can import graphs in SylvaDB using the <em>Import tools</em>. You have to import the <strong>graph schema</strong> and optionally the <strong>graph data</strong>. If you want to import data, you can use two file formats: <a href="http://gexf.net/format/"><abbr title="Graph Exchange XML Format">GEXF (Gephi)</abbr></a> and <a href="http://en.wikipedia.org/wiki/Comma-separated_values"><abbr title="Comma-separated values">CSV</abbr></a>. Note that you need an empty graph in order to import the schema and data.{% endblocktrans %}</p>

            <div class="inner-section">
              <h3>
                {% trans "Importing the schema" %}
                <a class="headerlink" id="importing-schema" href="#importing-schema" title="{% trans "Permalink to this headline" %}">¶</a>
              </h3>

              <p>{% blocktrans %}After creating a new graph, open the <em>Tools</em> menu and click <em>Import schema</em>. Then select the <a href="http://en.wikipedia.org/wiki/JSON"><abbr title="JavaScript Object Notation">JSON</abbr></a> file that holds your graph schema.{% endblocktrans %}</p>

              <img class="border" src="{{ STATIC_PREFIX }}img/docs/get_started/import_tools_schema.png" alt="{% trans "Import schema" %}">

              <h3>
                {% trans "Importing from GEXF (Gephi)" %}
                <a class="headerlink" id="importing-gexf" href="#importing-gexf" title="{% trans "Permalink to this headline" %}">¶</a>
              </h3>

              <p>{% blocktrans %}This is the preferred way of loading nodes and relationships into your graphs. Just move to the <em>Tools</em> menu and click <em>Import data</em>. Then select <em>Load GEXF</em>. Finally, you only have to drag the GEXF file into the box.{% endblocktrans %}</p>

              <img class="border" src="{{ STATIC_PREFIX }}img/docs/get_started/import_tools_gexf.png" alt="{% trans "Import gexf" %}">

              <h3>
                {% trans "Importing from CSV" %}
                <a class="headerlink" id="importing-csv" href="#importing-csv" title="{% trans "Permalink to this headline" %}">¶</a>
              </h3>

              <p>{% blocktrans %}You can also load nodes and relationships from <a href="http://en.wikipedia.org/wiki/Comma-separated_values"><abbr title="Comma-separated values">CSV</abbr></a> files. Move to the <em>Tools</em> menu and click <em>Import data</em>. Then select <em>Load CSV</em>. Finally, select all your nodes (CSV files) and drag them into the box. Wait for instructions and repeat the same operation with your relationships. Remember that you need one CSV file for each node <em>type</em> and relationship <em>type</em>.{% endblocktrans %}</p>

              <img class="border" src="{{ STATIC_PREFIX }}img/docs/get_started/import_tool_csv_files.png" alt="{% trans "CSV files" %}">

              <h3>
                {% trans "Editing CSV files" %}
                <a class="headerlink" id="csv-spreadsheet" href="#csv-spreadsheet" title="{% trans "Permalink to this headline" %}">¶</a>
              </h3>

              <p>{% blocktrans %}A <a href="http://en.wikipedia.org/wiki/Comma-separated_values"><abbr title="Comma-separated values">CSV</abbr></a> file contains any number of <strong>rows</strong>, where each row consists of <strong>fields</strong> separated by <strong>commas</strong> and enclosed by <strong>double quotes</strong> (this is mandatory in SylvaDB). A field can contains line breaks, commas and escaped double quotes (represented as a pair of double quotes). The first row of a CSV is the <strong>header</strong> of the CSV and contains a list of field names. The other rows are data, and in SylvaDB they represent <strong>nodes</strong> or <strong>relationships</strong>, depending of the CSV file.{% endblocktrans %}</p>

              <p>{% blocktrans %}This is an example of CSV for the node <em>type</em> <strong>Artist</strong>:{% endblocktrans %}</p>

              <pre>
                <strong>"id", "type", "Active", "Name", "Size"</strong>
                "1", "Artist", "False", "Led Zeppelin", "4"
              </pre>

              <p>{% blocktrans %}This is an example of CSV for the node <em>type</em> <strong>Album</strong>:{% endblocktrans %}</p>

              <pre>
                <strong>"id", "type", "Duration", "Name", "Number of tracks", "Release date"</strong>
                "2", "Album", "40:58", "Houses of the Holy", "8", "1973-3-28"
                "3", "Album", "1:22:15", "Physical Graffiti", "15", "1975-2-24"
              </pre>

              <p>{% blocktrans %}This is an example of CSV for the relationship <em>type</em> <strong>Record</strong>:{% endblocktrans %}</p>

              <pre>
                <strong>"source id", "target id", "label", "Date"</strong>
                "1", "2", "records", "1972-8-1"
                "1", "3", "records", "1973-11-1"
              </pre>

              <p>{% blocktrans %}As you can see in the examples, in the case of nodes, the CSV header must contain the field names (in this order): <strong>id</strong>, <strong>type</strong> and all the property names of the node <em>type</em>. In the case of relationships, the CSV header must contain the field names (in this order): <strong>source id</strong>, <strong>target id</strong>, <strong>label</strong> and all the property names of the relationship <em>type</em>. Note that <strong>source id</strong> and <strong>target id</strong> are the IDs of the <em>source node</em> and <em>target node</em> of the relationship, respectively.{% endblocktrans %}</p>

              <p>{% blocktrans %}Since a <a href="http://en.wikipedia.org/wiki/Comma-separated_values"><abbr title="Comma-separated values">CSV</abbr></a> file is just a <a href="http://en.wikipedia.org/wiki/Plain_text">plain text</a> file, you can open it with any simple text editor (please, avoid Microsoft Word-like programs). Although the most common way for dealing with CSV files is using a spreadsheet software like <a href="http://en.wikipedia.org/wiki/LibreOffice_Calc">LibreOffice Calc</a> or <a href="http://en.wikipedia.org/wiki/Microsoft_Excel">Microsoft Excel</a>. In the next example, we will use LibreOffice Calc.{% endblocktrans %}</p>

              <p>{% blocktrans %}Try opening the example for the node <em>type</em> <strong>Album</strong> with LibreOffice Calc. You will see a window like the following:{% endblocktrans %}</p>

              <img class="border" src="{{ STATIC_PREFIX }}img/docs/get_started/spreadsheet_csv_import.png" alt="{% trans "Importing a CSV in a LibreOffice Calc" %}">

              <p>{% blocktrans %}Note that you must select the same options as shown in the "Separator options" and "Other options" sections from the above window. After clicking "OK", you will get your CSV imported:{% endblocktrans %}</p>

              <img class="border" src="{{ STATIC_PREFIX }}img/docs/get_started/spreadsheet_csv_rows.png" alt="{% trans "CSV imported in LibreOffice Calc" %}">

              <p>{% blocktrans %}Remember that in SylvaDB is mandatory to have every field enclosed by double quotes. This way, all the fields are interpreted as text, even the numbers. Note that fields are enclosed by double quotes only after saving the spreadsheet as a CSV file. So, you will not see the fields enclosed by double quotes while working in the spreadsheet.{% endblocktrans %}</p>

              <p>{% blocktrans %}So, before adding data to the CSV, we must configure this sheet in order to process the numbers as text fields. Select all the rows (go to "Edit" menu and click "Select All"). Then open the "Format Cells" menu (go to "Format menu" and click "Cells..."). Finally, in the "Category" section, select "text":{% endblocktrans %}</p>

              <img class="border" src="{{ STATIC_PREFIX }}img/docs/get_started/spreadsheet_csv_configuration.png" alt="{% trans "Configuring the spreadsheet" %}">

              <p>{% blocktrans %}After clicking "OK", numbers will be processed as text, and enclosed by double quotes when saving the spreadsheet as a CSV file.{% endblocktrans %}</p>

              <p>{% blocktrans %}We are adding a few more albums to this spreadsheet:{% endblocktrans %}</p>

              <img class="border" src="{{ STATIC_PREFIX }}img/docs/get_started/spreadsheet_csv_add_data.png" alt="{% trans "Adding a few albums in the spreadsheet" %}">

              <p>{% blocktrans %}Finally save the spreadsheet as "Text CSV" format.{% endblocktrans %}</p>

              <p>{% blocktrans %}Now, if you open this CSV file with a simple text editor, you will see something like the following:{% endblocktrans %}</p>

              <pre>
                <strong>"id","type","Duration","Name","Number of tracks","Release date"</strong>
                "2","Album","40:58","Houses of the Holy","8","1973-3-28"
                "3","Album","1:22:15","Physical Graffiti","15","1975-2-24"
                "4","Album","44:25","Presence","7","1976-4-31"
                "5","Album","33:04","Coda","12","1982-11-19"
              </pre>

              <p>{% blocktrans %}You can see that all the fields have been enclosed by double quotes, even the ID numbers. Also, if you have some embedded double quote literal inside any field, LibreOffice Calc will escape it using a pair of double quotes, so you don't have to handle this by hand.{% endblocktrans %}</p>

              <p>{% blocktrans %}If you plan to add some data to a blank graph using CSV files, you can get a set of <em>CSV templates</em> using the <em>Export CSV templates</em> tool. Note that this tool is only available in graphs with no data (just the schema):{% endblocktrans %}</p>

              <img class="border" src="{{ STATIC_PREFIX }}img/docs/get_started/export_csv_templates.png" alt="{% trans "Exporting CSV templates" %}">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block extra_scripts %}
  {% compress js %}
    <script src="{{ STATIC_PREFIX }}bootstrap/js/bootstrap-custom.js"></script>
    <script src="{{ STATIC_PREFIX }}js/get_started.js"></script>
  {% endcompress %}
{% endblock extra_scripts %}
