{% load converter_filters compress %}


<script type="text/javascript">
  sylva.urls = {
    nodesView: "{% url "nodes_view" graph.slug 0 %}",
    nodesEdit: "{% url "nodes_edit" graph.slug 0 %}",
    viewGraphAjax: "{{ view_graph_ajax_url }}",
    editNodetypeColorAjax: "{{ edit_nodetype_color_ajax_url }}",
    editReltypeColorAjax: "{{ edit_reltype_color_ajax_url }}",
    graphAnalyticsBoxesEditPosition: "{{ graph_analytics_boxes_edit_position_url }}",
    runQuery: "{{ run_query_url }}"
  };

  {% if analytics %}
    sylva.jsValues = {
      isGraphEmpty: JSON.parse('{{ is_graph_empty|escape_js }}'),
      isSchemaEmpty: JSON.parse('{{ is_schema_empty|escape_js }}')
    };
  {% else %}
    sylva.jsValues = {
      isGraphEmpty: false,
      isSchemaEmpty: false
    };
  {% endif %}
</script>

{% compress js %}
  <script type="text/javascript" src="{{ STATIC_PREFIX }}graphs/js/sigma/sigma.js"></script>
  <script type="text/javascript" src="{{ STATIC_PREFIX }}graphs/js/sigma/plugins/sigma.layout.forceAtlas2.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_PREFIX }}graphs/js/sigma/plugins/sigma.parsers.gexf.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_PREFIX }}graphs/js/sigma/plugins/sigma.parsers.json.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_PREFIX }}graphs/js/sigma/plugins/sigma.plugins.animate.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_PREFIX }}graphs/js/sigma/plugins/sigma.plugins.dragNodes.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_PREFIX }}graphs/js/sigma/plugins/sigma.plugins.neighborhoods.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_PREFIX }}graphs/js/sigma/plugins/sigma.renderers.customShapes.min.js"></script>

  <script type="text/javascript" src="{{ STATIC_PREFIX }}js/jquery-ui-1.10.4.js"></script>
  <script type="text/javascript" src="{{ STATIC_PREFIX }}graphs/js/jquery/jquery.simulate.js"></script>

  <script type="text/javascript" src="{{ STATIC_PREFIX }}js/jquery.simplemodal-1.4.4.js"></script>

  <script type="text/javascript" src="{{ STATIC_PREFIX }}graphs/js/colpick/colpick.js"></script>
  <script type="text/javascript" src="{{ STATIC_PREFIX }}graphs/js/colpick/rgbcolor.js"></script>
  <script type="text/javascript" src="{{ STATIC_PREFIX }}graphs/js/jquery/jquery.xcolor.js"></script>

  <script type="text/javascript" src="{{ STATIC_PREFIX }}graphs/js/paper/paper-core.min.js"></script>

  <script type="text/javascript" src="{{ STATIC_PREFIX }}graphs/js/visualizations.js"></script>
  <script type="text/javascript" src="{{ STATIC_PREFIX }}graphs/js/sigma-visualization.js"></script>
  <script type="text/javascript" src="{{ STATIC_PREFIX }}graphs/js/modals.js"></script>

  <script type="text/javascript" src="{{ STATIC_PREFIX }}js/jqueryui.timepicker.js"></script>
  <script type="text/javascript" src="{{ STATIC_PREFIX }}js/jquery.formsets.1.2.min.js"></script>
{% endcompress %}
{% compress js %}
  <script type="text/javascript" src="{{ STATIC_PREFIX }}js/jquery.tokeninput.js"></script>
  <script type="text/javascript" src="{{ STATIC_PREFIX }}js/datatypes.js"></script>
{% endcompress %}
{% compress css %}
  <link type="text/css" rel="stylesheet" href="{{ STATIC_PREFIX }}css/jqueryui.1.8.18.css" />
  <link type="text/css" rel="stylesheet" href="{{ STATIC_PREFIX }}graphs/css/colpick/colpick.css" />
  <link type="text/css" rel="stylesheet" href="{{ STATIC_PREFIX }}graphs/css/colpick/colpick.mod.css" />
{% endcompress %}

{% if OPTIONS.ENABLE_ANALYTICS %}
  <!-- Begin code for the analytics side -->
  <script type="text/javascript">
    sylva.urls.analyticsStatus = "{% url 'analytics_status' graph.slug %}";
    sylva.urls.analyticsEstimate = "{% url 'analytics_estimate' graph.slug %}";
    sylva.urls.analyticsRun = "{% url 'analytics_run' graph.slug %}";
    sylva.urls.analyticsAnalytic = "{% url 'analytics_analytic' graph.slug %}";
    sylva.urls.analtyicsDump = "{% url 'analytics_dump' graph.slug %}";
    sylva.urls.analyticsStop = "{% url 'analytics_stop' graph.slug %}";
  </script>

  {% compress js %}
    <script type="text/javascript" src="{{ STATIC_PREFIX }}graphs/js/highcharts/highcharts.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}graphs/js/highcharts/exporting.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}js/moment.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}graphs/js/analytics.js"></script>
  {% endcompress %}
  <!-- End code for the analytics side -->
{% endif %}
