{% extends "base.html" %}
{% load i18n %}

{% block title %}
{{ graph.name }}
{% endblock %}

{% block menu_buttons %}
<li><a href="{% url graph_view graph.slug %}" class="text"><span>{% trans "Graph" %}</span></a></li>
<li><a href="{% url nodes_list graph.slug %}" class="link"><span>{% trans "Nodes" %}</span></a></li>
<li><a href="{% url relationships_list graph.slug %}" class="link"><span>{% trans "Relationships" %}</span></a></li>
<li><a href="{% url schema_edit graph.slug %}" class="link"><span>{% trans "Schema" %}</span></a></li>
<li><a href="{% url graph_collaborators graph.slug %}" class="link"><span>{% trans "Collaborators" %}</span></a></li>
{% endblock %}

{% block content_title %}
<h2>{% trans "Graphs" %} » {{ graph.name|truncatewords_html:8 }}  » {% trans "Edit" %}</h2>
{% endblock %}

{% block navigation_buttons %}
{{ block.super }}
{% endblock %}

{% block content %}
<form method="post" action="." id="graphsCreate" name="graphs_create">
{% csrf_token %}
{{ form.as_p }}
<input type="submit" name="addGraph" value="{% trans "Save" %}" id="createGraph" />
<span class="buttonLinkOption">{% trans "or" %} <a href="{% url graph_view graph.slug %}">{% trans "Cancel" %}</a>.</span>
</form>

{% endblock %}
