{% load thumbnail %}
{% load i18n %}
{% load graph_filters %}
<div id="canvas-container">
  <div id="graph-node-types">
  </div>
  <div id="graph-rel-types" class="analytics-mode" style="display: none;">
  </div>
  <div id="graph-node-info">
    <div class="sigma-control left" style="display: none;">
      <input type="checkbox" id="sigma-node-info">
      <label for="sigma-node-info" title="{% trans "Show node info" %}">{% trans "Node info" %}</label>
    </div>
  </div>
  <div id="graph-controls-and-info">
    <div id="graph-controls">

              <div class="sigma-control analytics-mode" style="display: none; float: left; margin-right: 10px">
                <a id="sigma-filter-rectangle" class="button" style="font-size: 100%;" title="{% trans "Rect" %}">{% trans "Rect" %}</a>
              </div>
              <div class="sigma-control analytics-mode" style="display: none; float: left; margin-right: 10px; margin-left: 2px">
                <a id="sigma-filter-free-hand" class="button" style="font-size: 100%;" title="{% trans "Free hand" %}">{% trans "F. hand" %}</a>
              </div>
              <div class="sigma-control analytics-mode" style="display: none; float: left; margin-right: 10px; margin-left: 2px">
                <a id="sigma-filter-neighbors" class="button" style="font-size: 100%;" title="{% trans "Neighbors" %}">{% trans "Neighbors" %}</a>
              </div>
              <div class="sigma-control analytics-mode" style="display: none; float: left; margin-right: 10px; margin-left: 2px">
                <a id="sigma-filter-click" class="button" style="font-size: 100%;" title="{% trans "Click" %}">{% trans "Click" %}</a>
              </div>

      <div class="sigma-control right" style="display: none;">
        <a id="sigma-zoom-in" class="button icon-plus control-button zoom-left" title="{% trans "Zoom in" %}"></a>
        <a id="sigma-zoom-home" class="button icon-home control-button zoom-home" title="{% trans "Re-center graph" %}"></a>
        <a id="sigma-zoom-out" class="button icon-minus control-button zoom-right" title="{% trans "Zoom out" %}"></a>
      </div>
      <div class="sigma-control left analytics-mode" style="display: none;">
        <a id="sigma-export-image" class="button" style="font-size: 100%;" title="{% trans "Save as a PNG image" %}" download="{{ graph.slug }}.png">{% trans "Save as image" %}</a>
      </div>
      {% if analytics %}
        <div class="sigma-control right" style="display: none;">
          {% if options.ENABLE_ANALYTICS %}
          <a id="sigma-go-analytics" class="button" style="font-size:100%;" title="{% trans "Analytics" %}">{% trans "Analytics" %}</a>
          {% else %}
          <a id="sigma-go-analytics" class="button" style="font-size:100%;" title="{% trans "Explore" %}">{% trans "Explore" %}</a>
          {% endif %}
        </div>
      {% endif %}
    </div>
    <div id="node-info">
    </div>
  </div>
  <div id="graph-layout" class="analytics-mode" style="display: none;">
    <h2 class="collapsible-header">{% trans "Layout" %}</h2>
    <div>
      <div>
        <select id="sigma-graph-layout">
          <option id="force-atlas-2" disabled="disabled" selected="selected">{% trans "Force Atlas 2" %}</option>
          <option id="grid">{% trans "Grid" %}</option>
          <option id="circular">{% trans "Circular" %}</option>
        </select>
        <div class="sigma-control">
          <a id="sigma-pause" class="button control-button pause-button" style="font-size: 100%;" title="{% trans "Play / puase layout algorithm" %}"></a>
        </div>
        <div class="sigma-control">
          <input type="checkbox" id="sigma-hidden-layout" checked="checked">
          <label for="sigma-hidden-layout" title="{% trans "Ignore the hidden nodes for apply the layout" %}">{% trans "Ignore hidden nodes" %}</label>
        </div>
      </div>
      <div class="graph-layout-option" style="display: none;">
        <label class="label-node-order" style="margin-right: 50px; font-weight: normal;">{% trans "Node order:" %}</label>
        <select id="sigma-graph-layout-degree-order">
          <option id="nt" disabled="disabled" selected="selected">{% trans "Node type" %}</option>
          <option id="td">{% trans "Total degree" %}</option>
          <option id="id">{% trans "In degree" %}</option>
          <option id="od">{% trans "Out degree" %}</option>
        </select>
        <select id="sigma-graph-layout-order">
          <option id="d" disabled="disabled" selected="selected">{% trans "Desc" %}</option>
          <option id="a">{% trans "Asc" %}</option>
        </select>
      </div>
      <div class="graph-layout-option">
        <label class="label-node-size">{% trans "Node size:" %}</label>
        <select id="sigma-node-size">
          <option id="same" disabled="disabled" selected="selected">{% trans "Same for all" %}</option>
          <option id="total-degree">{% trans "Total degree" %}</option>
          <option id="in-degree">{% trans "In degree" %}</option>
          <option id="out-degree">{% trans "Out degree" %}</option>
        </select>
      </div>
      <div>
        <label style="font-weight: normal;">{% trans "Relationship shape:" %}</label>
        <select id="sigma-edge-shape">
          <option id="straight" disabled="disabled" selected="selected">{% trans "Straight" %}</option>
          <option id="arrow">{% trans "Arrow" %}</option>
          <option id="curve">{% trans "Curve" %}</option>\
          <option id="curved-arrow">{% trans "Curved arrow" %}</option>
        </select>
      </div>
    </div>
  </div>
  <div id="sigma-wrapper">
    <div id="sigma-container"></div>
  </div>
  <div id="canvas-box">
    <div id="spinner"></div>
    <canvas id="graph-support">{% trans "Your browser does not support graph visualization" %}</canvas>
  </div>
</div>
<div id="analytics" class="analytics-mode" style="display: none;">
  {% if options.ENABLE_ANALYTICS %}
  <h2 style="margin-top: 5px; margin-left: 10px;">{% trans "Analytics" %}</h2>
  <div id="analytics-algorithms">
    {% for key, value in algorithms.items %}
      <div id="{{ key }}" class="analytics-measure">
        <h2>{{ value }}</h2>
        <div id="analytics-menu">
          <div id="play-button">
            <a id="play-algorithm" class="play-algorithm button icon-play" data-measure='{{ key }}' data-plot="{{ key }}-results" data-eta="{{ key }}-eta" title="Play algorithm"></a>
            <h2 id="{{ key }}-eta"></h2>
            <!--<label class="label-analytics"><input type='checkbox' />{% trans "Feedback results back to the nodes" %}</label>-->
            <progress id="progress-bar-{{ key }}" class="progress-bar"></progress>
            {% if graph|list_analytics:key %}
            <!-- This select is for the regular behaviour when we have analytics stored -->
            <select id="last-analytics-{{ key }}" class="last-analytics">
              {% for analytic in graph|list_analytics:key %}
                  <option value="{{ analytic.id }}">{{ analytic|get_iso_format }}</option>
              {% endfor %}
            </select>
            {% else %}
            <!-- This select if for the first case, when we dont have analytics stored and we need to append the algorithm executed -->
            <select id="last-analytics-{{ key }}" class="last-analytics" style="display: none">
            </select>
            {% endif %}
            <div id="{{ key }}-results" class="ui-resizable"></div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  {% endif %}
</div>

  <!-- Start of DOM elements working as memory system and debugging -->
<div id="sec-debug" style="display:none;">
  <div id="sec-node-list">
    <ul id="node-list"></ul>
  </div>
  <div id="sec-edge-list">
    <ol id="edge-list"></ol>
  </div>

  <h3>Graph Nodes Debug</h3>
  <textarea id="id_graph_nodes" rows="10" cols="80" name="graph_nodes">{}</textarea>
  <h3>Graph Edges Debug</h3>
  <textarea id="id_graph_edges" rows="10" cols="80" name="graph_edges">[]</textarea>
  <h3>Graph Schema Debug</h3>
  <textarea id="id_graph_schema" rows="10" cols="80" name="graph_schema">{}</textarea>
</div>
<!-- End of DOM elements working as memory system and debugging -->

<br/>
<div>
  <div class="not-available">
  </div>
</div>
