<script type="text/javascript">
  sylva.nodeViewURL = "{% url "nodes_view" graph.slug 0 %}";
  sylva.nodeEditURL = "{% url "nodes_edit" graph.slug 0 %}";
  {% if analytics %}
      sylva.is_graph_empty = {{ is_graph_empty|slugify }};
      sylva.is_schema_empty = {{ is_schema_empty|slugify }};
  {% else %}
    sylva.is_graph_empty = false;
    sylva.is_schema_empty = false;
  {% endif %}
  sylva.view_graph_ajax_url = "{{ view_graph_ajax_url }}";
  sylva.edit_nodetype_color_ajax_url = "{{ edit_nodetype_color_ajax_url }}";
  sylva.edit_reltype_color_ajax_url = "{{ edit_reltype_color_ajax_url }}";
  sylva.graph_analytics_boxes_edit_position = "{{ graph_analytics_boxes_edit_position }}";
</script>
<script type="text/javascript" src="{{ STATIC_PREFIX }}graphs/js/sigma/sigma.js"></script>
<script type="text/javascript" src="{{ STATIC_PREFIX }}graphs/js/sigma/plugins/sigma.layout.forceAtlas2.min.js"></script>
<script type="text/javascript" src="{{ STATIC_PREFIX }}graphs/js/sigma/plugins/sigma.parsers.gexf.min.js"></script>
<script type="text/javascript" src="{{ STATIC_PREFIX }}graphs/js/sigma/plugins/sigma.parsers.json.min.js"></script>
<script type="text/javascript" src="{{ STATIC_PREFIX }}graphs/js/sigma/plugins/sigma.plugins.animate.min.js"></script>
<script type="text/javascript" src="{{ STATIC_PREFIX }}graphs/js/sigma/plugins/sigma.plugins.dragNodes.min.js"></script>
<script type="text/javascript" src="{{ STATIC_PREFIX }}graphs/js/sigma/plugins/sigma.plugins.neighborhoods.min.js"></script>
<script type="text/javascript" src="{{ STATIC_PREFIX }}graphs/js/sigma/plugins/sigma.renderers.customShapes.min.js"></script>

<script type="text/javascript" src="{{ STATIC_PREFIX }}graphs/js/colpick/colpick.js"></script>
<script type="text/javascript" src="{{ STATIC_PREFIX }}graphs/js/colpick/rgbcolor.js"></script>
<script type="text/javascript" src="{{ STATIC_PREFIX }}graphs/js/colpick/jquery.xcolor.js"></script>

<script type="text/javascript" src="{{ STATIC_PREFIX }}graphs/js/visualizations.js"></script>
<script type="text/javascript" src="{{ STATIC_PREFIX }}graphs/js/sigma-visualization.js"></script>

<script type="text/javascript" src="{{ STATIC_PREFIX }}graphs/js/jquery-ui-1.10.4.min.js"></script>
<script type="text/javascript" src="{{ STATIC_PREFIX }}graphs/js/jquery.simulate.js"></script>

<script type="text/javascript" src="{{ STATIC_PREFIX }}graphs/js/paper-core.min.js"></script>

<link type="text/css" rel="stylesheet" href="{{ STATIC_PREFIX }}graphs/css/colpick/colpick.css" />
<link type="text/css" rel="stylesheet" href="{{ STATIC_PREFIX }}graphs/css/colpick/colpick.mod.css" />
<link type="text/css" rel="stylesheet" href="{{ STATIC_PREFIX }}graphs/css/jquery-ui-1.10.4.min.css" />

<!-- Begin code for the analytics side -->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.66.0-2013.10.09/jquery.blockUI.min.js"></script>
<script src="//code.highcharts.com/highcharts.js"></script>
<script src="//code.highcharts.com/modules/exporting.js"></script>
<script type="text/javascript">

// Variable to store the ids to plot the results of the analytics
var analyticsId = {};

jQuery(document).ready(function() {
      /**
      * AJAX Setup for CSRF Django token
      */
    $.ajaxSetup({
         beforeSend: function(xhr, settings) {
             function getCookie(name) {
                 var cookieValue = null;
                 if (document.cookie && document.cookie != '') {
                     var cookies = document.cookie.split(';');
                     for (var i = 0; i < cookies.length; i++) {
                         var cookie = jQuery.trim(cookies[i]);
                         // Does this cookie string begin with the name we want?
                     if (cookie.substring(0, name.length + 1) == (name + '=')) {
                         cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                         break;
                     }
                 }
             }
             return cookieValue;
             }
             if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                 // Only send the token to relative URLs i.e. locally.
                 xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
             }
         }
    });
    // get results of the analytic
    var getResults = function(results_url, algorithm) {
      $.ajax({
          type: "GET",
          dataType: 'json',
          url: results_url,
          success: function (data) {
            var parentArray = new Array();
            for(var i in data) {
              var childArray = new Array();
              childArray.push(parseFloat(i));
              childArray.push(data[i]);
              parentArray.push(childArray);
            }
            var options = {
                chart: {
                    renderTo: analyticsId[algorithm],
                    type: 'scatter'
                },
                title: {
                    text: algorithm
                },
                xAxis: {
                    title: {
                        text: 'Algorithm value'
                    }
                },
                yAxis: {
                    title: {
                        text: 'Units'
                    }
                },
                plotOptions: {
                    scatter: {
                        marker: {
                            radius: 5,
                            states: {
                                hover: {
                                    enabled: true,
                                    lineColor: 'rgb(100,100,100)'
                                }
                            }
                        },
                        states: {
                            hover: {
                                marker: {
                                    enabled: false
                                }
                            }
                        },
                        tooltip: {
                            headerFormat: '<b>{series.name}</b><br>',
                            pointFormat: '{point.y} with {point.x} ' + algorithm + ''
                        }
                    }
                },
                series: [{
                  name: algorithm,
                  color: 'rgba(223, 83, 83, .5)',
                  data: parentArray
                }]
            };

            // Create the chart
            var chart = new Highcharts.Chart(options);
          },
          error: function () {
              alert("Error");
          }
      });
    }

    // pole state of the current task
    var TaskState = function(task_id, algorithm) {
      $.ajax({
        type: "POST",
        url: "/analytics/{{ graph.slug }}/task_state/",
        data: {"task_id": task_id,
               "algorithm": algorithm}
      }).done(function(task){
        if(!task) {
            window.setTimeout(function() {
              TaskState(task_id, algorithm);
            }, 1000);
        } else {
          $.unblockUI();
          getResults(task, algorithm);
        }
        // create the infinite loop of Ajax calls to check the state
        // of the current task
      });
    }

    $('.play-algorithm').on('click', function() {
        var $this = $(this);
        var measure = $this.data('measure');
        var plotId = $this.data('plot');
        var etaId = $this.data('eta');

        analyticsId[measure] = plotId;

        jQuery.ajax({
            type: "POST",
            url: "/analytics/{{ graph.slug }}/" + measure + "/"
        }).done(function(data){
            var task_id = data[0];
            var algorithm = data[1];
            TaskState(task_id, algorithm);
            $.blockUI({
              message: '<span>Calculating measure</span>',
              centerY: 0,
              css: {
                  border: 'none',
                  padding: '15px',
                  backgroundColor: '#000',
                  '-webkit-border-radius': '10px',
                  '-moz-border-radius': '10px',
                  opacity: .5,
                  color: '#fff',
                  top: '2%',
                  left: '',
                  right: '35%'
              },
              overlayCSS: {
                  opacity: 0.0
              },
              onOverlayClick: $.unblockUI
            });
        });
        jQuery.ajax({
            type: "POST",
            url: "/analytics/{{ graph.slug }}/get_eta_" + measure + "/"
        }).done(function(data){
            var algorithm = data[0];
            var eta_time = data[1];
            $('#' + etaId).html("Estimated time " + eta_time);
        });
    });

    $('#connected_components').accordion({
      collapsible: true,
      active: false,
      heightStyle: 'content'
    });

    $('#graph_coloring').accordion({
      collapsible: true,
      active: false,
      heightStyle: 'content'
    });

    $('#kcore').accordion({
      collapsible: true,
      active: false,
      heightStyle: 'content'
    });

    $('#pagerank').accordion({
      collapsible: true,
      active: false,
      heightStyle: 'content'
    });

    $('#triangle_counting').accordion({
      collapsible: true,
      active: false,
      heightStyle: 'content'
    });

    $('#betweenness_centrality').accordion({
      collapsible: true,
      active: false,
      heightStyle: 'content'
    });
});
</script>
<!-- End code for the analytics side -->

