{% extends "base.html" %}
{% load i18n graphs %}

{% block title %}
{% trans "Dashboard" %}
{% endblock %}

{% block content_title %}
{% trans "Create New Graph" as create %}
{% breadcrumb create %}
<!--<h1>{% trans "Graphs" %} » {% trans "Create" %}</h1>-->
{% endblock %}

{% block navigation_buttons %}
{{ block.super }}
{% endblock %}

{% block content %}
<form method="post" action="." id="graphsCreate" name="graphs_create">
{% csrf_token %}
{{ form.as_p }}
<input type="submit" name="addGraph" value="{% trans "Create new graph" %}" id="createGraph" />
<span class="buttonLinkOption">{% trans "or" %} <a href="{% url "dashboard" %}">{% trans "Cancel" %}</a>.</span>
</form>

<!-- Features Tour -->
<ol id="tour" class="hidden" data-tour-id="graphs-create">
  <li data-id="id_name" data-button="{% trans "Next" %}" data-options="tipLocation:right" class="joyride-position-new-graph-name">
    <h2>{% trans "Name" %}</h2>
    <p>{% trans "Choose a name for your graph. You will be able to change the name later." %}</p>
  </li>
  <li data-id="id_description" data-button="{% trans "Next" %}" data-options="tipLocation:right" class="joyride-position-new-graph-description">
    <h2>{% trans "Description" %}</h2>
    <p>{% trans "A short description would be useful. You also will be able to change it later." %}</p>
  </li>
  <li data-id="id_public" data-button="{% trans "Finish" %}" class="joyride-position-new-graph-public">
    <h2>{% trans "Public or private" %}</h2>
    <p>{% trans "If you mark this checkbox, your graph will be readable for other people." %}</p>
  </li>
</ol>

{% endblock %}
