{% extends base_template %}
{% load i18n graphs compress %}

{% if not as_modal %}
    {% block navigation_buttons %}
    {{ block.super }}
    {% endblock %}

    {% block title %}
    {{ graph.name }}
    {% endblock %}
{% endif %}

{% block extra_scripts %}
    <script type="text/javascript">
        sylva.urls['changePermission'] = "{% url "change_permission" graph.slug %}";
        sylva.urls['graphAjaxCollaborators'] = "{% url "graph_ajax_collaborators" graph.slug %}";
    </script>

    {% compress js %}
        <script type="text/javascript" src="{{ STATIC_PREFIX }}js/chosen.jquery.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_PREFIX }}js/chosen.ajax.js"></script>
        <script type="text/javascript" src="{{ STATIC_PREFIX }}graphs/js/graphs_collaborators.js"></script>
    {% endcompress %}

    {% compress css %}
        <link rel="stylesheet" type="text/css" href="{{ STATIC_PREFIX }}css/chosen.css" />
    {% endcompress %}
{% endblock %}

{% block body_attrs %}
{% endblock %}

{% block menu_buttons %}
{% toolbar on="collaborators" %}
{% endblock %}

{% block content_title %}
{% trans "Collaborators" as collaborators %}
{% breadcrumb graph collaborators %}
{% endblock %}

{% block content %}
<div id="content2">
    {% if as_modal %}
      {% trans "Collaborators" as collaborators %}
      {% breadcrumb collaborators %}
      <div id="add-url" data-url="{{ add_url }}" style="display: none;"></div>
    {% endif %}
    <div class="content2-first">
        <h2>{% trans "Owner" %}: <a href="#">{{ graph.owner }}</a></h2>
        <form id="add-collaborator-form" action="." method="POST">
            {% csrf_token %}
            {% if as_modal %}
                <div class="chosen-wrapper">
            {% endif %}
            {{ form.as_p }}
            {% if not as_modal %}
                <input id="submit-add" type="submit" value="{% trans "Add collaborator" %}">
            {% else %}
                    <div class="content2-bottom">
                        <hr/>
                        <input id="submit-add" type="submit" value="{% trans "Add collaborator" %}">
                        <input id="submit-cancel" class="to-right" type="submit" value="{% trans "Cancel" %}">
                    </div>
                </div>
            {% endif %}
        </form>
    </div>
    {% if permissions_table %}
    {% if not as_modal %}
        <div class="content-divider"></div>
    {% endif %}
    <div class="content2-second">
           <div id="permissions">
<!--               <p>{% trans "Permissions" %}</p>-->
               <table id="permissions_table" class="content-table">
                   <tr>
                       <th>{% trans "User" %}</th>
                       <th colspan="3">{% trans "Graph" %}</th>
                       <th colspan="2">{% trans "Schema" %}</th>
                       <th colspan="4">{% trans "Data" %}</th>
                    </tr>
                    <tr>
                        <td></td>
                        {% for p in permissions %}
                            <td>{{ p }}</td>
                        {% endfor %}
                   </tr>
                    {% for item in permissions_table %}
                        <tr>
                            <td><a href="#">{{ item.user_name }}</a></td>

                        {% for p in item.perms %}
                            <td>
                                <input id="chk_{{ p.0 }}_{{ p.1 }}"class="perm_chk" type="checkbox"
                                {% if p.2 %}checked{% endif %}
                                onChange="setPermission({{ item.user_id }}, '{{ p.0 }}', '{{ p.1 }}')">
                            </td>
                        {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            </div>
    </div>
    {% endif %}
</div>

{% if not as_modal %}
  <!-- Features Tour -->
  <ol id="tour" class="hidden" data-tour-id="graphs-collaborators">
    <li data-id="id_new_collaborator_chzn" data-button="{% trans "Next" %}">
      <h2>{% trans "Collaborators" %}</h2>
      <p>{% trans "Adding collaborators is easy. Just click on the box and start typing the name, username or email. Then, click 'Add collaborator'." %}</p>
    </li>
    <li data-id="permissions" data-button="{% trans "Next" %}">
      <h2>{% trans "Choose permissions" %}</h2>
      <p>{% trans "Finally, select the right permissions for your collaborators." %}</p>
    </li>
  </ol>
{% endif %}

{% endblock content %}
