{% extends "base.html" %}
{% load i18n graphs %}

{% block navigation_buttons %}
{{ block.super }}
{% endblock %}

{% block title %}
{{ graph.name }}
{% endblock %}

{% block extra_scripts %}
<script type="text/javascript" src="{{ STATIC_PREFIX }}js/chosen.jquery.min.js"></script>
<script type="text/javascript" src="{{ STATIC_PREFIX }}js/chosen.ajax.js"></script>
<link rel="stylesheet" type="text/css" href="{{ STATIC_PREFIX }}css/chosen.css" />
<script type="text/javascript">
    function setPermission(userID, objectStr, permissionStr) {
        $.ajax({url: "{% url "change_permission" graph.slug %}",
            data: {user_id: userID,
                object_str: objectStr,
                permission_str: permissionStr},
            error: function(error) {
                if (error["responseText"] == "owner") {
                    var control = document.getElementById("chk_" + objectStr + "_" + permissionStr);
                    control.checked = true;
                }
            },
        });
    }

    (function ($) {
        init = function() {
            $('.chzn-select').ajaxChosen({
                type: 'GET',
                url: '{% url "graph_ajax_collaborators" graph.slug %}',
                dataType: 'json'
            }, function (data) {
                var results = {};
                $.each(data, function (i, val) {
                    results[i] = val;
                });
                return results;
            }, {no_results_text: "No results matched"});
        }

        $(document).ready(init);
    })(jQuery);
</script>
{% endblock %}

{% block body_attrs %}
{% endblock %}

{% block menu_buttons %}
{% toolbar on="collaborators" %}
{% endblock %}

{% block content_title %}
{% trans "Collaborators" as collaborators %}
{% breadcrumb graph collaborators %}
{% endblock %}

{% block content %}
<div id="content2">
    <div class="content2-first">
        <h2>{% trans "Owner" %}: <a href="#">{{ graph.owner }}</a></h2>
        <form action="." method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="{% trans "Add collaborator" %}">
        </form>
    </div>
    {% if permissions_table %}
    <div class="content-divider"></div>
    <div class="content2-second">
           <div id="permissions">
<!--               <p>{% trans "Permissions" %}</p>-->
               <table id="permissions_table" class="content-table">
                   <tr>
                       <th>{% trans "User" %}</th>
                       <th colspan="3">{% trans "Graph" %}</th>
                       <th colspan="2">{% trans "Schema" %}</th>
                       <th colspan="4">{% trans "Data" %}</th>
                    </tr>
                    <tr>
                        <td></td>
                        {% for p in permissions %}
                            <td>{{ p }}</td>
                        {% endfor %}
                   </tr>
                    {% for item in permissions_table %}
                        <tr>
                            <td><a href="#">{{ item.user_name }}</a></td>

                        {% for p in item.perms %}
                            <td>
                                <input id="chk_{{ p.0 }}_{{ p.1 }}"class="perm_chk" type="checkbox"
                                {% if p.2 %}checked{% endif %}
                                onChange="setPermission({{ item.user_id }}, '{{ p.0 }}', '{{ p.1 }}')">
                            </td>
                        {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            </div>
    </div>
    {% endif %}
</div>

<!-- Features Tour -->
<ol id="tour" class="hidden" data-tour-id="graphs-collaborators">
  <li data-id="id_new_collaborator_chzn" data-button="{% trans "Next" %}">
    <h2>{% trans "Collaborators" %}</h2>
    <p>{% trans "Adding collaborators is easy. Just click on the box and start typing the name, username or email. Then, click 'Add collaborator'." %}</p>
  </li>
  <li data-id="permissions" data-button="{% trans "Next" %}">
    <h2>{% trans "Choose permissions" %}</h2>
    <p>{% trans "Finally, select the right permissions for your collaborators." %}</p>
  </li>
</ol>

{% endblock content %}
