{% extends "base.html" %}
{% load i18n %}

{% block navigation_buttons %}
{{ block.super }}
{% endblock %}

{% block title %}
{{ graph.name }}
{% endblock %}

{% block extra_scripts %}
<script type="text/javascript" src="{{ STATIC_PREFIX }}js/chosen.jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{ STATIC_PREFIX }}css/chosen.css" />
<script type="text/javascript">
    function setPermission(userID, objectStr, permissionStr) {
        $.ajax({url: "{% url change_permission graph.id %}",
            data: {user_id: userID,
                object_str: objectStr,
                permission_str: permissionStr},
            error: function(error) {
                if (error["responseText"] == "owner") {
                    var control = document.getElementById("chk_" + objectStr + "_" + permissionStr);
                    control.checked = true;
                }
            },
        });
    }
</script>
{% endblock %}
   
{% block body_attrs %}
onload="$('.chzn-select').chosen();"
{% endblock %}


{% block menu_buttons %}
<li><a href="{% url graph_view graph.id %}" class="link"><span>{% trans "Graph" %}</span></a></li>
<li><a href="{% url nodes_list graph.id %}" class="link"><span>{% trans "Nodes" %}</span></a></li>
<li><a href="{% url relationships_list graph.id %}" class="link"><span>{% trans "Relationships" %}</span></a></li>
<li><a href="{% url schema_edit graph.id %}" class="link"><span>{% trans "Schema" %}</span></a></li>
<li><a href="{% url graph_collaborators graph.id %}" class="text"><span>{% trans "Collaborators" %}</span></a></li>
{% endblock %}

{% block content_title %}
<h2>{% trans "Graphs" %} » {{ graph.name|truncatewords_html:8 }} » {% trans "Collaborators" %}</h2>
{% endblock %}

{% block content %}
<div id="content2">
    <div class="content2-first">
        <p>Graph owner: <a href="#">{{ graph.owner }}</a></p>
        <hr/>
        <form action="." method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Add collaborator"/>
        </form>
    </div>
    <div class="content-divider"></div>
    <div class="content2-second">
           <div id="permissions">
               <p>Collaborators permissions:</p>
               <table id="permissions_table">
                   <tr>
                       <th>User</th>
                       <th colspan="2">Graph</th>
                       <th colspan="2">Schema</th>
                       <th colspan="4">Data</th>
                    </tr>
                    <tr>
                        <td></td>
                        {% for p in permissions %}
                            <td>{{ p }}</td>
                        {% endfor %}
                   </tr>
                    {% for item in permissions_table %}
                        <tr>
                            <td><a href="#">{{ item.user_name }}</a></td>

                        {% for p in item.perms %}
                            <td>
                                <input id="chk_{{ p.0 }}_{{ p.1 }}"class="perm_chk" type="checkbox"
                                {% if p.2 %}checked{% endif %}
                                onChange="setPermission({{ item.user_id }}, '{{ p.0 }}', '{{ p.1 }}')">
                            </td>
                        {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            </div>
    </div>
</div>
{% endblock %}
