{% load i18n %}
    <div class="graph-item">
        {% if show_edit %}
        <span class="graph-title"><a title="{% trans "Edit properties" %}" href="{% url "graph_edit" graph.slug %}?remove=true">{{ graph.name|truncatewords_html:7 }}</a></span>
        {% else %}
        <span class="graph-title"><a href="{% url "graph_view" graph.slug %}">{{ graph.name|truncatewords_html:7 }}</a></span>
        {% endif %}
        {% if graph.description %}
        <q class="graph-description">{{ graph.description|truncatewords_html:40 }}</q>
        {% endif %}
        <div class="flags">
            <div class="flags-block">
                <span class="graph-owner">
                    {% trans "By"%} <a title="{{ graph.owner }}" href="{% url "userena.views.profile_detail" graph.owner %}">{{ graph.owner }}</a>
                </span>
                <span class="graph-nodes">
                    <span id="graph-nodes-count">{{ graph.data.total_nodes }}</span> <a title="{% trans "Nodes" %}" href="{% url "nodes_list" graph.slug %}">{% trans "nodes" %}</a>
                </span>
                <span class="graph-relationships">
                    {# {{ graph.data.total_relationships }} <a title="{% trans "Relationships" %}" href="{% url "relationships_list" graph.slug %}">{% trans "relationships" %}</a> #}
                    <span id="graph-rels-count">{{ graph.data.total_relationships }}</span> {% trans "relationships" %}
                </span>
                <span class="graph-schema">
                    {% if graph.relaxed %}
                        {% trans "Relaxed" %}
                    {% else %}
                        {% trans "Strict" %}
                    {% endif %}
                     <a title="{% trans "Schema" %}" href="{% url "schema_edit" graph.slug %}">{% trans "schema" %}</a>
                </span>
            </div>
            <div class="flags-divider"></div>
            <div class="flags-block">
                <span class="graph-visibility">
                    <a title="{% trans "Visibility" %}" href="{% url "graph_edit" graph.slug %}">
                    {% if graph.public %}
                        {% trans "Public" %}</a>
                    {% else %}
                        {% trans "Private" %}
                    {% endif %}
                    </a>
                </span>
                <span class="graph-collaborators">
                    {{ graph.get_collaborators|length }} <a title="{% trans "Collaborators" %}" href="{% url "graph_collaborators" graph.slug %}">{% trans "collaborators" %}</a>
                </span>
                <span class="graph-queries">
                    {{ graph.queries.count }} <a title="{% trans "Queries" %}" href="{% url "queries_list" graph.slug %}">{% trans "queries" %}</a>
                </span>
                <span class="graph-instance">
                    {{ graph.data.total_storage|filesizeformat }}
                    {% if graph.data.instance %}
                        {% trans "on" %}  <a title="{{ graph.data.instance }}" href="">{{ graph.data.instance.name|truncatewords_html:3 }}</a>
                    {% else %}
                        <abbr title="{% trans "Default storage instance" %}">{% trans "on default" %}</abbr> <!-- <a href="">{% trans "instance" %}</a>. -->
                    {% endif %}
                </span>
            </div>
        </div>
    <input type="hidden" class="stats-series" value='{"title": "{{ graph.name }}", "nodes": {{ graph.data.total_nodes }}, "relationships": {{ graph.data.total_relationships }}, "storage": {{ graph.data.total_storage }}, "label": "{% if graph.owner == user %}{% trans "Owned" %}{% else %}{% trans "Collaboration" %}{% endif %}", "type": "{% if graph.owner == user %}owned{% else %}collaboration{% endif %}"}' />
    </div>
