{% extends "base.html" %}
{% load i18n graphs %}

{% block title %}
{{ graph.name }}
{% endblock %}

{% block menu_buttons %}
{% toolbar on="graph" %}
{% endblock %}


{% block content_title %}
{% trans "Edit" as edit %}
{% breadcrumb graph edit %}
<!--<h2>{% trans "Graphs" %} » {{ graph.name|truncatewords_html:8 }}  » {% trans "Edit" %}</h2>-->
{% endblock %}

{% block navigation_buttons %}
{{ block.super }}
{% endblock %}

{% block content %}
<form method="post" action="." id="graphsCreate" name="graphs_create">
{% csrf_token %}
{{ form.as_p }}
<input type="submit" name="addGraph" value="{% trans "Save" %}" id="createGraph" />
<span class="buttonLinkOption">
    {% if remove %}
    <a href="{% url graph_delete graph.slug %}">{% trans "Delete" %}</a>
    {% endif %}
    {% trans "or" %} <a href="{% url graph_view graph.slug %}">{% trans "Cancel" %}</a>.</span>
</form>

{% endblock %}
