{% extends "base.html" %}
{% load i18n %}

{% block navigation_buttons %}
{{ block.super }}
{% endblock %}

{% block title %}
{{ graph.name }}
{% endblock %}

{% block menu_buttons %}
<li><a href="{% url graph_view graph.id %}" class="text"><span>{% trans "Graph" %}</span></a></li>
<li><a href="{% url nodes_list graph.id %}" class="link"><span>{% trans "Nodes" %}</span></a></li>
<li><a href="{% url relationships_list graph.id %}" class="link"><span>{% trans "Relationships" %}</span></a></li>
<li><a href="{% url schema_edit graph.id %}" class="link"><span>{% trans "Schema" %}</span></a></li>
<li><a href="{% url graph_collaborators graph.id %}" class="link"><span>{% trans "Collaborators" %}</span></a></li>
{% endblock %}

{% block content_title %}
<h2>{% trans "Graphs" %} » {{ graph.name|truncatewords_html:8 }}</h2>
{% endblock %}

{% block content %}
<canvas id="graphcanvas">{% trans "Your browser does not support graph visualization" %}</canvas>
<!-- Start of DOM elements working as memory system and debugging -->        
<div id="sec-debug">
  <div id="sec-node-list">
    <ul id="node-list"></ul>
  </div>
  <div id="sec-edge-list">
    <ol id="edge-list"></ol>
  </div>

  <h3>Graph Nodes Debug</h3>
  <textarea id="id_graph_nodes" rows="10" cols="80" name="graph_nodes">{}</textarea>
  <h3>Graph Edges Debug</h3>
  <textarea id="id_graph_edges" rows="10" cols="80" name="graph_edges">[]</textarea>
  <h3>Graph Schema Debug</h3>
  <textarea id="id_graph_schema" rows="10" cols="80" name="graph_schema">{}</textarea>
</div>
<!-- End of DOM elements working as memory system and debugging -->        

<div>
    <div class="not-available">
    {% blocktrans with graph.id as graph_id %}
    You can also try to
    <a title="Download as .gexf" href="/tools/{{ graph_id }}/export/">download</a> 
    as a <a href="http://gephi.org/" title="Gephi, The Open Graph Visualization Platform">Gephi</a> file.
    {% endblocktrans %}
    </div>
</div>
<div class="graph-item">
    <span class="graph-title">
        <a href="{% url graph_edit graph.id %}">{{ graph.name|truncatewords_html:7 }}</a>:
        {% if graph.description %}
        <q class="graph-description">{{ graph.description|truncatewords_html:40 }}</q>
        {% endif %}
    </span>
    <div class="flags">
        <div class="flags-block">
            <span class="graph-owner">
                {% trans "By"%} <a title="{{ graph.owner }}" href="{% url userena.views.profile_detail graph.owner %}">{{ graph.owner }}</a>.
            </span>
            <span class="graph-nodes">
                {{ graph.data.total_nodes }} <a title="{% trans "Nodes" %}" href="{% url nodes_list graph.id %}">{% trans "nodes" %}</a>.
            </span>
            <span class="graph-relationships">
                {{ graph.data.total_relationships }} <a title="{% trans "Relationships" %}" href="{% url relationships_list graph.id %}">{% trans "relationships" %}</a>.
            </span>
            <span class="graph-schema">
                {% if graph.relaxed %}
                    {% trans "Relaxed" %}
                {% else %}
                    {% trans "Strict" %}
                {% endif %}
                 <a title="{% trans "Schema" %}" href="{% url schema_edit graph.id %}">{% trans "schema" %}</a>.
            </span>
        </div>
        <div class="flags-divider"></div>
        <div class="flags-block">
            <span class="graph-visibility">
                {% if graph.public %}
                    <a title="{% trans "Visibility" %}" href="">{% trans "Public" %}</a>.
                {% else %}
                    <a title="{% trans "Visibility" %}" href="">{% trans "Private" %}</a>.
                {% endif %}
            </span>
            <span class="graph-collaborators">
                {{ graph.get_collaborators|length }} <a title="{% trans "Collaborators" %}" href="{% url graph_collaborators graph.id %}">{% trans "collaborators" %}</a>.
            </span>
            <span class="graph-queries">
                {% trans "No queries yet" %}.
            </span>
            <span class="graph-instance">
                {% if graph.data.instance %}
                    {% trans "On" %}  <a title="{{ graph.data.instance }}" href="">{{ graph.data.instance.name|truncatewords_html:3 }}</a>.
                {% else %}
                    {% trans "On default instance" %}. <!-- <a href="">{% trans "instance" %}</a>. -->
                {% endif %}
            </span>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_scripts %}
<script type="text/javascript" src="{{ STATIC_PREFIX }}graphs/js/processing-1.3.6.min.js"></script>
<script type="text/javascript" src="{{ STATIC_PREFIX }}graphs/js/graph-editor.js"></script>
<script type="text/javascript">

var nodes = {{ nodes|safe }};
var edges = {{ edges|safe }};

$(document).ready(function(){
  $('#sec-debug').hide(); // Comment this line to Debug the graph creation
  GraphEditor.PDE_URL = "{{ STATIC_PREFIX }}graphs/js/graphdrawer.pde";
  GraphEditor.USES_DRAWER = true;
  GraphEditor.init();
  $('#id_graph_nodes').val(JSON.stringify(nodes));
  $('#id_graph_edges').val(JSON.stringify(edges));

});

</script>
{% endblock %}
