{% extends "base.html" %}
{% load i18n graphs %}

{% block navigation_buttons %}
{{ block.super }}
{% endblock %}

{% block title %}
{{ graph.name }}
{% endblock %}

{% block menu_buttons %}
{% toolbar on="graph" %}
{% endblock %}

{% block content_title %}
  {% if node %}
    {% breadcrumb graph node.display %}
  {% else %}
    {% breadcrumb graph %}
  {% endif %}
{% endblock %}

{% block content %}

{% graph_visualization graph analytics=True %}

{% graph_info graph "show_edit" %}

<!-- Features Tour -->
<ol id="tour" class="hidden" data-tour-id="graphs-view">
  <li data-id="visualization-type" data-button="{% trans "Next" %}">
    <h2>{% trans "Visualization" %}</h2>
    <p>{% trans "You can choose from two different views in order to visualize the graph:" %}
      <dl>
        <dt>{% trans "Inspect graph" %}</dt>
        <dd>{% trans "Choose this view to visualize small graphs in detail." %}</dd>
        <dt>{% trans "Whole graph" %}</dt>
        <dd>{% trans "This is the recommended view to visualize big/medium graphs (those with more than 50 nodes)." %}</dd>
      </dl>
    </p>
  </li>
  <li data-id="graph-node-types" data-button="{% trans "Next" %}" data-options="tipLocation:right">
    <h2>{% trans "Node info" %}</h2>
    <p>{% trans "Clicking on a node, you will show some useful information inside this panel:" %}
      <dl>
        <dt>{% trans "A color legend" %}</dt>
        <dd>{% trans "Useful to identify the different types of node from the graph." %}</dd>
        <dt>{% trans "View related nodes" %}</dt>
        <dd>{% trans "Clicking on this link, you will show a partial graph with just the related nodes to the one selected." %}</dd>
        <dt>{% trans "View node data" %}</dt>
        <dd>{% trans "Show details for the selected node." %}</dd>
        <dt>{% trans "Edit node data" %}</dt>
        <dd>{% trans "Edit details for the selected node." %}</dd>
      </dl>
    </p>
  </li>
  <li data-class="graph-title" data-button="{% trans "Finish" %}" data-options="nubPosition:right" class="joyride-position-graph-pause">
    <h2>{% trans "Pause" %}</h2>
    <p>{% trans "You can use this button to pause/run the rendering of the graph." %}</p>
  </li>
</ol>

{% endblock content %}

{% block extra_scripts %}
{% graph_visualization_resources analytics=True %}
{% endblock %}
