{% extends "base.html" %}
{% load i18n %}

{% block title %}
{% endblock title %}

{% block extra_links %}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_PREFIX }}css/base.css" />
{% endblock %}

{% block extra_scripts %}
{% endblock %}

{% block menu_navigation %}
{% endblock %}

{% block content_title %}
  <h1><a href="" class="inactive"></a></h1>
{% endblock %}

{% block contact_navigation %}
{% endblock %}

{% block main_navigation %}
  <nav class="main">
    <ul></ul>
  </nav>
{% endblock %}

{% block content %}
  <div id="homepage">
    <div class="text-replacement" style="margin-left: 0px; opacity: 1; ">
      <div id="content2">
        <div class="content2-block"></div>
      </div>
    </div>

    <div id="body-divider"></div>
      <div id="content3">
        <div class="content-padding">
          <div class="clearfloats"></div>
      </div>
    </div>
  </div>
{% endblock %}
