{% extends "base.html" %}
{% load i18n %}

{% block title %}
{% trans "Server error" %}
{% endblock title %}

{% block extra_links %}
{% endblock %}

{% block extra_scripts %}
{% endblock %}

{% block menu_navigation %}
{% endblock %}

{% block content_title %}
  <h1><a href="" class="inactive"></a></h1>
{% endblock %}

{% block contact_navigation %}
{% endblock %}

{% block main_navigation %}
{% endblock %}

{% block content %}
  <div id="homepage">
    <div class="page-error">
      <div class="heading">
        <h1>{% trans "Temporarily Down for Maintenance" %}</h1>
      </div>
      <div class="description">
        <p>{% trans "We are performing scheduled maintenance. We should be back online shortly. Meanwhile, keep an eye on Twitter to check our updates." %}</p>
      </div>
      <div class="twitter-widget">
        <a class="twitter-timeline" href="https://twitter.com/SylvaDB" data-widget-id="275668039402393600">Tweets por @SylvaDB</a>
        <script>
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
        </script>
      </div>
    </div>
    <div id="body-divider"></div>
      <div id="content3">
        <div class="content-padding">
          <div class="clearfloats"></div>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
{% endblock %}