{% load i18n thumbnail static flatpages compress %}

{% get_static_prefix as STATIC_PREFIX %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|slice:":2" }}">
  <head>
    <meta charset="utf-8">
    <title>{{ PROJECT_NAME }} - {% block title %}{% trans "Welcome to The Sylva Project" %}{% endblock %}</title>
    <meta name="author" content="The CulturePlex Lab.">
    <meta name="resource-type" content="document">
    <meta name="distribution" content="global">
    <meta name="rating" content="general">
    <meta name="robots" content="ALL">
    <meta name="copyright" content="Copyright {{ CURRENT_DATE|date:"Y" }} CulturePlex Lab.">
    <meta name="description" content="A Relaxed-Schema Graph Database Management System">
    <meta name="keywords" content="graph, database, graph database, system, sylva, sylva project, schema-less, relaxed schema, management, database management system, DBMS">

    <link rel="icon" href="{{ STATIC_PREFIX }}img/favicon.ico">

    {% compress css %}
      <link rel="stylesheet" type="text/css" href="{{ STATIC_PREFIX }}css/font-awesome.css" />
      <link rel=" stylesheet" type="text/css" href="{{ STATIC_PREFIX }}joyride/joyride-2.0.3.css">
      <link rel="stylesheet" type="text/css" href="{{ STATIC_PREFIX }}css/base.css" />
    {% endcompress %}

    <!--[if lt IE 7]>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_PREFIX }}css/iefixes.css" />
    <![endif]-->

    {% block extra_metas %}{% endblock %}
    {% block extra_links %}{% endblock %}
  </head>

  <body {% block body_attrs %}{% endblock %}>
    {% block body %}
      <div id="main">
        <header class="global">
          {% block menu_navigation %}
            <nav class="menu">
              <ul>
      <!--          <li><a href="{% url "userena.views.profile_detail" request.user %}" class="text">{{ request.user }}</a></li>-->
                {% block menu_buttons %}
      <!--          <li><a href="{% url "dashboard" %}" class="link"><span>{% trans "Dashboard" %}</span></a></li>-->
                {% endblock %}
      <!--          <li><a href="{{ LOGOUT_URL }}" class="link"><span>{% trans "Sign out" %}</span></a></li>-->
              </ul>
            </nav>
          {% endblock %}

          <!-- user messages -->
          {% if messages %}
            <ul class="messages">
              {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
              {% endfor %}
            </ul>
          {% endif %}
          <!-- end user messages -->

          {% block content_title %}{% endblock %}

          <div class="nav-wrapper">
            <div class="inside clearfix">
              {% block contact_navigation %}{% endblock %}
              {% block main_navigation %}
                {% if request.user.is_authenticated %}
                  <a href="{% url "dashboard" %}" id="link-logo" title="{% trans "Go to the Dashboard" %}">dashboard</a>
                {% else %}
                  <a href="{% url "index" %}" id="link-logo" title="{% trans "Go to the index page" %}">index</a>
                {% endif %}
                {% if graph %}
                  <div class="title-graph-name analytics-mode"><h2>{{ graph.name }}</h2></div>
                {% endif %}
                <nav class="main">
                  <ul>
                    <li><a href="javascript:void(0)" id="toggleTour" class="text" style="display: none;"><span>{% trans "Take a tour" %}</span></a></li>
                    <li><a href="{% url "get_started" %}" class="link"><span>{% trans "Help" %}</span></a></li>
                    {% if request.user.is_authenticated %}
                      <li><a href="{% url "userena.views.profile_detail" request.user %}" class="link">{{ request.user }}</a></li>
                      {% block navigation_buttons %}
                        <li><a href="{% url "dashboard" %}" class="link" title="{% trans "Main view for the options of the user" %}"><span>{% trans "Dashboard" %}</span></a></li>
                      {% endblock %}
                      <li><a href="{{ LOGOUT_URL }}" class="link"><span>{% trans "Sign out" %}</span></a></li>
                    {% else %}
                      <li><a href="{% url "index" %}" class="link-home" id="loginFormButton"><span>{% trans "Home" %}</span></a></li>
                    {% endif %}
                    <li class="analytics-mode" style="display: none; margin-top: -35px; margin-right: 5px;">
                      <a id="sigma-exit-analytics" style="display: none; float: right; margin-left: 10px;" class="link analytics-mode" title="{% trans "Exit analytics" %}">{% trans "Exit analytics" %}</a>
                      <a id="sigma-go-fullscreen" style="display: none; float: right;" class="link analytics-mode" title="{% trans "Fullscreen" %}">{% trans "Fullscreen" %}</a>
                      <a id="sigma-exit-fullscreen" style="display: none; float: right;" class="link" title="{% trans "Exit fullscreen" %}">{% trans "Exit fullscreen" %}</a>
                    </li>
                  </ul>
                </nav>
              {% endblock %}
            </div><!-- end .inside -->
          </div><!-- end .nav-wrapper -->
        </header>

        <div id="body">
          <div class="body-inside">
            {% block content %}{% endblock %}
          </div><!-- end .body-inside -->
        </div><!-- end #body -->

        <div id="footer" class="global">
          <div class="inside">
            <div class="copyright">
              {% block footer %}
                <p>
                  {% load flatpages %}
                  {% get_flatpages as flatpages %}
                    {% for page in flatpages %}
                      <a href="{{ page.url }}">{{ page.title }}</a>
                      {% if not forloop.last %} | {% endif %}
                    {% endfor %}
                </p>
                <p>
                  <i class="fa fa-envelope-o"></i> <a href="mailto:info@sylvadb.com" rel="">info@sylvadb.com</a>
                  <i class="fa fa-twitter"></i> <a href="http://twitter.com/SylvaDB" rel="">@SylvaDB</a>
                  <i class="fa fa-github-alt"></i> <a href="http://github.com/CulturePlex/Sylva" rel="">CulturePlex/Sylva</a>
                </p>
                <p>&copy; {{ CURRENT_DATE|date:"Y" }} <a href="{{ site.domain }}">{{ PROJECT_NAME }}</a>. {% trans "All rights reserved" %}.</p>
              {% endblock %}
            </div><!-- end .copyright -->
            <div class="top">
              <a href="#">Top ↑</a>
            </div><!-- end .top -->
          </div><!-- end .inside -->
        </div>

      </div><!-- end #main -->
    {% endblock %}

    {% block scripts %}
      <script src="{% url "django.views.i18n.javascript_catalog" %}"></script>
      {% compress js %}
        <script src="{{ STATIC_PREFIX }}js/jquery.1.8.3.js"></script>
        <script src="{{ STATIC_PREFIX }}js/jquery.cookie.js"></script>
        <script src="{{ STATIC_PREFIX }}js/spin.1.2.7.js"></script>
        <script src="{{ STATIC_PREFIX }}joyride/jquery.joyride-2.0.3.js"></script>
        <script src="{{ STATIC_PREFIX }}js/base.js"></script>
        <script>
          // Sylva global namespace.
          var sylva = {};
          sylva.MEDIA_URL = "{{ STATIC_PREFIX }}";
        </script>
      {% endcompress %}

      {% block extra_scripts %}
      {% endblock %}

      {% compress js %}
        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', '{{ GOOGLE_ANALYTICS_CODE }}']);
          _gaq.push(['_setDomainName', 'sylvadb.com']);
          _gaq.push(['_trackPageview']);
          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>
      {% endcompress %}
    {% endblock scripts %}
  </body>
</html>
