{% extends "base.html" %}
{% load i18n %}

{% block title %}
{% trans "Dashboard" %}
{% endblock %}

{% block header_slogan %}
  <div id="header2">
    <!-- the large header slogan which is over top of the grass image can either be changed, or removed below -->
    <div id="header2-slogan1"><p>Page segmentation platform and</p></div>
    <div id="header2-slogan2"><p>transcription of ancient documents</p></div>
    <!-- end header slogan -->
  </div>
{% endblock %}

{% block content_title %}
<h1>{% trans "Dashboard" %}</h1>
{% endblock %}

{% block navigation_buttons %}
{% endblock %}

