{% extends "base.html" %}
{% load i18n graphs %}

{% block extra_scripts %}
    <script type="text/javascript" src="{{ STATIC_PREFIX }}js/flotr2.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}js/dashboard.stats.js"></script>
{% endblock %}

{% block title %}
{% trans "Dashboard" %}
{% endblock %}

{% block content_title %}
<h1>{% trans "Dashboard" %}</h1>
{% endblock %}

{% block navigation_buttons %}
{% endblock %}

{% block content %}
        <div id="content3">
              <!-- content blocks (three side by side), can remove if needed, this was just an example -->
              <div class="content3-block">

<div class="dashboard-graphs">
  <a class="button" href="{% url graph_create %}">{% trans "New Graph" %}</a>
  <input name="q" maxlength="100" placeholder="{% trans "Filter" %}..." type="text" class="filterBox" id="graphs-filter">
<h2>{% trans "Graphs" %}</h2>
<div class="graph-list">
{% for graph in graphs %}
    {% graph_info graph %}
{% empty %}
    {% trans "There're no graphs yet." %}
{% endfor %}
</div>
</div>

<span class="clear"></span>

{% if OPTIONS.ALLOW_INSTANCES %}
    <div class="dashboard-graphs">
    <a class="disabled">{% trans "Buy an own instance" %}</a>
    <h2>{% trans "Instances" %}</h2>
    <div class="instance-list">
    {% for instance in instances %}
        <p class="instance-item">
        <span class="instance-title">{{ instance.name }}</span>
        <q>{{ instance.engine }}</q>
        </p>
    {% empty %}
        {% trans "There're no instances yet." %}
    {% endfor %}
    </div>
    </div>
{% endif %}

  </div>
  <div class="content-divider"></div>
  <div class="content3-block">
    <h2 class="collect">{% trans "Collaborations" %}</h2>

    <div class="graph-list">
    {% for graph in collaborations %}
        {% graph_info graph %}
    {% empty %}
        {% trans "There're no graphs in collaboration yet." %}
    {% endfor %}
    </div>

  </div>


          <div class="content-divider"></div>
          <div class="content3-block">
            <h2 class="query">{% trans "Statistics" %}</h4>
            {% if graphs or collaborations %}
            {% trans "Relationships (Y axe), Nodes (X axe), Storage (bubble size)." %}
            <div id="dashboardStats" style="width: 375px; height: 500px;"></div>
            {% else %}
            {% trans "There're no statistics yet." %}
            {% endif %}
          <!-- end content blocks -->
          </div>
</div>

<!-- Features Tour -->
<ol id="tour" class="hidden">
  <li data-id="graphs-filter" data-button="{% trans "Next" %}" class="position-graphs-filter">
    <h2>{% trans "Search" %}</h2>
    <p>{% trans "You can quickly search your graphs with just typing the name." %}</p>
  </li>
</ol>

{% endblock %}
