{% extends "base.html" %}
{% load i18n %}

{% block extra_links %}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_PREFIX }}css/index.css" />
  <link rel="stylesheet" type="text/css" href="{{ STATIC_PREFIX }}css/carousel.css" />
{% endblock %}

{% block extra_scripts %}
  {{ block.super }}
  <script type="text/javascript" src="{{ STATIC_PREFIX }}js/jquery.slides.min.js"></script>
  <script type="text/javascript" src="http://gsgd.co.uk/sandbox/jquery/easing/jquery.easing.1.3.js"></script>
  <script>
    (function($) {
      var init = function() {
        // Slideshow
        $(function() {
          $('#slides').slides({
            /* preload: true, Doesn't work with jQuery 1.8.x */
            preloadImage: '{{ STATIC_PREFIX }}img/loading.gif',
            play: 5000,
            pause: 2500,
            hoverPause: true,
          });
        });

        {% if not user_is_signedin and not is_index %}
          // Login modal window
          $("#loginFormButton").click(function(e) {
            $("#loginForm").modal({
              overlayClose: true,
              opacity: 60,
              overlayCss: {backgroundColor: "#f2f2f2"},
              modal: true,
              onClose: function(e) {
                location.href = "{% url base.views.index %}";
              }
            });
            return false;
          });
          $("#loginFormButton").click();
        {% endif %}
      };
      $(document).ready(init);
    })(jQuery);
  </script>
{% endblock %}

{% block menu_navigation %}
{% endblock %}

{% block content_title %}
  <h1>{% trans "A Flexible Way To Manage Your Graphs" %}</h1>
{% endblock %}

{% block contact_navigation %}
  <nav class="contact">
    <ul>
      <li>
        <a class="link email" href="mailto:info@sylvadb.com" rel="external"><span>{% trans "Contact" %}</span></a>
      </li>
      <li>
          <a class="link twitter" href="http://twitter.com/sylvadb" rel="external" target="blank"><span>{% trans "Follow" %}</span></a>
      </li>
      <li>
          <a class="link github" href="http://github.com/CulturePlex/Sylva" rel="external" target="blank"><span>{% trans "Code" %}</span></a>
      </li>
    </ul>
  </nav>
{% endblock %}

{% block main_navigation %}
  <nav class="main">
    <ul>
      <li><a href="" class="link plans active" title="{% trans "Coming soon!" %}"><span>{% trans "Plans" %}</span></a></li>
      <li><a href="{% url signup %}" class="link signup"><span>{% trans "Sign up" %}</span></a></li>
      {% if request.user.is_authenticated %}
        <li><a href="{% url django.contrib.auth.views.logout %}" class="link logout"><span>{% trans "Sign out" %}</span></a></li>
      {% else %}
        <li><a href="{% url userena.views.signin %}" class="link login" id="loginFormButton"><span>{% trans "Sign in" %}</span></a></li>
      {% endif %}
    </ul>
    {% if user_is_signedin %}
      <a href="{% url userena.views.profile_edit request.user %}">{{ request.user }}</a>
    {% endif %}
  </nav>
    <p class="slogan">
      {% comment %}
      {% trans "A Relaxed-Schema Graph Database Management System" %}.</p>
      {% endcomment %}
      {% trans "Graph Databases" %}
      </br></br></br></br></br></br>
      {% trans "Made Easy For Everyone" %}
    </p>
  <div id="loginForm" style="display: none;">
    {% if form %}
      {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
      {% endif %}

      <form method="post" action=".">{% csrf_token %}
        {{ form }}
        <input type="submit" value="login" />
        <input type="hidden" name="next" value="{{ next }}" />
      </form>
    {% else %}
      {% trans "You signed out. Come back soon!" %}
    {% endif %}
  </div>
{% endblock %}

{% block content %}
  <div id="homepage">
    <div class="text-replacement" style="margin-left: 0px; opacity: 1; ">
    <div id="content2">
        <div class="content2-block">
          <div class="description">
            {% blocktrans %}
            Sylva ["silva", a book to organize knowledge during the Renaissance] is an easy-to-use, flexible, and scalable database management system that helps you collect, collaborate, visualize and query large data sets. In Sylva, all your data is connected using a graph, and you will see the connections all the way through.
            <br/><br/>
            No programming knowledge is needed to use Sylva. We promise :)
            <br/><br/>
            In Sylva, data sets are stored according to the schemas (graphs) created by the user. Researchers have absolute freedom to grant different permits to collaborators and to import and export their schemas and data sets.
            {% endblocktrans %}
            {% comment %}
            <form action="https://docs.google.com/spreadsheet/formResponse?formkey=dFNETEZyMWFGQzh2OERiU21YdHNLdGc6MQ&amp;embedded=true&amp;ifq" method="POST" id="ss-form" class="staytuned">
              <input type="text" name="entry.0.single" value="" class="ss-q-short" id="entry_0" placeholder="{% trans "Leave us your e-mail to" %}">
              <input type="submit" name="submit" class="btn okbutton" value="{% trans "Stay tuned!" %}">
              <input type="hidden" name="pageNumber" value="0">
              <input type="hidden" name="backupCache" value="">
              <label class="helptext" for="entry_0">{% trans "Your e-mail won't be used for any other porpuse" %}</label>
            </form>
            {% endcomment %}
          </div>
        </div>
        <div class="content2-block">
            <div id="container">
                <div id="slideshow">
        <!--            <img src="{{ STATIC_PREFIX }}img/new-ribbon.png" width="112" height="112" alt="New Ribbon" id="ribbon"> -->
                    <div id="slides">
                        <div class="slides_container">
                            <img src="{{ STATIC_PREFIX }}img/slide-1.jpg" width="570" height="270"
                                 alt="{% trans "Create graphs any time" %}" title="{% trans "Create graphs any time" %}">
                            <img src="{{ STATIC_PREFIX }}img/slide-2.jpg" width="570" height="270"
                                 alt="{% trans "Visualize and browse your data" %}" title="{% trans "Visualize and browse your data" %}">
                            <img src="{{ STATIC_PREFIX }}img/slide-3.jpg" width="570" height="270"
                                 alt="{% trans "Select the type for your data" %}" title="{% trans "Select the type for your data" %}">
                            <img src="{{ STATIC_PREFIX }}img/slide-4.jpg" width="570" height="270"
                                 alt="{% trans "Show statistics for your storage" %}" title="{% trans "Show statistics for your storage" %}">
                            <img src="{{ STATIC_PREFIX }}img/slide-5.jpg" width="570" height="270"
                                 alt="{% trans "List your data in regular tables" %}" title="{% trans "List your data in regular tables" %}">
                            <img src="{{ STATIC_PREFIX }}img/slide-6.jpg" width="570" height="270"
                                 alt="{% trans "Automatic forms and media from your schema" %}" title="{% trans "Automatic forms and media from your schema" %}">
                            <img src="{{ STATIC_PREFIX }}img/slide-7.jpg" width="570" height="270"
                                 alt="{% trans "Advanced definition for your schema" %}" title="{% trans "Advanced definition for your schema" %}">
                            <img src="{{ STATIC_PREFIX }}img/slide-8.jpg" width="570" height="270"
                                 alt="{% trans "Manage as collaborators as you want" %}" title="{% trans "Manage as collaborators as you want" %}">
                        </div>
                        <a href="#" class="prev"><img src="{{ STATIC_PREFIX }}img/arrow-prev.png" width="24" height="43" alt="Arrow Prev"></a>
                        <a href="#" class="next"><img src="{{ STATIC_PREFIX }}img/arrow-next.png" width="24" height="43" alt="Arrow Next"></a>
                    </div>
                    <img src="{{ STATIC_PREFIX }}img/example-frame.png" width="739" height="341" alt="Example Frame" id="frame">
                </div>
            </div>
        </div>
    </div>
    </div>

    <div id="body-divider"></div><!-- the division between the light green content section, and the dark -->
        <div id="content3">
            <div class="content-padding">
              <!-- content blocks (three side by side), can remove if needed, this was just an example -->
              <div class="content3-block">
                <h2 class="model">{% trans "Model" %}</h3>
                <p>{% blocktrans %}Create a schema of your data and change it as many times as you need.{% endblocktrans %}</p>
                <p>{% blocktrans %}Sylva gives you absolute flexibility for editing the schema again and again. You decide what happens with referential integrity and cascade deletions.{% endblocktrans %}</p>
              </div>
              <div class="content-divider"></div>
              <div class="content3-block">
                <h2 class="collect">{% trans "Collect" %}</h2>
                <p>{% blocktrans %}Populate your database manually or import your data from an existing set.{% endblocktrans %}</p>
                <p>{% blocktrans %}You can collaborate with your team in all phases of the process, no matter where they are. And since it is your data, you can export it whenever you need to.{% endblocktrans %}</p>
              </div>
              <div class="content-divider"></div>
                <div class="content3-block">
                <h2 class="query" >{% trans "Query" %}</h4>
                <p >{% blocktrans %}Get all the knowledge out of your data with the powerful query system of Sylva.{% endblocktrans %}</p>
                <p >{% blocktrans %}Do research on your connected data and discover new information. Setup an experiment, save it and share it with others.{% endblocktrans %}</p>
                <p ><span class="helptext">{% blocktrans %}Coming soon...{% endblocktrans %}</span></p>
              <!-- end content blocks -->
              </div>
              <div class="clearfloats"></div>
        </div>
    </div>
  </div>
{% endblock %}
