{% load i18n %}
<li><a href="{% url "graph_view" graph.slug %}" class="{% if on == "graph" %}text{% else %}link{% endif %}" title="{% trans "Access to the graphs of the user" %}">
    <span>{% trans "Graph" %}</span>
</a></li>
<li>
<!--    href="{% url "nodes_list" graph.slug %}"-->
<!--    <a id="dataMenu" href="{% url "nodes_list" graph.slug %}" class="inline {% if on == "nodes" %}text{% else %}link{% endif %}">-->
    <a id="dataMenu" href="javascript:void(0);" class="inline link" title="{% trans "List of all types of user data" %}">
        <span>{% trans "Data" %}</span>
    </a>
    <div id="dataBrowse">
    {% with graph.schema.nodetype_set.all as nodetypes %}
    {% if nodetypes %}
        <table>
        {% for type in nodetypes %}
            <tr {% if type == node_type %}class="dataSelected"{% endif %}>
                <td>
                    <span>{{ type.name }}</span>
                </td><td>
                    <span alt="{% trans "Count" %}" title="{% trans "Count" %}">{{ type.total }}</span>
                </td><td class="dataActions">
                    <a class="dataOption list" href="{% url "nodes_list_full" graph.slug type.id %}" title="{% trans "List" %}" alt="{% trans "List" %}">
                        &nbsp;
                    </a>
                    <a class="dataOption new" href="{% url "nodes_create" graph.slug type.id %}" title="{% trans "New" %}" alt="{% trans "New" %}">
                        &nbsp;
                    </a>
                </td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
         <span>{% trans "There is no schema defined yet" %}</span>
    {% endif %}
    {% endwith %}
    </div>
</li>
<!--<li><a href="{% url "relationships_list" graph.slug %}" class="{% if on == "relationships" %}text{% else %}link{% endif %}">-->
<!--    <span>{% trans "Relationships" %}</span>-->
<!--</a></li>-->
<li><a id="schema-link" href="{% url "schema_edit" graph.slug %}" class="{% if on == "schema" %}text{% else %}link{% endif %}" title="{% trans "Access to the schema of the graph database" %}">
    <span>{% trans "Schema" %}</span>
</a></li>
{% if options.ENABLE_REPORTS %}
    <li><a href="{% url "reports" graph.slug %}" class="{% if on == "reports" %}text{% else %}link{% endif %}">
        <span>{% trans "Reports" %}</span>
    </a></li>
{% endif %} 
{% if options.ENABLE_QUERIES %}
    <li><a href="{% url "operator_query" graph.slug %}" class="{% if on == "operators" %}text{% else %}link{% endif %}">
        <span>{% trans "Operators" %}</span>
    </a></li>
{% endif %}
<li><a href="{% url "graph_collaborators" graph.slug %}" class="{% if on == "collaborators" %}text{% else %}link{% endif %}" title="{% trans "List of collaborators or add a new collaborator" %}">
    <span>{% trans "Collaborators" %}</span>
</a></li>
<li>
    <a id="toolsMenu" href="javascript:void(0);" class="link" title="{% trans "Tools for import and export data" %}">
        <span>{% trans "Tools" %}</span>
    </a>
    <table id="toolsBrowseId" class="toolsBrowse">
        {% if graph.schema.is_empty %}
            <tr>
                <td class="dataActions">
                    <a class="dataOption list" href="{% url "schema_import" graph.slug %}" title="{% trans "Load graph schema from a JSON file" %}">
                        {% trans "Import schema" %}
                    </a>
                </td>
            </tr>
        {% endif %}
        {% if not graph.schema.is_empty %}
            <tr>
                <td class="dataActions">
                    <a class="dataOption list" href="{% url "schema_export" graph.slug %}" title="{% trans "Save graph schema as a JSON file" %}">
                        {% trans "Export schema" %}
                    </a>
                </td>
            </tr>
        {% endif %}
        {% if not graph.schema.is_empty and graph.is_empty %}
            <tr>
                <td class="dataActions">
                    <a class="dataOption list" href="{% url "graph_export_csv" graph.slug %}" title="{% trans "Save CSV templates (useful for filling in data from spreadsheets)" %}">
                        {% trans "Export CSV templates" %}
                    </a>
                </td>
            </tr>
            <tr>
                <td class="dataActions">
                    <a class="dataOption list" href="{% url "tool_import" graph.slug %}" title="{% trans "Load graph data from different sources" %}">
                        {% trans "Import data" %}
                    </a>
                </td>
            </tr>
        {% endif %}
        {% if not graph.is_empty %}
            <tr>
                <td class="dataActions">
                    <a class="dataOption list" href="{% url "graph_export_gexf" graph.slug %}" title="{% trans "Save graph data as a GEXF (Gephi) file" %}">
                        {% trans "Export data as GEXF" %}
                    </a>
                </td>
            </tr>
            <tr>
                <td class="dataActions">
                    <a class="dataOption list" href="{% url "graph_export_csv" graph.slug %}" title="{% trans "Save graph data as CSV files" %}">
                        {% trans "Export data as CSV" %}
                    </a>
                </td>
            </tr>
        {% endif %}
        {% if ENABLE_CLONING and not graph.schema.is_empty and not graph.is_empty %}
            <tr>
                <td class="dataActions">
                    <a class="dataOption list" href="{% url "graph_clone" graph.slug %}" title="{% trans "Create a copy of this graph" %}">
                        {% trans "Clone graph" %}
                    </a>
                </td>
            </tr>
        {% endif %}
    </table>
</li>
<li>
    <form action="{% url "graph_search" graph.slug %}" method="GET" id="searchBox">
        {{ search_form.as_p }}
    </form>
</li>
