{% extends "base.html"%}
{% load i18n graphs %}

{% block bootstrap_theme %}
      <link rel="stylesheet" type="text/css" href="{{ STATIC_PREFIX }}css/font-awesome.css" />
      <link rel=" stylesheet" type="text/css" href="{{ STATIC_PREFIX }}joyride/joyride-2.0.3.css">
      <link rel="stylesheet" type="text/css" href="{{ STATIC_PREFIX }}css/base.css" />
{% endblock %}

{% block extra_scripts %}
	<script type="text/javascript">

		function JSONstringify(json) {
		    if (typeof json != 'string') {
		        json = JSON.stringify(json, undefined, 2);
		    }

		    var arr = [],
		        _string = 'color:green',
		        _number = 'color:darkorange',
		        _boolean = 'color:blue',
		        _null = 'color:magenta',
		        _key = 'color:red';

		    json = json.replace(/("(\\u[a-zA-Z0-9]{4}|\\[^u]|[^\\"])*"(\s*:)?|\b(true|false|null)\b|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?)/g, function (match) {

		        var style = _number;

		        if (/^"/.test(match)) {
		            if (/:$/.test(match)) {
		                style = _key;
		            } else {
		                style = _string;
		            }
		        } else if (/true|false/.test(match)) {
		            style = _boolean;
		        } else if (/null/.test(match)) {
		            style = _null;
		        }

		        arr.push(style);
		        arr.push('');
		        return '<span style="' + style + '">' + match + '</span>';
		    });

		    return json;
		}

		var result = JSONstringify({{ content|safe }});

		$('#result').append(result);

	</script>
{% endblock %}

{% block content %}
	<!-- Main content for the results -->
	<h2>{{ name }}</h2>
	<h3>{{ description }}</h3>
	<h3>{{ request.HEAD }}</h3>
	<br/>
	<div style="font-family: monospace;">
		<pre style="padding: 8px; background-color: #f7f7f9; border: 1px solid #e1e1e8; font-size: 12px; margin-bottom: 0px;">
			<b>{% trans "Requested method" %}:<span style="color: #348E82;"> {{ request.method }}</span></b>
		</pre>
		<br/>
		<pre style="padding: 8px; background-color: #f7f7f9; border: 1px solid #e1e1e8; font-size: 12px;">
			<b>{% trans "Status" %}: <span style="color: #348E82;">{{ response.status_code }} {{ response.status_text }}</span></b>

			{% for item1, item2 in response.items %}
			<b>{{ item1 }}: <span style="color: #348E82;"> {{ item2 }}</span></b>
			{% endfor %}
		</pre>
		<br/>
		<pre id="result" style="padding: 8px; background-color: #f7f7f9; border: 1px solid #e1e1e8; font-size: 12px;">
		</pre>
	</div>
	<!-- POST form -->
	{% if display_edit_forms %}
	<div id="post-generic-content-form">
		<form action="." method="POST" class="form-horizontal">
			<fieldset>
				{% csrf_token %}
    			<div class="form-group" style="margin-top: 10px;">
        			<label for="id__content_type" class="col-sm-2 control-label">{% trans "Media type" %}:</label>
    				<div class="col-sm-10">
        				<select id="id__content_type" name="_content_type" class="form-control">
							<option value="application/json" selected="selected">application/json</option>
						</select>
        				<span class="help-block"></span>
    				</div>
    			</div>
	    		<div class="form-group" style="margin-top: 10px;">
	        		<label for="id__content" class="col-sm-2 control-label">{% trans "Content" %}:</label>
	        			<div class="col-sm-10">
	            			<textarea cols="40" id="id__content" name="_content" rows="10" class="form-control"></textarea>
	            			<span class="help-block"></span>
	        			</div>
	    		</div>
				<div class="form-actions" style="margin-top: 10px;">
					{% for method in allowed_methods %}
						{% if method == 'POST' %}
							<button type="submit" name="_method" value="POST" title="{% trans 'Make a POST request' %}">POST</button>
						{% elif method == 'PUT' %}
							<button type="submit" name="_method" value="PUT" title="{% trans 'Make a PUT request' %}">PUT</button>
						{% elif method == 'PATCH' %}
							<button type="submit" name="_method" value="PATCH" title="{% trans 'Make a PATCH request' %}">PATCH</button>
						{% elif method == 'DELETE' %}
							<button type="submit" name="_method" value="DELETE" title="{% trans 'Make a DELETE request' %}">DELETE</button>
						{% endif %}
					{% endfor %}
				</div>
			</fieldset>
		</form>
	</div>
	{% endif %}

{% endblock %}