{% extends "base.html" %}
{% load i18n graphs %}

{% block navigation_buttons %}
  {{ block.super }}
{% endblock %}

{% block title %}
  {{ graph.name }}
{% endblock %}

{% block menu_buttons %}
  {% toolbar on="operator" %}
{% endblock %}

{% block content_title %}
  {% trans "Queries" as label %}
  {% breadcrumb graph label %}
{% endblock %}

{% block content %}
  <div id="spinner"></div>
  <div id="search-query" class="visual-search"></div>
{% endblock %}

{% block extra_links %}
  <link rel="stylesheet" href="{{ STATIC_PREFIX }}visualsearch/visualsearch.css">
  <link rel="stylesheet" href="{{ STATIC_PREFIX }}visualsearch/visualsearch-datauri.css">
{% endblock %}

{% block extra_scripts %}
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
  <script src="{{ STATIC_PREFIX }}visualsearch/vendor/underscore-1.4.3.js"></script>
  <script src="{{ STATIC_PREFIX }}visualsearch/vendor/backbone-0.9.10.js"></script>
  <script src="{{ STATIC_PREFIX }}visualsearch/visualsearch.js"></script>
  <script>
    $(function() {
      var node_types = JSON.parse('{{ node_types|safe }}');
      var relationship_types = JSON.parse('{{ relationship_types|safe }}');
      var node_properties = JSON.parse('{{ node_properties|safe }}');

      var visualSearch = VS.init({
        container: $('.visual-search'),
        query: '',
        callbacks: {
          search: function(query, searchCollection) {
            var count = searchCollection.size();
            if (count >= 5) {
              $.post('{% url process_ajax_query %}', {'query': query}, function(data) {
                console.log(data);
              });
            }
          },
          facetMatches: function(callback) {
            callback([
              'node type',
              'relationship type',
              'node property key',
              {label: 'node property value'},
              'condition',
              'operator',
              'facet'
            ], {preserveOrder: true});
          },
          valueMatches: function(facet, searchTerm, callback) {
            switch (facet) {
              case 'node type':
                callback(node_types);
                break;
              case 'facet':
                callback([
                  'with'
                ]);
                break;
              case 'node property key':
                callback(node_properties);
                break;
              case 'operator':
                callback([
                  'that starts with',
                  'that ends with',
                  'greater than',
                  'lower than',
                  'equals'
                ]);
                break;
              case 'condition':
                callback([
                  'and',
                  'or'
                ]);
                break;
              case 'relationship type':
                callback(relationship_types);
                break;
            }
          }
        }
      });
    });
  </script>
{% endblock %}
