{% extends "base.html" %}
{% load i18n graphs %}

{% block title %}
{% trans "Query" %}
{% endblock %}

{% block menu_buttons %}
{% toolbar on="query" %}
{% endblock %}

{% block content_title %}
{% trans "Query" as label %}
{% breadcrumb graph label %}
{% endblock %}

{% block extra_scripts %}
<script type="text/javascript">
(function ($) {
    var init = function () {
        $("#id_query").keypress(function (e) {
            var query = $(this).val();
            if (e.which == 13) {
                $("#results").html("<span class='help'>{% trans "Loading" %}...</span>");
                console.log(query);
                $.ajax({
                    type: "POST",
                    url: "{% url operator_query_results graph.slug %}",
                    data: {"query": query},
                    success: function (data) {
                        $("#results").html("");
                        for (var i = 0, j = data.length; i < j; i += 1) {
                            var row = $("<div>");
                            for (var k = 0, l = data[i].length; k < l; k += 1) {
                                var cell = $("<span>");
                                cell.text(data[i][k]);
                                row.append(cell);
                            }
                            $("#results").append(row);
                        }
                    },
                    error: function (e) {
                        $("#results").html("{% trans "No results found" %}");
                    },
                    dataType: "json"
                });
            }
        });
    }
    $(document).ready(init);
})(jQuery);
</script>
{% endblock %}

{% block content %}
<div id="content2">
    <div class="content2-first">
        <h2>{% trans "Saved Queries" %}</h2>
        <div id="savedQueries">
            {% for saved_query in queries %}
            {% empty %}
            <span>{% trans "No saved queries yet" %}</span>
            {% endfor %}
        </div>
    </div>
    <div class="content-divider"></div>
    <div class="content2-second">
        <input type="text" name="query" id="id_query" style="width: 500px;" placeholder="{% trans "Type your query..." %}">
        <h2>{% trans "List" %}</h2>
        <div id="results"></div>
    </div>
</div>
{% endblock %}
