{% extends "base.html" %}
{% load i18n graphs static %}
{% get_static_prefix as STATIC_PREFIX %}

{% block navigation_buttons %}
{{ block.super }}
{% endblock %}

{% block title %}
{{ graph.name }}
{% endblock %}

{% block menu_buttons %}
{% toolbar on="operator" %}
{% endblock %}

{% block content_title %}
{% trans "Operators" as label %}
{% breadcrumb graph label %}
{% endblock %}

{% block content %}
{% if node_types %}
<div style="width: 570px;">
    <div class="nav-links">
        <a id="builder-query"><h2 style="display: inline;">{% trans "Query" %}</h2></a>
        <h2 style="display: inline;"> | </h2>
        <a id="builder-results"><h2 style="display: inline;">{% trans "Results" %}</h2></a>
    </div>
    <div id="query-builder-query">
        <div id="query-information">
            <label for="query-name">{% trans "Name" %}</label>
            <input id="query-name" type="text" />
            <label id="label-description" for="query-description">{% trans "Description" %}</label>
            <textarea id="query-description" rows="4" cols="50" >{% trans "Write a description..." %}</textarea>
        </div>
        <div class="content2-second diagram" style="margin-top: 15px;">
            <nav id="select-node">
                <a href="#">{% trans "Type nodes" %}</a>
                <ul id="node-options" class="dropdown" style="width: 120px; font-size: 11px;">
                {% for node_type in node_types %}
                    <li style="padding: 3px;">
                        <a class="add-box" data-type="{{node_type.slug}}" href="javascript:void(0);">{{ node_type.name|capfirst }}</a>
                    </li>
                {% endfor %}
                <!-- Wildcard type - It needs to be improved -->
                    <li style="padding: 3px;">
                        <a class="add-box" data-type="wildcard" href="javascript:void(0);">{% trans "Wildcard Type" %}</a>
                    </li>
                </ul>
            </nav>
            <div id="diagramContainer" style="width: 1092px; margin-top: 20px;">
                <div id="diagram"></div>
            </div>
        </div>
        <a class="button" id="run-button" href="#">{% trans "Run" %}</a>
        <a class="button" id="clear-button" href="#">{% trans "Clear query" %}</a>
        <a class="button" id="save-button" href="#">{% trans "Save query" %}</a>
    </div>
    <div id="query-builder-results">
        <div id="results"></div>
    </div>
</div>
{% endif %}
{% endblock %}

{% block extra_links %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_PREFIX }}css/schemas.diagram.css" />
<link rel="stylesheet" type="text/css" href="{{STATIC_PREFIX}}operators/css/operators.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_PREFIX }}css/chosen.css" />
<link href="{{ STATIC_PREFIX }}css/token.input.css" type="text/css" rel="stylesheet" />
<link href="{{ STATIC_PREFIX }}css/jqueryui.1.8.18.css" type="text/css" rel="stylesheet" />
{% endblock %}
{% block extra_scripts %}
<!--<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js"></script>-->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
<!--<script type="text/javascript" src="{{ STATIC_PREFIX }}js/jquery.jsplumb.1.3.9.min.js"></script>-->
<script type="text/javascript" src="{{ STATIC_PREFIX }}js/jquery.jsPlumb-1.5.5-min.js "></script>
<script type="text/javascript" src="{{ STATIC_PREFIX }}js/jquery.scrollto.min.js"></script>
<script type="text/javascript" src="{{ STATIC_PREFIX }}js/chosen.jquery.min.js"></script>
<script type="text/javascript" src="{{ STATIC_PREFIX }}js/chosen.ajax.js"></script>
<script type="text/javascript" src="{{ STATIC_PREFIX }}js/jqueryui.timepicker.js"></script>
<script type="text/javascript" src="{{ STATIC_PREFIX }}js/jquery.blockUI.js"></script>
<script type="text/javascript" src="{{ STATIC_PREFIX }}operators/js/operators.query.js"></script>
<script type="text/javascript">
if (!diagram) {
    var diagram = {};
}

diagram.Models = {% autoescape off %}{{ graph.schema.get_schema_diagram }}{% endautoescape %};

diagram.url_collaborators = "{% url graph_query_collaborators graph.slug %}";
diagram.url_query = "{% url operator_builder_results graph.slug %}";

(function ($) {

    $('.body-inside').css({
        "width": "570px"
    });

    $('#builder-query').on('click', function() {
        $('#query-builder-results').hide();
        $('#query-builder-query').show();
        $('#results').hide();
    });

    $('#builder-results').on('click', function() {
        $('#query-builder-query').hide();
        $('#query-builder-results').show();
        $('#results').show();
    });

    $('#select-node').on('mouseover', function() {
        $('#node-options').css({
            "display": "block"
        });
    });

    $('#select-node').on('mouseout', function() {
        $('#node-options').css({
            "display": "none"
        });
    });

    $('#clear-button').on('click', function() {
        jsPlumb.detachEveryConnection();
        $('#diagram').empty();
    });

})(jQuery);

</script>
{% endblock %}
