{% extends "base.html" %}
{% load i18n graphs static compress %}
{% get_static_prefix as STATIC_PREFIX %}

{% block navigation_buttons %}
{{ block.super }}
{% endblock %}

{% block title %}
{{ graph.name }}
{% endblock %}

{% block menu_buttons %}
{% toolbar on="operator" %}
{% endblock %}

{% block content_title %}
{% trans "New" as label %}
{% breadcrumb graph queries_link label %}
{% endblock %}

{% block content %}

<!-- Features Tour -->
<ol id="tour" class="hidden" data-tour-id="">
  <li data-class="nav-links" data-button="{% trans "Next" %}">
    <h2>{% trans "Query results" %}</h2>
    <p>{% trans "These two buttons are for navigate between the query builder and the results views." %}</p>
  </li>
  <li data-id="select-node" data-button="{% trans "Next" %}" class="">
    <h2>{% trans "Types" %}</h2>
    <p>{% trans "The node types that we can select to build a query." %}</p>
  </li>
  <li data-id="run-button" data-button="{% trans "Next" %}" class="">
    <h2>{% trans "Run" %}</h2>
    <p>{% trans "Click this button to run the built query." %}</p>
  </li>
  <li data-id="clear-button" data-button="{% trans "Next" %}" class="">
    <h2>{% trans "Clear query" %}</h2>
    <p>{% trans "Click this button to remove the entire built query." %}</p>
  </li>
  <li data-id="id_name" data-button="{% trans "Next" %}">
    <h2>{% trans "Name" %}</h2>
    <p>{% trans "Name for the query. It is required by default." %}</p>
  </li>
  <li data-id="id_description" data-button="{% trans "Next" %}">
    <h2>{% trans "Description" %}</h2>
    <p>{% trans "Description for the query. It is required by default." %}</p>
  </li>
  <li data-id="save-query" data-button="{% trans "Finish" %}">
    <h2>{% trans "Save query" %}</h2>
    <p>{% trans "Click this button to save the query. To save the number of results and the last run date, you have to run the query before." %}</p>
  </li>
</ol>

{% if node_types %}
<div style="width: 570px;">
    <div class="nav-links">
        <a id="builder-query"><h2 style="display: inline;">{% trans "Query" %}</h2></a>
        <h2 style="display: inline;"> | </h2>
        <a id="builder-results"><h2 style="display: inline;">{% trans "Results" %}</h2></a>
    </div>
    <div id="query-builder-query">
        <div class="content2-second diagram" style="margin-top: 15px;">
            <nav id="select-node">
                <a href="#">{% trans "Types" %}</a>
                <ul id="node-options" class="dropdown">
                {% for node_type in node_types %}
                    <li style="padding: 3px;">
                        <a class="add-box" data-type="{{node_type.slug}}" href="javascript:void(0);">{{ node_type.name|capfirst }}</a>
                    </li>
                {% endfor %}
                <!-- Wildcard type - It needs to be improved -->
                    <li style="padding: 3px;">
                        <a class="add-box" data-type="wildcard" href="javascript:void(0);">{% trans "Wildcard Type" %}</a>
                    </li>
                </ul>
            </nav>
            <div id="diagramContainer" style="width: 1092px; margin-top: 20px;">
                <div id="diagram"></div>
            </div>
        </div>
        <a class="button" id="run-button" href="#">{% trans "Run" %}</a>
        <a class="button" id="clear-button" href="#">{% trans "Clear query" %}</a>
        <form method="post" action="." id="form-save-query" name="form query save">
            {% csrf_token %}
            {% for field in form %}
                {% if field.is_hidden %}
                    {{ field|escape }}
                {% else %}
                    <label>{{ field.label|escape}}:</label>
                    {{ field|escape }}
                {% endif %}
                <div class="errorlist">
                {% for error in field.errors %}
                    <li>{{ error|escape }}</li>
                {% endfor %}
                </div>
            {% endfor %}
            <input type="submit" id="save-query" name="saveQuery" value="{% trans "Save query" %}" />
        </form>
    </div>
    <div id="query-builder-results">
        <div id="results"></div>
    </div>
</div>
{% endif %}
{% endblock %}

{% block extra_links %}
    {% compress css %}
        <link rel="stylesheet" type="text/css" href="{{ STATIC_PREFIX }}css/schemas.diagram.css" />
        <link rel="stylesheet" type="text/css" href="{{STATIC_PREFIX}}operators/css/operators.css" />
        <link rel="stylesheet" type="text/css" href="{{ STATIC_PREFIX }}css/chosen.css" />
        <link href="{{ STATIC_PREFIX }}css/token.input.css" type="text/css" rel="stylesheet" />
        <link href="{{ STATIC_PREFIX }}css/jqueryui.1.8.18.css" type="text/css" rel="stylesheet" />
    {% endcompress %}
{% endblock %}
{% block extra_scripts %}
<script type="text/javascript">
    if (!diagram) {
        var diagram = {};
    }

    diagram.Models = {% autoescape off %}{{ graph.schema.get_schema_diagram }}{% endautoescape %};

    diagram.url_collaborators = "{% url "graph_query_collaborators" graph.slug %}";
    diagram.url_query = "{% url "operator_builder_results" graph.slug %}";
    diagram.relationshipImageSrc = "{{ STATIC_PREFIX }}img/rarr2.gif";
</script>

{% compress js %}
    <script type="text/javascript" src="{{ STATIC_PREFIX }}js/jquery-ui-1.9.1.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}js/jquery.jsPlumb-1.6.4-min.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}js/jquery.scrollto.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}js/chosen.jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}js/chosen.ajax.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}js/jqueryui.timepicker.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}js/jquery.blockUI.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}operators/js/operators.query.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}operators/js/operator_builder.js"></script>
{% endcompress %}


{# Not using compressor from here becuase it needs a huge refactoring: Django template's if statements are being used! #}

<!-- If we have the run variable, we execute the query -->
{% if run_query %}
<script type="text/javascript">
    var run = true;
</script>
{% endif %}

<!-- The next 'ifs' are for the case that we are going to edit a query.
     In that case, we send from the backend the json files to build the
     the query, and here we get them in JavaScript variables -->

{% if query_dict %}
<script type="text/javascript">
    var query = {};
    var query_dict = '{{ query_dict|safe }}';
    query_dict = JSON.parse(query_dict);
    query["query"] = query_dict;
</script>
{% endif %}

{% if query_aliases %}
<script type="text/javascript">
    var query_aliases = '{{ query_aliases|safe }}';
    query_aliases = JSON.parse(query_aliases);
    query["aliases"] = query_aliases;
</script>
{% endif %}

{% if query_fields %}
<script type="text/javascript">
    var query_fields = '{{ query_fields|safe }}';
    query_fields = JSON.parse(query_fields);
    query["fields"] = query_fields["fields"];
    query["fieldRelsCounter"] = query_fields["fieldRelsCounter"];
    query["checkboxes"] = query_fields["checkboxes"];
    query["fieldsConditions"] = query_fields["fieldsConditions"];

    (function($) {
        $(document).on('ready', function() {
            diagram.loadQuery(JSON.stringify(query));
            if(run) {
                //$('#builder-results').click();
                $('#run-button').click();
            }
        });
    })(jQuery);
</script>
{% endif %}
{% endblock %}
