{% extends "base.html" %}
{% load i18n graphs static %}
{% get_static_prefix as STATIC_PREFIX %}

{% block navigation_buttons %}
{{ block.super }}
{% endblock %}

{% block title %}
{{ graph.name }}
{% endblock %}

{% block menu_buttons %}
{% toolbar on="operator" %}
{% endblock %}

{% block content_title %}
{% trans "Operators" as label %}
{% breadcrumb graph label %}
{% endblock %}

{% block content %}
{% if node_types %}
<div>
<div class="content2-first">
    <div class="max600">
        <fieldset class="module aligned">
        <h2>{% trans "Types" %}</h2>
        {% for node_type in node_types %}
         <div class="form-row indent">
            <label>
                {{ node_type.name|capfirst }}
                <a class="buttonLinkOption indent add-box" data-type="{{node_type.slug}}" href="javascript:void(0);">
                    ({% trans "Add" %})
                </a>
            </label>
        </div>
        {% endfor %}
         <div class="form-row indent">
            <label class="helptext">
                {% trans "Wildcard Type" %}
                <a class="buttonLinkOption indent" href="">
                    ({% trans "Add" %})
                </a>
            </label>
        </div>
        </fieldset>
    </div>
    <div class="max600">
        <fieldset class="module aligned">
        <h2>{% trans "Allowed Relationships" %}</h2>
        {% for node_type in relationship_types %}
         <div class="form-row indent">
            <label>
                {{ node_type.name|capfirst }}
                <a class="buttonLinkOption indent" href="">
                    ({% trans "Add" %})
                </a>
            </label>
        </div>
        {% endfor %}
         <div class="form-row indent">
            <label class="helptext">
                {% trans "Wildcard Allowed Relationship" %}
                <a class="buttonLinkOption indent" href="">
                    ({% trans "Add" %})
                </a>
            </label>
        </div>
        </fieldset>
    </div>
{% endif %}
</div>
    <div class="content-divider"></div>
    <div class="content2-second diagram">
        <h2>{% trans "Query" %}</h2>
        <div id="diagramContainer">
            <div id="diagram"></div>
        </div>
        <input type="hidden" id="id_diagram_positions" name="diagram_positions" value="{{ graph.schema.get_options.diagram_positions }}"/>
        <input type="hidden" id="id_diagram_positions_url" name="diagram_positions" value="{% url schama_diagram_positions graph.slug %}"/>
    </div>
</div>
<a class="button" href="{% url schema_nodetype_create graph.slug %}">{% trans "Run" %}</a>
{% endblock %}

{% block extra_links %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_PREFIX }}css/schemas.diagram.css" />
{% endblock %}
{% block extra_scripts %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js"></script>
<script type="text/javascript" src="{{ STATIC_PREFIX }}js/jquery.jsplumb.1.3.9.min.js"></script>
<script type="text/javascript" src="{{ STATIC_PREFIX }}js/jquery.scrollto.min.js"></script>
<script type="text/javascript" src="{{ STATIC_PREFIX }}operators/js/operators.query.js"></script>
<script type="text/javascript">
if (!diagram) {
    var diagram = {};
}

diagram.Models = {% autoescape off %}{{ graph.schema.get_schema_diagram }}{% endautoescape %};
</script>
{% endblock %}
