{% extends "base.html" %}
{% load i18n graphs %}

{% block title %}
{% trans "Query" %}
{% endblock %}

{% block menu_buttons %}
{% toolbar on="query" %}
{% endblock %}

{% block content_title %}
{% trans "Query" as label %}
{% breadcrumb graph label %}
{% endblock %}

{% block extra_scripts %}
<script type="text/javascript">
(function ($) {
    var init = function () {
        $("#id_query").keypress(function (e) {
            var query = $(this).val();
            if (e.which == 13) {
                $("#results").html("{% trans "Loading" %}...");
                $.ajax({
                    type: "POST",
                    url: "{% url operator_query_results graph.slug %}",
                    data: {"query": query},
                    success: function (data) {
                        $("#results").html("");
                        for (var i = 0, j = data.length; i < j; i += 1) {
                            var row = $("div");
                            row.html(data[i]);
                            $("#results").append(row);
                        }
                    },
                    error: function (e) {
                        $("#results").html("{% trans "No results found" %}");
                    },
                    dataType: "json"
                });
            }
        });
    }
    $(document).ready(init);
})(jQuery);
</script>
{% endblock %}

{% block content %}
<input type="text" name="query" id="id_query" placeholder="{% trans "Type your query..." %}">
<div id="content2">
    <div class="content2-first">
    <h2>{% trans "Results" %}</h2>
    <div id="results"></div>
</div>
{% endblock %}
