input[type="text"], select {
  font-size: small;
}

select {
  height: 26px;
  width: 316px;
  padding-bottom: 4px;
  padding-top: 4px
}


.buttonLinkOption input {
  margin: 3px;
}

.prev-button {
  margin-left: 3px;
}

.alink {
vertical-align: middle;
}

.icon {
  color: #555;
}

th.report {
  min-width: 66px
}

.chart-select {
    float: left;
    width: 10em;
    margin-right: 1em;
    margin-top:
}

.highchart-cont {
  overflow: hidden;
  height: 100px;
  max-width: 200px;
}

.highchart-cont:hover {
  overflow-y: scroll;
}

.hoverdiv {
  height: 75px;
  overflow: hidden;
}

.hoverdiv:hover {
  overflow-y:scroll;
}
.background-text {
  color: #99999D;
  font-style: italic;
}

.cont {
    max-height: 600px;
    min-height: 500px
}

.content2-first {
    width: 347px;
    float: left;
    padding-left: 2px;
}

.content2-cont {
    width: 710px;
    float: left;
    padding-left: 30px;
}

.col {
    float: left;
    width: auto;
    padding: 10px;
 }

.cellcol {
  width: 50%;
 }

 .chartcol {
  width: 40%;
 }

.row {
  float: left;
  width: 100%;
}

.pdf-row {
  margin-top: 100px;
  float: left;
  width: 100%;
  width: 1025
}

.table-button {
  margin: 2px;
}

.editable-table {
  width: 100%;
  height: 450px;
  overflow: hidden;
  margin-bottom: 5px;
}

.editable-table:hover {
  overflow-y: scroll;
}

.rows {
  width: 650px;
}

.edit-rows {
  width: 1120px;
  margin-top: 10px;
}

.trow {
  margin-left: 11px;
  width: 1100px;
}

.pages {
  min-height: 204px;
  padding-top: 10px;
  padding-bottom: 20px;
  border: 1px solid black;
  width: 1120px;
}

.pagebreak {
    position: relative;
    background-color: white;
    width: 1122px;
    right: 1px;
    height: 50px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

.breakline {
    border-top: dotted 1px red;
    width: 1100px;
    margin-top: 24.5px;
}

.bottom .tcell {
  border-bottom: 2px solid #348E82;
}

.tcell {
  border-top: 2px solid #348E82;
  height: 100%;
  float: left;
  position: relative;
  border-left: 2px solid #348E82;
}

.tcell.final {
  border-right: 2px solid #348E82;
}

.chart-canvas {
  height: 100%;
  position: absolute;
  width: 100%;
}

.preview-canvas {
  height: 500px;
  width: 500px;
}

.prev-cont {
  padding-bottom: 10px;
  height: 400px;
  overflow: hidden;
}

.prev-cont:hover {
  overflow-y: scroll;
}


.arrow {
  position: absolute;
  margin: auto;
  font-size: x-large;
  font-weight: bold;
}

.arrow.left {
  top: 40%;
  left: 0;
}

.arrow.right-in {
  top: 60%;
  left: 0;
}

.arrow.up {
  top: 0;
  left: 50%;
}

.arrow.right {
  top: 40%;
  right: 0;
}

.arrow.left-in {
  top: 60%;
  right: 0;
}

.editable-row {
  height: 200px;
}

.close {
  font-size: x-large;
  position: absolute;
  margin: auto;
  top: 1%;
  left: 3%;
}

textarea.markdown {
  width: 100%;
  height: 170px;
  padding: 0px;
  margin: 0px;
  position: absolute;
  bottom:0;
  text-align: left;
  outline: 0px solid transparent;
}

.arrow.down {
  bottom: 0;
  left: 50%;
}

.query {
  text-align: center;
  width: 70%;
  margin: 0 auto;
  height: 175px
}

.query select {

  width: 50%;
}

.cellcol select {
  width: 90%;
}

.series-div  {
  float: left;
}

.series-label {
  font-weight: bold;
  vertical-align: bottom;
}

.delete {
  position: absolute;
  top: 0;
  left: 1px;
  font-size: 16px;
}

.display-cell {
  height: 175px;
  overflow: hidden;
}

img {
  height: 150px;
  width: 150px;
  float: left;
}


.display-cell h1              { margin: .67em 0; font: normal 22px Georgia;}
.display-cell h2              { color: #555;  margin: .75em 0; font: normal 19px Georgia; }
.display-cell h3              { margin: .83em 0; font: normal 16px Georgia; }
.display-cell h4              { margin: 1.12em 0; font: normal 13px Georgia; }
.display-cell h5              { margin: 1.5em 0; font: normal 10px Georgia; }
.display-cell h6              { margin: 1.67em 0; font: normal 17px Georgia; }
.display-cell strong          { font-weight: bolder }
.display-cell em              { font-style: italic }
.display-cell i               { font-style: italic }
.display-cell blockquote      { margin-left: 40px; margin-right: 40px }
.display-cell hr              { border: 1px inset }
.display-cell ul              { margin-top: 0; margin-bottom: 0; margin-left: 40px; list-style-type: disc; }
.display-cell ol              { margin-top: 0; margin-bottom: 0; margin-left: 40px; list-style-type: decimal }

.preview-cell {
  height: 400px;
}
